{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Licence{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />{% endblock %}
{% block Content%}





    {% if ecole is defined%}
        <div class="row" style="height: 60px; margin: 0;">
            <img class="col-xs-1" src="data:image/jpg;base64,{{ ecole.getLogo }}"
                 style="padding: 10px; height: 40px;">
            <div class="col-xs-4">
                <div class="col-xs-12"
                     style="height: 20px; text-align: left; padding: 15px;">{{ ecole.getNom }} - {{ ecole.getVille }}</div>
                <div class="col-xs-12" style="height: 20px; text-align: left;">{{ecole.getAdresse }}, {{ ecole.getCodePostal }} {{ ecole.getVille }}</div>
            </div>
            <div class="col-xs-offset-5 col-xs-1">
                <div class="col-xs-12" style="height: 20px;; padding-top: 10px;">549</div>
                <div class="col-xs-12" style="height: 20px;">Apprenant</div>
            </div>
            <div class=" col-xs-1">
                <div class="col-xs-12" style="height: 20px; padding-top: 10px;">151</div>
                <div class="col-xs-12" style="height: 20px;">Missions</div>
            </div>
        </div>

        <div class="row" style="margin: 0;overflow-y: auto;height: 100%">

            <div class="col-xs-9"
                 style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12" style="height: 50px;">
                    <div class="btn-group"
                         style="height: 35px; width: 100%; padding: 15px 0 0 15px;">
                        <select title="" id="select_info_ecole" class="btn btn-default dropdown-toggle">
                            <option value="info_ecole">Information</option>
                            <option value="info_licence_ecole">Licences</option>
                            <option selected="selected" value="info_user_ecole">Utilisateurs</option>
                            <option value="info_ecole_ecole">Ecoles liées</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12" style="margin-bottom: 50px">
                    <div id="info_ecole" class="list-group affichage"
                         style="display: none;">

                        <label class="list-group-item info" >Nom école : {{ecole.getNom}}</label>
                        <label class="list-group-item info" >Adresse : {{ecole.getAdresse}}</label>
                        <label class="list-group-item info" >Code Postal : {{ecole.getCodepostal}}</label>
                        <label class="list-group-item info" >Ville : {{ecole.getVille}}</label>
                        <label class="list-group-item info" >Téléphone : {{ecole.getTelephone}}</label>
                        <label class="list-group-item info" >FAX : {{ecole.getFax}}</label>
                        <label class="list-group-item info" >Responsable école : {{ecole.getResponsable}}</label>
                        <label class="list-group-item info" >Téléphone responsable école : {{ecole.getTelResponsable}}</label>
                        <label class="list-group-item info" >Email responsable école : {{ecole.getMailResponsable}}</label>
                        <label class="list-group-item info" >Site web : {{ecole.getSite}}</label>
                        <img alt="Logo" src="data:image/jpg;base64,{{ ecole.getLogo }}"/>
                    </div>

                    <div id="info_licence_ecole" class="list-group affichage"
                         style="display: none;">

                        <table id="tableLibs">
                            <tr>
                                <td>Id</td>
                                <td>Libelle</td>
                                <td>Decription</td>
                                <td>Date début</td>
                                <td>Date Fin</td>
                                <td style="border: none"><button onclick="post('{{ path('metier_user_instance') }}',{'from':'ecole',idecole:{{ ecole.getId }}})" type="button" style="border: none">+</button></td>
                            </tr>
                            {% if libs is defined %}
                                {% for lib in libs %}
                                    <tr>
                                        <td>{{ lib.getIdLicence }}</td>
                                        <td>{{ lib.getLibelle }}</td>
                                        <td>{{ lib.getDescription }}</td>
                                        <td>{{ lib.getDatedebut }}</td>
                                        <td>{{ lib.getDatefin }}</td>
                                        <td style="border: none"><button onclick="supprimerligne('{{ path('supprimer_LicenceEcole',{'id': lib.getIdLicence}) }}',this)" type="button" style="border: none">x</button></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>

                    </div>

                    <div id="info_user_ecole" class="list-group affichage">

                        <form class="formulaire" id="form" action="{{ path("user_added") }}" method="post">
                            <input type="hidden" id="from" name="_from" value="{{ from }}">
                            <input type="hidden" id="id" name="_id" value="{{ ecole.getId }}">
                            <div class="inputcontainer">
                                <label class="list-group-item" for="Username">Username :</label>
                                <input type="text" class="champ form-control" id="Username" name="_Username">
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="vertical-align: top" for="mail">E-mail : </label>
                                <input type="email" class="champ form-control" id="mail" name="_mail">
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" >Role :</label>
                                <select title="" name="_role">
                                    <option value="ROLE_ADMINECOLE">Administrateur école</option>
                                    <option value="ROLE_RECRUTE">Recruteur Placeur</option>
                                </select>
                            </div>
                            <input type="submit" value="envoyer">
                        </form>

                    </div>

                    <div id="info_ecole_ecole" class="list-group affichage"
                         style="display: none;">

                        <table>
                            <tr>
                                <td>Id</td>
                                <td>Nom</td>
                                <td>Adresse</td>
                                <td>Ville</td>
                                <td>Nom Responsable</td>
                                <td style="border: none"><button onclick="post('{{ path('associer_ecoles',{'id': ecole.getId}) }}')" type="button" style="border: none">+</button></td>
                            </tr>

                            {% for ecoles in ecole.getEcole1 %}
                                <tr>
                                    <td>{{ ecoles.getId }}</td>
                                    <td>{{ ecoles.getNom }}</td>
                                    <td>{{ ecoles.getAdresse }}</td>
                                    <td>{{ ecoles.getVille }}</td>
                                    <td>{{ ecoles.getResponsable }}</td>
                                    <td style="border: none"><button onclick="" type="button" style="border: none">x</button></td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-xs-3"
                 style="background: rgb(238, 241, 246); height: 100%;">
                <div class="list-group"
                     style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                    <button type="button" class="list-group-item rightMenu" style="background-color: limegreen">
                        <div class="col-xs-12" style="display: inline-table;color: white;">Active</div>
                    </button>
                    <button onclick="post('{{ path('addecole',{'id': ecole.getId }) }}',{})" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                        <div class="col-xs-12"  style="display: inline-table;color: white;">Modifier la fiche</div>

                    </button>
                    <button onclick="post('{{ path('supprimerecole',{'id': ecole.getId }) }}',{})" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                        <div class="col-xs-12"  style="display: inline-table;color: white;">Supprimer l'ecole</div>

                    </button>
                    <button onclick="alert('Ce button n\'est pas encore fonctionel!')" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                        <div class="col-xs-12"  style="display: inline-table;color: white;">Gérer les droits</div>

                    </button>

                </div>
            </div>

        </div>

    {% elseif societe is defined %}
        <div id="adresse" style="border: 50px solid white;display:none">
            <label style="height: 10px;" class="">Etablissement : </label>
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="SIRET">SIRET : </label>
                <input class="champ" type="text" id="SIRET" name="_SIRET[]">
            </div>
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="Adresse">Adresse : </label>
                <input class="champ" type="text" id="Adresse" name="_Adresse[]">
            </div>
            <input type="hidden" class="form-control" id="Geocode" name="_Geocode[]">
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="CodeP">Code Postal : </label>
                <input class="champ" type="text" id="CodeP" name="_CodeP[]">
            </div>
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="Ville">Ville : </label>
                <input class="champ" type="text" id="Ville" name="_Ville[]">
            </div>
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="Tel">Téléphone : </label>
                <input class="champ" type="tel" id="Tel" name="_Tel[]">
            </div>
            <div class="inputcontainer">
                <label class="list-group-item" style="height: 60px;" for="Fax">FAX : </label>
                <input class="champ" type="tel" id="Fax" name="_Fax[]">
            </div>
        </div>

        <div class="row" style="height: 60px; margin: 0;">

        </div>

        <div class="row" style="margin: 0;overflow-y: auto;height: 100%">

            <div class="col-xs-9"
                 style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12" style="height: 50px;">
                    <div class="btn-group"
                         style="height: 35px; width: 100%; padding: 15px 0 0 15px;">
                        <select title="" id="selectinfosociete" class="btn btn-default dropdown-toggle">
                            <option value="info_societe">Information</option>
                            <option value="info_licence_societe">Licences</option>
                            <option selected="selected" value="info_user_societe">Utilisateurs</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12" style="margin-bottom: 50px">
                    <div id="info_societe" class="list-group affichage"
                         style="display: none;">

                        <label class="list-group-item info" >Siren : {{societe.getSiren}}</label>
                        <label class="list-group-item info" >Raison sociale : {{societe.getRaiSoc}}</label>
                        {% if etablissements is defined %}
                            {% for etab in etablissements %}
                                <div id="adresse" style="border: 50px solid white;">
                                    <label style="height: 10px;" class="">Etablissement : </label>
                                    <label class="list-group-item info" >Siret : {{etab.getSiret}}</label>
                                    <label class="list-group-item info" >Adresse : {{etab.getAdresse}}</label>
                                    <label class="list-group-item info" >Code postal : {{etab.getCodepostal}}</label>
                                    <label class="list-group-item info" >Ville : {{etab.getVille}}</label>
                                    <label class="list-group-item info" >Téléphone : {{etab.getTelephone}}</label>
                                    <label class="list-group-item info" >Fax : {{etab.getFax}}</label>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>


                    <div id="info_licence_societe" class="list-group affichage"
                         style="display: none;">

                        <table>
                            <tr>
                                <td>Id</td>
                                <td>Libelle</td>
                                <td>Decription</td>
                                <td>Date début</td>
                                <td>Date Fin</td>
                                <td style="border: none"><button onclick="post('{{ path('metier_user_instance') }}',{'from':'societe',idsociete:{{ societe.getId }}})" type="button" style="border: none">+</button></td>
                            </tr>
                            {% if libs is defined %}
                                {% for lib in libs %}
                                    <tr>
                                        <td>{{ lib.getIdLicence }}</td>
                                        <td>{{ lib.getLibelle }}</td>
                                        <td>{{ lib.getDescription }}</td>
                                        <td>{{ lib.getDatedebut }}</td>
                                        <td>{{ lib.getDatefin }}</td>
                                        <td style="border: none"><button onclick="post('{{ path('supprimer_LicenceSoc') }}',{id:{{ lib.getIdLicence }}})" type="button" style="border: none">x</button></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>

                    </div>

                    <div id="info_user_societe" class="list-group affichage">

                        <form class="formulaire" id="form" action="{{ path("user_added") }}" method="post">
                            <input type="hidden" id="from" name="_from" style="display: none" value="societe">
                            <input type="hidden" id="id" name="_id" style="display: none" value="{{ societe.getId }}">
                            <div class="inputcontainer">
                                <label class="list-group-item" >Username :</label>
                                <input type="text" class="champ form-control" id="Username" name="_Username">
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="vertical-align: top">E-mail : </label>
                                <input type="email" class="champ form-control" id="mail" name="_mail">
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" >Role :</label>
                                <select title="" name="_role">
                                    <option value="ROLE_ADMINSOC">Administrateur Société</option>
                                    <option value="ROLE_TUTEUR">Tuteur</option>
                                </select>
                            </div>
                            <input type="submit" value="envoyer">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-3"
                 style="background: rgb(238, 241, 246); height: 100%;">
                <div class="list-group"
                     style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                    <button type="button" class="list-group-item rightMenu" style="background-color: limegreen">
                        <div class="col-xs-12" style="display: inline-table;color: white;">Active</div>
                    </button>
                    <button onclick="post('{{ path('addsociete',{'id': societe.getId }) }}',{})" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                        <div class="col-xs-12"  style="display: inline-table;color: white;">Modifier la fiche</div>

                    </button>

                </div>
            </div>

        </div>
    {% elseif from=='super' %}
        <div class="row" style="margin: 0;overflow-y: auto;height: 100%">



        <div class="col-xs-9"
             style="background: rgb(238, 241, 246); height: 100%;">

            <div class="col-xs-12">
                <div class="list-group affichage">
                    <form class="formulaire" id="form" action="{{ path("user_added") }}" method="post">
                        <input type="hidden" id="from" name="_from" style="display: none" value="{{ from }}">
                        <input type="hidden" id="id" name="_id" style="display: none" value="{{ id }}">
                        <div class="inputcontainer">
                            <label class="list-group-item" >Username :</label>
                            <input type="text" class="champ form-control" id="Username" name="_Username">
                        </div>
                        <div class="inputcontainer">
                            <label class="list-group-item" style="vertical-align: top">E-mail : </label>
                            <input  type="email" class="champ form-control" id="mail" name="_mail">
                        </div>

                        <div class="inputcontainer">
                            <label class="list-group-item" >Role :</label>
                            <select title="" name="_role">
                                <option value="ROLE_SUPERADMIN">Super Administrateur</option>
                            </select>
                        </div>
                        <input type="submit" value="envoyer">

                    </form>
                </div>
            </div>
        </div>






            <div class="col-xs-3"
                 style="background: rgb(238, 241, 246); height: 100%;">
                <div class="list-group"
                     style="margin: 15px 0 0 15px;height: 100%; background-color: white;">


                </div>
            </div>
        </div>
    {% endif %}




{% endblock %}