{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Ecole{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />{% endblock %}
{% block Content%}
    <div id="adresse" style="border: 50px solid white;display:none">
        <label style="height: 10px;" class="">Etablissement : </label>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;" for="SIRET">SIRET : </label>
            <input class="champ" type="text" id="SIRET" name="_SIRET[]" required>
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;" for="Adresse">Adresse : </label>
            <input class="champ" type="text" id="Adresse" name="_Adresse[]" required>
        </div>
        <input type="hidden" class="form-control" id="Geocode" name="_Geocode[]" required>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Code Postal : </label>
            <input class="champ" type="text" id="CodeP" name="_CodeP[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Ville : </label>
            <input class="champ" type="text" id="Ville" name="_Ville[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Téléphone : </label>
            <input class="champ" type="tel" id="Tel" name="_Tel[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">FAX : </label>
            <input class="champ" type="tel" id="Fax" name="_Fax[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Responsable : </label>
            <input class="champ" type="text" id="Fax" name="_Resp[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Téléphone responsable : </label>
            <input class="champ" type="tel" id="Fax" name="_TelResp[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Email responsable : </label>
            <input class="champ" type="email" id="Fax" name="_MailResp[]">
        </div>
        <div class="inputcontainer">
            <label class="list-group-item" style="height: 60px;">Site web : </label>
            <input class="champ" type="url" id="Fax" name="_Site[]">
        </div>
    </div>

    <div class="row" style="height: 60px; margin: 0;">

    </div>

    <div class="row" style="margin: 0;overflow-y: auto;height: 100%">

        <div class="col-xs-9"
             style="background: rgb(238, 241, 246); height: 100%;">

            <div class="col-xs-12">
                <div class="list-group affichage">


                    <form class="formulaire" id="form" action="{{ path('tieradded') }}" method="post" enctype="multipart/form-data">

                        <div class="inputcontainer">
                            <label class="list-group-item" style="height: 60px;" for="SIREN">SIREN :</label>
                            <input type="text" class="champ form-control" id="SIREN" name="_SIREN">
                        </div>

                        <div class="inputcontainer">
                            <label class="list-group-item" style="height: 60px;" for="RaisonSoc">Raison sociale :</label>
                            <input type="text" class="champ form-control" id="RaisonSoc" name="_RaisonSoc">
                        </div>
                        <div class="inputcontainer">
                            <label class="list-group-item" style="height: 60px;" for="Logo">Logo école : </label>
                            <input accept="image/*" type="file" class="champ form-control" id="Logo" name="_Logo">
                        </div>
                        <div class="inputcontainer">
                            <label class="list-group-item" style="height: 60px;" for="image">Image de fond : </label>
                            <input  accept="image/*" type="file" class="champ form-control" id="image" name="_image">
                        </div>
                        <input  type="hidden" id="Ecole" name="_Ecole" value="{{ type }}">
                        <div id="adressecontainer">

                        </div>
                    </form>


                </div>
            </div>
        </div>

        <div class="col-xs-3"
             style="background: rgb(238, 241, 246); height: 100%;">
            <div class="list-group"
                 style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                <button onclick="dupliqueradresse()" type="button" class="list-group-item rightMenu" style="background-color: limegreen">
                    <div class="col-xs-12" style="display: inline-table;color: white;">Ajouter une adresse</div>
                </button>
                <button onclick="envoyeradresses()" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                    <div class="col-xs-12"  style="display: inline-table;color: white;">Valider</div>

                </button>

            </div>
        </div>
    </div>
    <script>
        function dupliqueradresse() {
            var dup = document.getElementById("adresse");
            var clone = dup.cloneNode(true);
            clone.style.display = 'block';
            document.getElementById("adressecontainer").appendChild(clone);
        }
        function submitAjaxForm(url,form){
            $.ajax({
                type: "POST",
                url: url,
                data: $("#"+form+"").serialize(),
                success: function(data)
                {
                    if(data['status']==='success')
                    {
                        $.ajax({
                            type: "POST",
                            url: '{{ path('tieradded') }}',
                            data: $("#"+form+"").serialize(),
                            success: function(data)
                            {
                                console.log(data);
                            }
                        });
                        window.parent.location.reload();
                    }
                    else
                    {
                        alert(data['status']); // show response from the php script.
                    }
                }
            });
        }

        function envoyeradresses(){
            var geocodes = document.getElementsByName('_Geocode[]');
            if(geocodes.length==1)
            {
                submitAjaxForm('{{ path('checkExist') }}','form');
            }
            for(var i = 1; i<geocodes.length;i++)
            {
                var address = document.getElementsByName('_Adresse[]')[i].value +' ' +document.getElementsByName('_Ville[]')[i].value + ' ' + document.getElementsByName('_CodeP[]')[i].value  ;
                var geocoder = new google.maps.Geocoder();

                var result = geocodes[i];
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                        result.value = results[0].geometry.location ;
                        submitAjaxForm('{{ path('checkExist') }}','form');
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        }

    </script>

{% endblock %}