{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Société{% endblock %}
{% block CSS %}
    <link rel="stylesheet" href="{{ asset('css/qcm.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/raptor-front-end.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}" />
{% endblock %}
{% block Content%}
    <div class="row" style="margin: 0;overflow-y: auto;height: calc(100% - 224px)">



        <div class="col-xs-9"
             style="background: rgb(238, 241, 246); height: 100%;">

            <div class="col-xs-12">
                <div class="list-group"
                     style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">
                    {% if modele is defined %}
                    <form class="formulaire" id="form" action="{{ path("saveNewModele") }}" method="post" onsubmit="ShowWaiter();">
                        <div class="inputcontainer">
                            <label class="list-group-item" for="filename" >Nom Fichier :</label>
                            <label class="list-group-item">{{ modele }}</label>
                            <input type="hidden" class="champ form-control" id="filename" name="_filename" value="{{ modele }}" maxlength="45" required>
                        </div>
                        <div class="inputcontainer">
                            <label for="newtext" class="list-group-item" style="vertical-align: top">Text : </label>
                            <textarea class="raptor-editable" form="form" id="newtext" name="_newtext" style="width: 50px; height: 100px;">{{ body }}</textarea>
                        </div>
                    </form>
                    {% else %}
                        <form class="formulaire" id="form" action="{{ path("saveNewModele") }}" method="post">
                            <div class="inputcontainer">
                                <label for="filename" class="list-group-item" >Nom Fichier :</label>
                                <input type="text" class="champ form-control" id="filename" name="_filename" maxlength="45" required>
                            </div>
                            <div class="inputcontainer">
                                <label for="newtext" class="list-group-item" style="vertical-align: top">Text : </label>
                                <textarea class="raptor-editable" form="form" id="newtext" name="_newtext" style="width: 50px; height: 100px;"></textarea>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>






        <div class="col-xs-3"
             style="background: rgb(238, 241, 246); height: 100%;">
            <div class="list-group"
                 style="margin: 30px 0 0 30px;height: 100%; background-color: white;">
                <button onclick="submitform('form')"  type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                    <div class="col-xs-12"  style="display: inline-table;color: white;">Valider</div>

                </button>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/raptor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
    <script>
        function submitform(form) {
            document.getElementById(form).submit();
        }
        raptor(function($){
            $('.raptor-editable').raptor({
                autoEnable: true,
                enableUi: false,
                unloadWarning: false,
                classes: 'raptor-editing-inline',
                plugins: {
                    alignCenter:true,
                    alignJustify:true,
                    alignLeft:true,
                    alignRight:true,
                    //cancel:true,
                    classMenu:true,
                    clearFormatting:true,
                    //clickButtonToEdit:true,
                    colorMenuBasic:true,
                    //dockToElement:true,
                    //dockToScreen:true,
                    embed:true,
                    floatLeft:true,
                    floatNone:true,
                    floatRight:true,
                    //fontFamilyMenu:true,
                    //guides:true,
                    historyRedo:true,
                    historyUndo:true,
                    //hrCreate:true,
                    insertFile:true,
                    //languageMenu:true,
                    linkCreate:true,
                    linkRemove:true,
                    listOrdered:true,
                    listUnordered:true,
                    //logo:true,
                    //save:true,
                    //snippetMenu:true,
                    specialCharacters:true,
                    //statistics:true,
                    tableCreate:true,
                    tableDeleteColumn:true,
                    tableDeleteRow:true,
                    tableInsertColumn:true,
                    tableInsertRow:true,
                    tableMergeCells:true,
                    tableSplitCells:true,
                    tagMenu:true,
                    //textBlockQuote:true,
                    textBold:true,
                    textItalic:true,
                    textSizeDecrease:true,
                    textSizeIncrease:true,
                    textStrike:true,
                    textSub:true,
                    textSuper:true,
                    textUnderline:true,
                    save:false,
                    saveJson:false,
                    revisions:false,
                    //viewSource:true,
                    dock: {
                        docked: true,
                        dockToElement: true
                    },
                    unsavedEditWarning: false
                }
            });
        });
    </script>
{% endblock %}

