{% extends "AdminBundle:Admin:iFrameContent.html.twig" %}
{% block title %}Ajouter Société{% endblock %}
{% block CSS %}<link rel="stylesheet" href="{{ asset('css/qcm.css') }}" />{% endblock %}
{% block Content%}

    <div id="question" class="inputcontainer" name="question" style="display: none;">
        <label class="list-group-item" style="height: 60px;">Question :</label>
        <input title="question" type="text" class="champ form-control" id="Question">
        <button onclick="dupliquer('reponse',this.parentNode.getAttribute('id'))" type="button">Ajouter Reponse</button>
        <button onclick="monter(this.parentNode)" type="button">Monter</button>
        <button onclick="descendre(this.parentNode)" type="button">Descendre</button>
        <button onclick="supprimer(this.parentNode)" type="button">Supprimer Question</button>
        <div id="reponse">
            <input title="reponse" type="text" class="champ form-control" id="inputrep">
            <button onclick="monter(this.parentNode)" type="button">Monter</button>
            <button onclick="descendre(this.parentNode)" type="button">Descendre</button>
            <button onclick="supprimer(this.parentNode)" type="button">Supprimer</button>
        </div>
        <div>
            <input title="reponse" type="text" class="champ form-control" id="inputrep">
            <button onclick="monter(this.parentNode)" type="button">Monter</button>
            <button onclick="descendre(this.parentNode)" type="button">Descendre</button>
            <button onclick="supprimer(this.parentNode)" type="button">Supprimer</button>
        </div>

    </div>

    {% if QCM is defined %}
        <div class="row" style="margin: 0;overflow-y: auto;height: 100%">
            <div class="col-xs-9"
                 style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12">
                    <div class="list-group"
                         style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">


                        <form class="formulaire" id="form" action="{{ path('Add_QCM') }}" method="post">

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="QCM">Nom du Questionnaire :</label>
                                <input type="text" class="champ form-control" id="QCM" name="_Nom" value="{{ QCM.getNom }}">
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="affinite">Test d'affinité :</label>
                                {% if QCM.getAffinite %}
                                <input type="text" class="champ form-control" id="affinite" name="_affinite" value="1">
                                {% else %}
                                    <input type="text" class="champ form-control" id="affinite" name="_affinite" value="0">
                                {% endif %}
                            </div>
                            {% if Questions is defined %}
                                {% set i = 0 %}
                                {% for question in Questions %}
                                    <div id="{{ i }}" class="inputcontainer" name="question">
                                        <label class="list-group-item" style="height: 60px;" for="Question">Question :</label>
                                        <input type="text" class="champ form-control" id="Question" name="questions[]" value="{{question.getQuestion  }}" >
                                        <button onclick="dupliquer('reponse',this.parentNode.getAttribute('id'))" type="button">Ajouter Reponse</button>
                                        <button onclick="monter(this.parentNode)" type="button">Monter</button>
                                        <button onclick="descendre(this.parentNode)" type="button">Descendre</button>
                                        <button onclick="supprimer(this.parentNode)" type="button">Supprimer Question</button>
                                        {% if reponses is defined %}
                                            {% for reponse in reponses %}
                                                {% for rep in reponse %}
                                                    {%  if rep.getQuestiondef.getId == question.getId %}
                                                        <div>
                                                            <input title="reponse" type="text" class="champ form-control" id="inputrep" name="reponse[{{ i }}][]" value="{{ rep.getReponse }}">
                                                            <button onclick="monter(this.parentNode)" type="button">Monter</button>
                                                            <button onclick="descendre(this.parentNode)" type="button">Descendre</button>
                                                            <button onclick="supprimer(this.parentNode)" type="button">Supprimer</button>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% set i = i + 1 %}
                                {% endfor %}

                            {% endif %}

                            <div id="button_container">
                                <button onclick="dupliquer('question')" type="button" style="vertical-align: bottom">Ajouter Question</button>
                                <button onclick="check()" type="button" style="vertical-align: bottom">Valider le QCM</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-3"
                 style="background: rgb(238, 241, 246); height: 100%;">
                <div class="list-group"
                     style="margin: 30px 0 0 30px;height: 100%; background-color: white;">
                    <button type="button" class="list-group-item rightMenu" style="background-color: limegreen">
                        <div class="col-xs-12" style="display: inline-table;color: white;">Active</div>
                    </button>
                    <button onclick="window.location.assign('{{ path('supprimerQCM',{'nom':QCM.getNom }) }}')" type="button" class="list-group-item rightMenu" style="background-color: #2A76CC">
                        <div class="col-xs-12"  style="display: inline-table;color: white;">Supprimer le QCM</div>

                    </button>

                </div>
            </div>
        </div>
    {% else %}
        <div class="row" style="margin: 0;overflow-y: auto;height: 100%">

            <div class="col-xs-12"
                 style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12">
                    <div class="list-group"
                         style="background: #1B2024; margin: 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">


                        <form class="formulaire" id="form" action="{{ path('Add_QCM') }}" method="post">

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;">Nom du Questionnaire :</label>
                                <input type="text" class="champ form-control" id="QCM" name="_Nom">
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;">Affinite :</label>
                                <input type="text" class="champ form-control" placeholder="0 pour test formation/1 pour test d'affinité" id="affinite" name="_affinite">
                            </div>

                            <div id="button_container">
                                <button onclick="dupliquer('question')" type="button" style="vertical-align: bottom">Ajouter Question</button>
                                <button onclick="check()" type="button" style="vertical-align: bottom">Valider le QCM</button>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script language="JavaScript">
        function dupliquer(div,parent) {
            var dup = document.getElementById(div);
            var clone = dup.cloneNode(true);
            if(div=='question')
            {
                var idDiv = document.getElementsByName("question").length - 1;
                clone.setAttribute("id",idDiv);
                clone.style.display = 'table';
                clone.getElementsByTagName("input")[0].setAttribute("name","questions[]");
                clone.getElementsByTagName("input")[1].setAttribute("name","reponse["+idDiv+"][]");
                clone.getElementsByTagName("input")[2].setAttribute("name","reponse["+idDiv+"][]");
                document.getElementById('form').insertBefore(clone,document.getElementById('button_container'));
            }
            if(div=='reponse')
            {
                clone.getElementsByTagName("input")[0].setAttribute("name","reponse["+parent+"][]");
                document.getElementById(parent).appendChild(clone);
            }
        }
        function descendre(champs){
            if(champs === champs.parentNode.lastChild)
            {
                alert('le champs ne peut plus decsendre d avantage');
            }
            else
            {
                if(champs.nextSibling.hasChildNodes())
                {
                    champs.parentNode.insertBefore(champs.nextSibling, champs);
                }
                else
                {
                    champs.parentNode.insertBefore(champs.nextSibling.nextSibling, champs);
                }
            }

        }
        function monter(champs){
            if( champs === champs.parentNode.getElementsByTagName('div')[0] )
            {
                alert('le champs ne peut plus montrer d avantage');
            }
            else
            {
                if(champs.previousSibling.hasChildNodes())
                {
                    champs.parentNode.insertBefore(champs, champs.previousSibling);
                }
                else
                {
                    champs.parentNode.insertBefore(champs, champs.previousSibling.previousSibling);
                }
            }

        }
        function check(){
            var inputs = document.getElementById("form").getElementsByTagName("input");
            for(var i = 0; i < inputs.length+1; i++)
            {
                if(i==inputs.length)
                {
                    document.getElementById("form").submit();
                    break;
                }
                if(!inputs[i].value)
                {
                    inputs[i].style.backgroundColor = 'red';
                    alert('Un champ est vide');
                    break;
                }
                else
                {
                    inputs[i].style.backgroundColor = '#D3D3D3';
                }

            }

        }
        function supprimer(champs){
            var route = '{{path('supprimer_QCM',{'rep':"reponse",'qst':"question",'qcm':"QCMHolder" })}}';
            var input = champs.getElementsByClassName('champ')[0];
            route = route.replace("QCMHolder", encodeURIComponent(document.getElementById('QCM').value));
            if(input.getAttribute('id')=='inputrep')
            {
                route = route.replace("question", encodeURIComponent(input.parentNode.parentNode.getElementsByClassName('champ')[0].value));
                route = route.replace("reponse", encodeURIComponent(input.value));
            }
            if(input.getAttribute('id')=='Question')
            {
                route = route.replace("question", encodeURIComponent(input.value) );
                route = route.replace("reponse", null);
            }

            $.ajax({
                type: 'get',
                url: route
            });

            champs.remove('div.editfield');
        }

    </script>
{% endblock %}