<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body>

<div class="container" style="padding: 0;">
    {% block Content %}

    {% if etablissement is defined %}
        <div id="instanceLicence" class="popup">
            <div onclick="hide(this)" class="close"></div>
            <div class="col-xs-offset-3 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                <!--div class="btn-group" style="width: 100%">
                <button type="button" class="btn btn-default dropdown-toggle nav"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Filtre
                </button>
                <ul id="filtre" class="dropdown-menu" aria-labelledby="dropdownMenu1">

                </ul>
            </div-->


                <form  class="formulaire" id="formInstanceLicence" action="{{ path("metier_user_associated") }}" method="post">
                    <div class="div_form" >
                        <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                        <select class="input" title="Licencedef" name="Licencedef" required>
                            {% for def in licencedef %}
                                <option value="{{ def.getId }}">{{ def.getLibelle }}</option>
                            {% endfor %}
                        </select>

                        <input class="date hide-spinbtns" placeholder="Date Début" type="date" id="Date" name="_Date" data-date='{"buttonOnly": true,	"calculateWidth": false}' required>
                    </div>
                    <div class="div_button">
                        <input class="blue" type="submit" value="Valider">
                    </div>
                </form>


            </div>
        </div>
        <div id="adduser" class="popup">
            <div onclick="hide(this)" class="close"></div>
            <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block">


                <form id="formadduser" class="formulaire" action="{{ path("user_added") }}" method="post">
                    <input type="hidden" id="id" name="_id" value="{{ etablissement.getId }}">
                    <div class="div_form" >

                        <div class="col-xs-6 input-colonne">
                            <input type="text" class="input" id="Username" name="_Username" placeholder="Username">

                            <input type="email" class="input " id="mail" name="_mail" placeholder="Email">

                            <select class="input" title="" name="_role">
                                <option selected="selected">Sélectionner un role</option>
                                {% if etablissement.getTier.getEcole %}
                                    <option value="ROLE_ADMINECOLE">Administrateur école</option>
                                    <option value="ROLE_RECRUTE">Recruteur Placeur</option>
                                {% else %}
                                    <option value="ROLE_ADMINSOC">Administrateur Société</option>
                                    <option value="ROLE_TUTEUR">Tuteur</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select class="input " style="width: 25%; margin-right: 10px" title="" name="civilite">
                                <option value="Mr">Mr.</option>
                                <option value="Mme">Mme.</option>
                                <option value="Mlle">Mlle.</option>
                            </select>

                            <input type="text" class="input" style="width: calc(75% - 10px);" id="Prenom" name="_Prenom" placeholder="Prénom">
                            <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom">

                            <input type="tel" class="input " id="Tel" name="_Tel" placeholder="Tel">
                        </div>


                    </div>
                    <div class="div_button">
                        <input class="blue" type="submit" value="envoyer">
                    </div>
                </form>







        </div>
    </div>

        <div id="addmission" class="popup">
            <div onclick="hide(this)" class="close"></div>
            <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block">
                <form id="formaddmission" class="formulaire" action= "{{ path("mission_added") }}" method="post">

                    <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                    <div class="div_form">
                        <div class="col-xs-6 input-colonne">
                            <input type="text" class="input" id="Intitule" name="_Intitule" placeholder="Intitule" required>
                            <input type="text" class="input " id="Domaine" name="_Domaine" placeholder="Domaine">
                            <input type="text" class="input" id="Profil" name="_Profil" placeholder="Profil">
                            <input type="text" class="input " id="Etat" name="_Etat" placeholder="Etat">
                            <label style="float: left">Date debut :</label> <input style="display: inline-block;width: 200px" type="date" class="input" id="Datedebut" name="_Datedebut" title="Datedebut" >
                            <input type="text" class="input " id="TypeContrat" name="_TypeContrat" placeholder="TypeContrat">

                            <input type="text" class="input " id="Remuneration" name="_Remuneration" placeholder="Remuneration">
                            <input type="text" class="input " id="Horaire" name="_Horaire" placeholder="Horaire">



                        </div>
                        <div class="col-xs-6">

                            <input type="text" class="input " id="NomContact" name="_NomContact" placeholder="NomContact">
                            <input type="text" class="input " id="PrenomContact" name="_PrenomContact" placeholder="PrenomContact">
                            <input type="text" class="input" id="FonctionContact" name="_FonctionContact" placeholder="FonctionContact">
                            <input type="text" class="input" id="TelContact" name="_TelContact" placeholder="TelContact">
                            <input type="text" class="input" id="EmailContact" name="_EmailContact" placeholder="EmailContact">

                            <input type="text" class="input " id="Emploi" name="_Emploi" placeholder="Emploi">
                            <label style="float: left">Date fin :</label><input style="display: inline-block;width: 200px" type="date" class="input " id="Datefin" name="_Datefin" title="Datefin" disabled>


                            <select class="input"   name="userselect" title="" >
                                <option selected="selected">Sélectionner utilisateur</option>
                                {% if usermis is defined %}
                                    {% for user in usermis %}
                                        <option name="_iduse" value="{{ user.getId }}">{{ user.getNom }}</option>
                                    {% endfor %}
                                {% endif %}

                            </select>
                        </div>
                        <textarea  type="text" style="height: 230px;" class="input" id="Descriptif" name="_Descriptif" placeholder="Descriptif"></textarea>
                    </div>
                    <div class="div_button">
                        <input class="blue" type="submit" value="envoyer">
                    </div>
                </form>
            </div>
        </div>




        {% if etablissement.getTier.getEcole %}
            <div id="associerecole" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-4 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                    <form class="formulaire" id="formAssiation" action="{{ path("ecoles_assiciated",{'id':etablissement.getId}) }}" method="post">
                        <div class="div_form">
                            <select class="input" title="" style="height: 100px" name="ecoles[]" multiple>
                                {% for tier in tiers %}
                                    {% if tier.getEcole %}
                                        <option value="{{ tier.getId }}">{{ tier.getRaisonSoc }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="div_button">
                            <input class="blue" type="submit" value="envoyer">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        <div class="row" style="height: 78px; margin: 0;">
            <img class="col-xs-1" src="data:image/jpg;base64,{{ etablissement.getTier.getLogo }}"
                 style="padding: 10px; height: 40px;">
            <div class="col-xs-4">
                <div class="col-xs-12"
                     style="height: 30px; text-align: left; padding: 10px;"><label style="font-size: large" >{{ etablissement.getTier.getRaisonSoc }}&nbsp;-&nbsp;  </label><label style="font-size: large;color:#2A76CC" > {{ etablissement.getVille }}</label></div>
                <div class="col-xs-12" style="height: 20px; text-align: left;">{{etablissement.getAdresse }}, {{ etablissement.getCodePostal }} {{ etablissement.getVille }}</div>
            </div>
            <div class="col-xs-offset-5 col-xs-1">
                <div class="col-xs-12" style="height: 30px;; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 549</label></div>
                <div class="col-xs-12" style="height: 20px;">Apprenant</div>
            </div>
            <div class=" col-xs-1">
                <div class="col-xs-12" style="height: 30px; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 151</label></div>
                <div class="col-xs-12" style="height: 20px;">Missions</div>
            </div>
        </div>


<div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: calc(100% - 78px)">

                <div class="col-xs-9"
                     style="background: rgb(238, 241, 246); height: 100%;">

                    <div class="col-xs-12" style="height: 46px;">
                        <div style="height: 35px; width: 100%; padding: 15px 0 0 15px;">
                            <select title="" id="select_info" class="btn btn-default dropdown-toggle" style="color:white;">
                                <option value="info_etab" style="color:black;">Information</option>
                                <option value="info_licence" style="color:black;">Licences</option>
                                <option value="info_user" style="color:black;">Utilisateurs</option>
                                {% if etablissement.getTier.getEcole %}
                                <option value="info_tier_tier" style="color:black;">Ecoles liées</option>
                                {% else %}
                                    <option value="info_mission" style="color:black;">Missions</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12" style="margin-bottom: 50px">
                        <div id="info_etab" class="list-group affichage">

                            <label class="list-group-item info" >Raison Sociale : <label style="color:black" > {{etablissement.getTier.getRaisonSoc}}</label></label>
                            <label class="list-group-item info" >Adresse :<label style="color:black" > {{etablissement.getAdresse}}</label></label>
                            <label class="list-group-item info" >Code Postal : <label style="color:black" >{{etablissement.getCodepostal}}</label></label>
                            <label class="list-group-item info" >Ville : <label style="color:black" >{{etablissement.getVille}}</label></label>
                            <label class="list-group-item info" >Téléphone :<label style="color:black" > {{etablissement.getTelephone}}</label></label>
                            <label class="list-group-item info" >FAX : <label style="color:black" >{{etablissement.getFax}}</label></label>
                            <label class="list-group-item info" >Responsable école :<label style="color:black" > {{etablissement.getResponsable}}</label></label>
                            <label class="list-group-item info" >Téléphone responsable établissement :<label style="color:black" > {{etablissement.getTelResponsable}}</label></label>
                            <label class="list-group-item info" >Email responsable établissement :<label style="color:black" > {{etablissement.getMailResponsable}}</label></label>
                            <label class="list-group-item info" >Site web : <label style="color:black" >{{etablissement.getSite}}</label></label>
                            <img alt="Fond ecran" src="data:image/jpg;base64,{{ etablissement.getTier.getFondecran }}"/>
                        </div>

                        <div id="info_licence" class="list-group"
                             style="display: none;">

                                {% if libs is defined %}
                                    {% for lib in libs %}
                                        {% set iddiv = random()  %}
                                        <div class="col-xs-12 Liste">
                                            <div class="row">
                                                <label class="cell" >Licence : <label>{{ lib.getId }}</label></label>
                                                <label class="cell">Libelle : <label>{{ lib.getLibelle }}</label>
                                                    <button onclick="supprimerligne('{{ path('supprimer_Licence',{'id': lib.getId}) }}',this)"
                                                                             type="button" style="float: right">x</button>
                                                    <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#licence{{ iddiv }}"></button></label>

                                            </div>
                                            <div id="licence{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Nombre max d'apprenants : <label>{{ lib.getMaxapp }}</label></label>
                                                <label class="cell">Nombre max de mission  : <label>{{ lib.getMaxmission }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Date de début : <label>{{ lib.getDatedebut|date('d/m/Y') }}</label></label>
                                                <label class="cell">Date de fin : <label>{{ lib.getDatefin|date('d/m/Y') }}</label></label>
                                            </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                {% endif %}

                        </div>

                        <div id="info_user" class="list-group affichage"
                             style="display: none;">

                                {% if users is defined %}
                                    {% for user in users %}
                                        {% set iddiv = random()  %}
                                        <div class="col-xs-12 Liste">
                                            <div class="row">
                                                <label class="cell">Email : <label>{{ user.getEmail }}</label></label>
                                                <label class="cell">Username : <label>{{ user.getUsername }}</label>
                                                    <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#user{{ iddiv }}"></button>
                                                </label>

                                            </div>
                                            <div id="user{{ iddiv }}" class="collapse in" >
                                                <div class="row">
                                                    <label class="cell">Nom : <label>{{ user.getNom }}</label></label>
                                                    <label class="cell">Prénom  : <label>{{ user.getPrenom }}</label></label>
                                                </div>
                                                <div class="row">
                                                    <label class="cell">Téléphone : <label>{{ user.getTelephone }}</label></label>
                                                    <label class="cell">Dernière connexion : <label>
                                                            {% if user.getLastLogin %}{{ user.getLastLogin|date('d/m/Y') }}
                                                                {% else %}Jamais
                                                            {% endif %}</label></label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}


                        </div>
                        {% if etablissement.getTier.getEcole %}
                        <div id="info_tier_tier" class="list-group affichage"
                             style="display: none;">

                            <table>
                                <tr>
                                    <td>Id</td>
                                    <td>Siren</td>
                                    <td>Raison sociale</td>
                                    <td style="border: none"><button onclick="show('associerecole')" type="button" style="border: none">+</button></td>
                                </tr>

                                    {% for ecoles in etablissement.getTier.getTier1 %}
                                        <tr>
                                            <td>{{ ecoles.getId }}</td>
                                            <td>{{ ecoles.getSiren }}</td>
                                            <td>{{ ecoles.getRaisonSoc }}</td>
                                            <td style="border: none"><button onclick="supprimerPartenariat('{{ path('supprimerAssociationEcole',{'id_ecole':etablissement.getTier.getId,'id_liee':ecoles.getId }) }}',this)" type="button" style="border: none">x</button></td>
                                        </tr>
                                    {% endfor %}
                            </table>

                        </div>

                            {% else %}


                                <div id="info_mission" class="list-group affichage"
                                     style="display: none;">

                                    {% if missions is defined %}
                                        {% for mission in missions %}
                                            {% set iddiv = random()  %}

                                         <!--   <div class="col-xs-12 Liste">
                                                <div class="row">
                                                <label class="list-group-item info" >Code mission : <label style="color:black" > {{mission.getCodemission}}</label></label>
                                                <label class="list-group-item info" >Date :<label style="color:black" > {{ mission.getDate|date('d/m/Y')}}</label>
                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#mission{{ iddiv }}"></button></label>
                                                </div>
                                                <div id="mission{{ iddiv }}" class="collapse in" >
                                                <label class="list-group-item info" >Descriptif : <label style="color:black" >{{mission.getDescriptif}}</label></label>
                                                <label class="list-group-item info" >Profil : <label style="color:black" >{{mission.getProfil}}</label></label>
                                                <label class="list-group-item info" >Type de contrat :<label style="color:black" > {{mission.getTypecontrat}}</label></label>
                                                    <label class="list-group-item info" >Date Debut :<label style="color:black" > {{ mission.getDatedebut|date('d/m/Y')}}</label></label>
                                                        <label class="list-group-item info" >Date fin:<label style="color:black" > {{ mission.getDatefin|date('d/m/Y')}}</label></label>
                                                </div>
                                            </div>   -->
                                        <div class="col-xs-12 Liste">

                                                <div class="row">
                                                    <label class="cell"  >CodeMission : <label style="font-size: medium">{{ mission.getCodemission }}</label></label>
                                                    <label class="cell" >Date : <label style="font-size: medium" > {{ mission.getDate|date('d/m/Y H:i')}}</label>
                                                        <button onclick="supprimerligne('{{ path('supprimer_Mission',{'id': mission.getId}) }}',this)"
                                                                type="button" style=";float: right">x</button>
                                                        <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#mission{{ iddiv }}"></button>
                                                    </label>

                                                </div>
                                                <div id="mission{{ iddiv }}" class="collapse in" >
                                                    <div class="row">
                                                        <label class="cell">EmailContact  : <label style="font-size: medium">{{ mission.EmailContact }}</label></label>
                                                            <label class="cell">Profil : <label style="font-size: medium">{{ mission.getProfil }}</label></label>
                                                    </div>
                                                    <div class="row">
                                                        <label class="cell" >Date fin :<label style="font-size: medium" > {{mission.getDatefin|date('d/m/Y')}}</label></label>
                                                        <label class="cell" >Date Debut :<label style="font-size: medium"> {{ mission.getDatedebut|date('d/m/Y')}}</label></label>
                                                    </div>
                                                    <div class="row">
                                                    <label class="cell">Typecontart  : <label style="font-size: medium">{{ mission.getTypecontrat }}</label></label>
                                                    <label class="cell">NomContact  : <label style="font-size: medium">{{ mission.getNomContact }}</label></label>
                                                </div>
                                                    <div class="row">
                                                        <label class="cell">Domaine  : <label style="font-size: medium">{{ mission.getDomaine }}</label></label>
                                                        <label class="cell">Tuteur  : <label style="font-size: medium">{{ mission.getTuteur }}</label></label>
                                                    </div>
                                                    <div class="row">
                                                        <label class="cell" style="height: 280px;word-wrap: break-word;width: 150px;hyphens: auto;max-width: 100px;">Descriptif : <label style="font-size: medium" >{{ mission.getDescriptif }}</label></label>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}


                                </div>

                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-3"
                     style="height: 100%;">
                    <div class="list-group"
                         style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                        {% if etablissement.getActive %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: #94C400">
                                <div class="col-xs-12" style="color: white;">ACTIVE</div>
                            </button>
                        {% else %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: red">
                                <div class="col-xs-12" style="color: white;">DÉSACTIVE</div>
                            </button>
                        {% endif %}
                        <button onclick="post('{{ path('modifieretab',{'id': etablissement.getId }) }}')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Modifier la fiche</div>

                        </button>
                        <button onclick="post('{{ path('supprimeretablissement',{'id': etablissement.getId }) }}')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Supprimer l'établissement</div>

                        </button>
                        <button onclick="alert('Ce button n\'est pas encore fonctionel!')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Gérer les droits</div>

                        </button>
                        <button onclick="show('instanceLicence')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Instancier une licence</div>

                        </button>
                        <button onclick="show('adduser')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Ajouter un utilisateur</div>

                        </button>
                        <button onclick="show('addmission')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Ajouter une mission</div>

                        </button>
                    </div>
                </div>

            </div>
        {% elseif afflicence is defined %}

        {% else %}
            <p>Hello world</p>
        {% endif %}
    {% endblock %}
</div>

{% block JS %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/PopUp.js') }}"></script>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
       webshims.polyfill('forms forms-ext');
    </script>
    <script language="JavaScript">
        {% if etablissement is defined %}
        document.getElementById("select_info").onchange = function(){
            var x = document.getElementById("select_info").value;
            document.getElementById('info_etab').style.display= 'none';
            document.getElementById('info_licence').style.display= 'none';
            document.getElementById('info_user').style.display= 'none';
            {% if etablissement is defined %}
            {% if etablissement.getTier.getEcole %}
            document.getElementById('info_tier_tier').style.display= 'none';
            {% else %}
            document.getElementById('info_mission').style.display= 'none';
            {% endif %}
            {% endif %}
            document.getElementById(x).style.display='block';
        };





        function active(route) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function (data) {
                    console.log('etablissement{{ etablissement.getId }}');
                    if (data['succes'] == '0') {
                        document.getElementById("activate").style.backgroundColor = 'red';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Désactive';
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = 'red';
                    }
                    else {
                        document.getElementById("activate").style.backgroundColor = '#94C400';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Active';
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = '#94C400';
                    }

                }
            });

        };
        {% endif %}
        function post(path) {
            window.location = path;
        };
        function submitform(form) {
            document.getElementById(form).submit();
        };
        function supprimerligne(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);
        };
        function supprimerPartenariat(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode);
        };
        $(function(){
            $('[type="date"].min-today').prop('min', function(){
                return new Date().toJSON().split('T')[0];
            });
        });
    </script>
{% endblock %}
</body>
</html>
