<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body>

<div class="container" style="padding: 0;">


    <div class="row" style="height: 78px; margin: 0;">
        <img class="col-xs-1" src="data:image/jpg;base64,{{ mission.getEtablissement.getTier.getLogo }}"
             style="padding: 10px; height: 40px;">
        <div class="col-xs-4">
            <div class="col-xs-12"
                 style="height: 30px; text-align: left; padding: 10px;"><label style="font-size: large" >{{ mission.getIntitule }}&nbsp;-&nbsp;  </label><label style="font-size: large;color:#2A76CC" > {{ mission.getEtablissement.getTier.getRaisonsoc }}</label></div>
            <div class="col-xs-12" style="height: 20px; text-align: left;">{{mission.getEtablissement.getAdresse }}, {{ mission.getEtablissement.getCodePostal }} {{ mission.getEtablissement.getVille }}</div>
        </div>
        <div class="col-xs-offset-5 col-xs-1">
            <div class="col-xs-12" style="height: 30px;; padding-top: 10px;"><label style="font-size:large;color:#2A76CC;" > 18</label></div>
            <div class="col-xs-12" style="height: 20px;width:100px">mises en relation</div>
        </div>
        <div class=" col-xs-1">
            <div class="col-xs-12" style="height: 30px; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 5</label></div>
            <div class="col-xs-12" style="height: 20px;">candidatures</div>
        </div>
    </div>



<div class="row" >&nbsp;
       <button  type="button"  > <div class="col-xs-12"  > FICHE MISSION</div></button>
    <button  type="button" ><div class="col-xs-12" >LISTE DES APPRENANTS</div></button>
    <button  type="button"  ><div class="col-xs-12" >CARTE DES APPRENANTS</div></button></div>


    <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">
        <div class="col-xs-9"
             style="background: rgb(238, 241, 246); height: 100%;">



            <div class="col-xs-12" style="margin-bottom: 50px">
                <div id="info_mission" class="list-group affichage">


                    <label class="list-group-item " style="font-family: Verdana ;color:#2975cb;height: 280px;word-wrap: break-word;hyphens: auto;max-width: 1000px " >LA MISSION : <br/><br/>
                        <label  style="color:black; font-family:Verdana ;font-weight: lighter" >{{mission.getDescriptif}}</label></label>
                    <label class="list-group-item " style="font-family: Verdana ;color:#2975cb;height: 200px;word-wrap: break-word;hyphens: auto;max-width: 1000px ">LE PROFIL RECHERCHE :<br/>
                        <label style="color:black; font-family:Verdana ;font-weight: lighter" >{{mission.getProfil}}</label></label>
                    <label class="list-group-item "  style="font-family: Verdana ;color:#2975cb;height: 200px;word-wrap: break-word;hyphens: auto;max-width: 1000px" >Domaine : <br/>
                        <label style="color:black; font-family:Verdana ;font-weight: lighter" >{{mission.getDomaine}}</label></label>

                </div>


            </div>
        </div>







        <div class="col-xs-3"
             style="height: 100%;">
            <div class="list-group"
                 style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                <div  class="rightMenu " ><div style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp&nbsp{{mission.getDate|date('d/m/Y a H:i')}}</div></div>
                <div class="rightMenu" ><div  style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp{{mission.getTuteur}}</div></div>
                <div class="rightMenu" ><div style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp&nbsp   {{mission.getEmailcontact}} </div></div>
                <div class="rightMenu" ><div  style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp&nbsp   {{mission.getTypecontrat}}</div></div>
                <div  class="rightMenu " ><div style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp&nbsp{{mission.getDatedebut|date('d/m/Y')}}</div></div>
                <div  class="rightMenu " ><div style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp&nbsp{{mission.getDatefin|date('d/m/Y')}}</div></div>
                <div class="rightMenu" ><div style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-eur" aria-hidden="true"></span>  &nbsp&nbsp  {{mission.getRemuneration}}</div></div>
                <div class="rightMenu" ><div  style="text-align:center;line-height:50px;" ><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>  &nbsp&nbsp  {{mission.getCodemission}}</div></div>




                <button onclick="post('{{ path('modifierMission',{'id': mission.getId }) }}',false)" type="button" class="list-group-item rightMenu" >
                    <div class="col-xs-12"  >Modifier la fiche</div>

                </button>

                <button onclick="post('{{ path('supprimer_Mission',{'id': mission.getId }) }}',true)" type="button" class="list-group-item rightMenu" >
                    <div class="col-xs-12" >Supprimer Mission</div>

                </button>

            </div>
        </div>

    </div>
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script language="JavaScript">


    function post(path,refresh) {
        if(refresh)
        {
            $.ajax({
                type: 'get',
                url: path,
                error: function () {
                    alert('Une erreur s\'est produite');
                },
                success: function () {
                    window.parent.location.reload();
                }
            });
        }
        else
        {
            window.location = path;
        }
    };
</script>
{% block JS %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
</body>
</html>