<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/Form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/paginate.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    {% block CSS %}
        <style>
            .ui-widget-header{color:black;}
        </style>
    {% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onload="loading()">

{% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMINSOC') %}
    <div id="MettreEnRelation" class="popup" >
        <div onclick="document.getElementById('submitMettreEnRelation').click();hide(this)" class="close"></div>
        <div class="col-xs-offset-3 col-xs-6 formContainer">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>
            <form id="formMettreEnRelation" class="formulaire" action="" onsubmit="document.getElementById('submitMettreEnRelation').disabled=true;ShowWaiter();" method="post">

                <div class="div_form" style="border-bottom:1px solid #adadad;display: inline-table;">

                    <div class="row" style=" margin: 0;">
                        <img class="col-xs-1" src="data:image/jpg;base64,{{ mission.getEtablissement.getTier.getLogo }}"
                             style="padding: 10px; height: 40px;">
                        <div class="col-xs-4">
                            <div class="col-xs-12"
                                 style="height: 30px; text-align: left; padding: 10px;"><label style="margin-left:10px;font:large Roboto;color:black" >
                                    {{ mission.getIntitule }}&nbsp; - &nbsp; </label><label style="font:large Roboto;color:#2A76CC" > {{ mission.getEtablissement.getTier.getRaisonsoc }}</label></div>
                            <div class="col-xs-12" style="height: 20px;width:300px; text-align: left;font:large Roboto;">{{mission.getEtablissement.getAdresse }}, {{ mission.getEtablissement.getCodePostal }} {{ mission.getEtablissement.getVille }}</div>
                        </div>

                        <div class=" col-xs-12">
                            <div class="col-xs-12" style="height: 20px;color: #666666;font:large Roboto;margin-left: 250px">{{mission.getCodemission }}</div>
                        </div>
                    </div>

                    <textarea style="height: 200px;resize: none;" class="input" id="Descriptif" name="_Descriptif" placeholder="Cette mission peut vous intéresser,postuler si vous le souhaitez ..." required ></textarea>


                </div>
                <div class="div_button">
                    <input id="submitAnnuler" onclick="this.parentNode.parentNode.parentNode.parentNode.style.display='none';" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Annuler">
                    <input id="submitMettreEnRelation" onclick="envoyerMRAction();" class="blue" type="button"  style="margin-left: 390px" value="Mettre en relation">

                </div>
            </form>
        </div>
    </div>
    <div id="Assigner_Tuteur" class="popup">
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-4 col-xs-4 formContainer">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>
        <form id="formAssignTuteur" action="{{ path('Assigner_tuteur',{'id':mission.id}) }}" onsubmit="this.disabled = true;ShowWaiter();" class="formulaire" method="post">
            <div class="div_form" style="display: block">
                <select id="SelectTuteur" style="width: 100%; overflow-x: auto;margin-top: 30px;margin-bottom: 30px;" title="" class="row" name="tuteur">
                    {% for tuteur in tuteur_etablissement %}
                        <option value="{{ tuteur.id }}">{{ tuteur.nom }} {{ tuteur.prenom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="div_button">
                <input  class="blue" type="submit" value="envoyer">
            </div>
        </form>
    </div>
</div>
    <div id="Diffusion_formation" class="popup">
        <div onclick="document.getElementById('submitDiffusion8598').click();hide(this)" class="close"></div>
        <div class="col-xs-offset-3 col-xs-4 formContainer">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>
            <input class="row" style="width: 100%" type="text" placeholder="Recherche" onkeyup="if(event.keyCode==13){if(confirm('Voulez-vous envoyer?')){document.getElementById('submitDiffusion8598').click();}}else{rechercheformation(this.value);}">
            <form id="formDiffusion" class="formulaire" onsubmit="ShowWaiter();" method="post">
                <div class="div_form" style="display: block">
                    <select id="SelectMultipleFormation" style="width: 100%; overflow-x: auto" title="" class="row" name="formation[]" multiple required>
                        {% for formation in formations_prop %}
                            {% if is_granted('ROLE_ADMINSOC') or ( app.user.hasRole('ROLE_ADMINECOLE') and (formation.etablissement.tier == app.user.tier or formation.etablissement.tier in app.user.tier.tier1|keys)) or (app.user.hasRole('ROLE_RECRUTEUR') and (formation.etablissement.tier == app.user.etablissement.tier or formation.etablissement.tier in app.user.etablissement.tier.tier1)) %}
                                <option value="{{ formation.id }}">{{ formation.nom }} - {{ formation.etablissement.tier.raisonsoc }} - {{ formation.etablissement.adresse }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select title="" id="SelectMultipleRechercheFormation" style="display: none">
                        {% for formation in formations_prop %}
                            {% if is_granted('ROLE_ADMINSOC') or ( app.user.hasRole('ROLE_ADMINECOLE') and (formation.etablissement.tier == app.user.tier or formation.etablissement.tier in app.user.tier.tier1|keys)) or (app.user.hasRole('ROLE_RECRUTEUR') and (formation.etablissement.tier == app.user.etablissement.tier or formation.etablissement.tier in app.user.etablissement.tier.tier1)) %}
                                <option value="Recherche" style="display: none;" disabled>{{ formation.id }};{{ formation.nom }};{{ formation.etablissement.tier.raisonsoc }};{{ formation.etablissement.adresse }};{{ formation.etablissement.siret }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="div_button">
                    <input class="blue" id="submitDiffusion8598" type="button" onclick="this.disabled = true;diffuserMission()" value="envoyer">
                </div>
            </form>
        </div>
    </div>
{% endif %}


<div id="FicheApprenant" class="popup">
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7 formContainer" style="border:20px;">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>
        <form id="formFicheApprenant" class="formulaire"  onsubmit="ShowWaiter();"  method="post">



            <div class="div_form"  id="information_apprenant">
                <div>
                    <div class="col-lg-12" >
                        <img src="" style="border-radius:50%; width:50px; height:50px" >
                    </div>
                    <div class="col-lg-12">
                        <label id="Information_Apprenant_titre" style="color:black;margin-right: 10px;" ></label>
                    </div>
                    <div id="Information_Apprenant_titre_adresse" class="col-xs-12" style="height: 20px;color: #666666;font:medium Roboto;margin-bottom: 40px"></div>
                </div>

                <div class="row" style=" margin-bottom: 20px">
                    <div class="row" >
                        <button onclick="document.getElementById('info_apprenant').style.display ='block';document.getElementById('Localisation').style.display ='none';document.getElementById('MissionsProposes').style.display ='none';"
                                class="col-xs-4 onglet"  type="button" style="margin-left: 10px;width: 33%"> FICHE APPRENANT</button>


                        <button onclick="document.getElementById('Localisation').style.display ='block';document.getElementById('info_apprenant').style.display ='none';document.getElementById('MissionsProposes').style.display ='none';
                        var center = map_localisation.getCenter();
                        google.maps.event.trigger(map_localisation, 'resize');
                        map_localisation.setCenter(center);"
                                class="col-xs-4 onglet"  type="button" style="width: calc(33% - 33px)" >LOCALISATION</button>

                        <button onclick="document.getElementById('MissionsProposes').style.display ='block';document.getElementById('Localisation').style.display ='none';document.getElementById('info_apprenant').style.display ='none';"
                                class="col-xs-4 onglet"  type="button" style=" margin-right: 10px;width: 33%"> MISSIONS PROPOSEES</button>

                    </div>

                    <div id="info_apprenant" style="height: 281px;border-top: 1px solid #B0B0B0;margin: 0;overflow-y: auto;width: 100%;">
                        <div class="col-xs-12 Liste" >

                            <div class="col-xs-12" >
                                <label class="cell"  style="float:left;">Civilité : <label id="Information_Apprenant_Civilite"></label></label>
                            </div>
                            <div class="col-xs-10 ">
                                <label class="cell" style="float:left;">Nom : <label id="Information_Apprenant_Nom"></label> </label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Prenom : <label id="Information_Apprenant_Prenom"></label></label>

                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Email  : <label id="Information_Apprenant_Email"></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Téléphone : <label id="Information_Apprenant_Telephone"></label></label>

                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Date naissance : <label id="Information_Apprenant_DateNaissance"  ></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Cp naissance  : <label id="Information_Apprenant_CpNaissance" ></label></label>

                            </div>

                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Lieu naissance: <label id="Information_Apprenant_LieuNaissance" ></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Adresse       : <label id="Information_Apprenant_Adresse" ></label></label>
                            </div>
                        </div>
                    </div>
                    <div id="Localisation"  style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;display:none;">


                    </div>
                    <div id="MissionsProposes" style="height: 281px;border-top: 1px solid #B0B0B0;margin: 0;overflow-y: auto;width: 100%;display:none">
                        <div class="col-xs-12 Liste" >


                            <div id="MissionsListe" class="col-xs-12" style="margin-bottom: 10px;height: 100%;">

                                <div  name="_Mission" class="col-xs-10 col-xs-offset-1 listMission" style="height: auto;">

                                    <div  title="Mission" class="col-xs-1" title="id" style="text-align: center;margin: auto;width:20%;">
                                        Mission
                                    </div>
                                    <div  title="société" class="col-xs-2" style="text-align: center;margin: auto; width:20%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">

                                        Société
                                    </div>
                                    <div  title="Date de mise en relation" class="col-xs-2" style="text-align: center;margin: auto;width:30%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        Date de mise en relation
                                    </div>
                                    <div   class="col-xs-2" style="text-align: center;margin: auto;width:20%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        Actions
                                    </div>

                                </div>

                                {% if Messages is defined %}
                                    {% set i = 0 %}
                                    {% for mission in Messages %}


                                    <div id="Mission{{ i }}" name="_Mission{{ mission.getDestinataire.getId() }}" class="col-xs-10 col-xs-offset-1 SASPaginate" style="height: auto;">

                                        <div id="Nom" title="Mission" class="col-xs-1" title="id" style="text-align: center;margin: auto;width:20%;">
                                            {{ mission.getMission.getCodemission() }}
                                        </div>
                                        <div id="societe" title="société" class="col-xs-2" style="text-align: center;margin: auto; width:20%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">

                                            {{ mission.getMission.getEtablissement.getTier.getRaisonsoc() }}
                                        </div>
                                        <div id="DateMis" title="Date de mise en relation" class="col-xs-2" style="text-align: center;margin: auto;width:30%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                            {{ mission.getDate()|date('d/m/Y H:i') }}
                                        </div>
                                        <div id="action"  class="col-xs-2" style="text-align: center;margin: auto;width:20%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                             <input id="submitAnnuler" onclick="OpenUrl({{mission.getMission.getId()}},'-1');" class="blue" style="color:#666666;border:1px solid #ccc;float: left;margin-left: 5px;width:90px" type="button" value="Voir Mission">
                                            <input id="submitAnnuler" onclick="afficher({{ i }});" class="blue" style="color:#666666;border:1px solid #ccc;float: left;margin-left: 5px ; width:90px" type="button" value="Retour RDV">

                                        </div>


                                    </div>
                                    <div id="DivRDV{{ i }}"  class="col-xs-10 col-xs-offset-1 SASPaginate" style="text-align:left;height: auto;">



                                        {% if mission.getExpediteur.hasRole('ROLE_TUTEUR') and mission.getStatut=='1' %}
                                                <div class="col-xs-12" style="height: auto;horiz-align: center; text-align: center; font: small Roboto;">
                                                    <textarea style="color:#2975cb;" rows="4" disabled cols="50" name="comment" id="comment">
                                                        {{ mission.getMessage }}
                                                    </textarea>
                                                </div>
                                        {% elseif not mission.getExpediteur.hasRole('ROLE_TUTEUR') and mission.getStatut is null %}
                                            <textarea style="color:#2975cb;" rows="2" disabled cols="50" name="comment" id="comment">
                                                        à l'attente d'une réponse de la part de l'apprenant
                                             </textarea>
                                        {% elseif not mission.getExpediteur.hasRole('ROLE_TUTEUR') and mission.getStatut=='1' %}
                                            <textarea style="color:#2975cb;" rows="2" disabled cols="50" name="comment" id="comment">
                                                        à l'attente d'une réponse de la part du tuteur
                                             </textarea>
                                        {% elseif  mission.getExpediteur.hasRole('ROLE_TUTEUR') and mission.getStatut=='-1' %}
                                            <textarea style="color:#2975cb;" rows="2" disabled cols="50" name="comment" id="comment">
                                                        offre déclinée par le tuteur
                                             </textarea>
                                        {% elseif  not mission.getExpediteur.hasRole('ROLE_TUTEUR') and mission.getStatut=='-1' %}
                                            <textarea style="color:#2975cb;" rows="2" disabled cols="50" name="comment" id="comment">
                                                        offre déclinée par l'apprenant
                                             </textarea>
                                        {% endif %}
                                        <input id="submitAnnuler" onclick="cacher({{ i }});" class="blue" style="color:#666666;border:1px solid #ccc;float: right;margin-right: 5px" type="button" value="Annuler">


                                    </div>

                                        {% set i = i + 1 %}
                                   {% endfor %}

                                {% endif %}



                            </div>


                        </div>
                    </div>




                </div>



            </div>

            <div class="div_button" id="buttonInformationApprenant" style="display: block;">
                <input id="submitAnnuler" onclick="this.parentNode.parentNode.parentNode.parentNode.style.display='none';" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left;margin-left: 5px" type="button" value="Annuler">
                <input id="submitMettreEnRelation"
                        {% if mission.tuteur %}
                            onclick="Show_MettreEnRelation();"
                        {% else %}
                            onclick="alert('Aucun Tuteur n\'est affecté à cette mission. Vous devez affecter un tuteur avant de pouvoir mettre en relation.')"
                        {% endif %}
                       class="blue" type="button"  style="float: right; margin-right: 5px;margin-bottom: 5px" value="Mettre en relation">
            </div>


        </form>

    </div>


</div>

<div class="container" style="padding: 0;">


    <div class="row" style="margin: 0;">

        <img class="col-xs-1" src="data:image/jpg;base64,{{ mission.getEtablissement.getTier.getLogo }}" style="height: 60px;width: 60px;border: 5px solid transparent;">
        <div class="col-xs-4">
            <div class="col-xs-12" style="height: 35px;text-align: left; ">
                <label style="font:large Roboto;color:black;text-align: left;margin:15px 0 0 20px;" >{{ mission.getIntitule }} - </label>
                <label style="font:large Roboto;color:#2A76CC;text-align: left;margin-top:15px" > {{ mission.getEtablissement.getTier.getRaisonsoc }}</label>
            </div>
            <div class="col-xs-12" style="height: 35px;text-align: left;font:medium Roboto;  margin:0 0 0 20px;">
                {{mission.getEtablissement.getAdresse }}, {{ mission.getEtablissement.getCodePostal }} {{ mission.getEtablissement.getVille }}
            </div>
        </div>

        {% if Diffusions|length > 1 %}


                <select class="input col-xs-4" title="formation" name="formation" style="margin-top:15px;height:40px;" onchange="location = this.value" >
                    <option value="{{ path('admin_afficheMission', {'id' : mission.id ,'idFor': "-1"}) }}" >Toutes les formations</option>
                    {% for Diffusion in Diffusions %}
                        <option id="idFormation" value="{{ path('admin_afficheMission', {'id' : mission.id ,'idFor': Diffusion.formation.id}) }}" {% if Diffusion.formation.id == app.request.get('idFor') %}selected{% endif %} >{{ Diffusion.formation.nom }}</option>
                    {% endfor %}
                </select>
        {% endif %}
        {# INFOS EN DUR COMMENTEES POUR LA PRESENTATION
        <div class="col-xs-1">
            <div class="col-xs-12" style="height: 30px;; padding-top: 10px;"><label style="font-size:large;color:#2A76CC;" > 18</label></div>
            <div class="col-xs-12" style="height: 20px;width:100px;color: #666666;">mises en relation</div>
        </div>
        <div class=" col-xs-1">
            <div class="col-xs-12" style="height: 30px; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 5</label></div>
            <div class="col-xs-12" style="height: 20px;color: #666666;">candidatures</div>
        </div>
        #}
    </div>




<div class="row" style="margin: 0;">
    {% if is_granted('ROLE_TUTEUR') or is_granted('ROLE_RECRUTEUR') %}
    <button id="ButtonInfoMission" class="col-xs-4 onglet slide"  type="button" data-show="info_mission" > FICHE MISSION</button>
    <button id="ButtonApprenantMission" class="col-xs-4 onglet slide"  type="button" data-show="apprenants_mission" >LISTE DES APPRENANTS</button>
    <button id="ButtonMap" class="col-xs-4 onglet slide"  type="button" data-show="map" >CARTE DES APPRENANTS</button>
    <div id="baronglet" class="col-xs-4" style="height: 5px;background-color: #257ef0; z-index: 60;"></div>
    {% else %}
        <button id="ButtonInfoMission" class="col-xs-6 onglet slide"  type="button" data-show="info_mission"> FICHE MISSION</button>
        <button id="ButtonMap" class="col-xs-6 onglet slide"  type="button" data-show="map" >CARTE DES APPRENANTS</button>
        <div id="baronglet" class="col-xs-6" style="height: 5px;background-color: #257ef0; z-index: 60;"></div>
    {% endif %}
</div>



    <div id="info_mission" style="border-top: 1px solid #B0B0B0;background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;width: 100%;height: 90%;position: absolute;">
        <form id="formMission" action="{{ path('missionModif') }}" onsubmit="ShowWaiter();" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ mission.getId }}" id="id" name="_ID">
            <div class="col-xs-9" style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12" style="margin-bottom: 50px">
                    <div class="list-group affichage">

                        <label class="list-group-item mission" >LA MISSION : <br/>
                            <textarea id="Descriptif" name="_Descriptif" maxlength="255"  style="height:60px;color:black; font-weight: lighter" readonly >{{mission.getDescriptif}}</textarea>
                        </label>

                        <label class="list-group-item mission" >LE PROFIL RECHERCHE :<br/>
                            <textarea style="height:60px;color:black; font-weight: lighter" id="Profil" name="_Profil" required maxlength="255" readonly >{{mission.getProfil}}</textarea>
                        </label>


                        <label class="list-group-item mission">Domaine : <br/>
                            <input style="color:black; font-weight: lighter" value="{{mission.getDomaine}}" type="text" id="Domaine" name="_Domaine" maxlength="45" readonly>
                        </label>
                        <label class="list-group-item mission">Contact Mission: </br>
                          <label > Nom :</label> <label style="color:black;font-weight: lighter;margin-right: 30px;">{{ mission.getNomcontact }}</label>
                          <label > Prenom :</label> <label style="color:black;font-weight: lighter;margin-right: 30px;">{{ mission.getPrenomcontact }}</label>
                          <label > Fonction :</label>  <label style="color:black;font-weight: lighter;margin-right: 30px;" >{{ mission.getFonctioncontact }}</label>
                          <label > Tel :</label>  <label style="color:black;font-weight: lighter;margin-right: 30px;">{{ mission.getTelcontact }}</label>
                          <label > Mail : </label><label style="color:black;font-weight: lighter;margin-right: 30px;">{{ mission.getEmailcontact }}</label>
                        </label>

                        <label class="list-group-item mission">Formation Ciblées: </br>

                            {% for Diffusion in Diffusions %}
                                <div class="row" style="width:100%">
              <label style="color: black;font-weight: lighter;float: left;line-height:40px;margin-right: 40px;">{{ Diffusion.formation.nom }} - {{ Diffusion.formation.etablissement.tier.raisonsoc }} - {{ Diffusion.formation.etablissement.adresse }} </label>

                                    {% if Diffusion.formation.nomDoc %}
                                    <label class="cell" style="height: 40px;">Document : <a target="_blank" href="{{ asset('formation_pdf/'~ Diffusion.formation.getId ~'.pdf') }}" >
                                        <img src="{{ asset('image/PDF.jpg') }}"  style="width:40px; height:40px " alt="fichier de formation" >
                                    </a>
                                    </label>
                                    {% endif %}
               </div>
                              {% endfor %}

                            </label>

                        <label class="list-group-item mission" >Commentaire :<br/>
                            <textarea style="color:black;height: 100px; font-weight: lighter" id="Commentaire" name="_Commentaire"  maxlength="255" readonly >{{mission.getCommentaire}}</textarea>
                        </label>

                    </div>
                </div>
            </div>
            <div class="col-xs-3"
                 style="height: 100%;">
                <div class="list-group"
                     style="margin:15px 0 0 5px;height: 100%; background-color: white;">
                    <div  class="rightMenu" style="padding: 8px !important;" >
                        <span class="glyphicon glyphicon-time" aria-hidden="true" style="float: left;"></span>
                      <label>Date creation :</label><input  value="{{mission.getDatecreation|date('d/m/Y')}}" title="DateCreation" disabled>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;" >
                        <span class="glyphicon glyphicon-user" aria-hidden="true" style="float: left;" ></span>
                        <label style="margin-right: 65px;">Nom :</label> <input value="{{ mission.nomcontact }} {{ mission.prenomcontact }}" title="prenomContact" disabled>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="float: left;"></span>
                       <label style="margin-right: 60px;">Email :</label><input value="{{mission.getEmailcontact}}" type="email" name="_Emailcontact" title="Emailcontact" maxlength="45" readonly>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="float: left;"></span>
                       <label style="margin-right: 5px">Type contrat :</label><input value="{{mission.getTypecontrat}}" type="text" id="TypeContrat" name="_TypeContrat" title="TypeContrat" maxlength="45" readonly>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="float: left;"></span>
                       <label style="margin-right: 35px;">Fonction :</label><input value="{{mission.getFonctioncontact}}" type="text" id="Fonctioncontact" name="_Fonctioncontact" title="getFonctioncontact" maxlength="45" readonly>
                    </div>
                    <div  class="rightMenu " style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="float: left;"></span>
                       <label style="margin-right: 25px;" >Date debut :</label><input value="{{mission.getDatedebut|date('d/m/Y')}}" type="text"  id="Datedebut" name="_Datedebut" title="datedebut" readonly>
                    </div>
                    <div  class="rightMenu " style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="float: left;"></span>
                        <label style="margin-right: 45px;">Date fin :</label><input value="{{mission.getDatefin|date('d/m/Y')}}" type="text"  id="Datefin" name="_Datefin" title="dateFin" readonly>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;" >
                        <span class="glyphicon glyphicon-eur" aria-hidden="true" style="float: left;"></span>
                       <label style="margin-right: 40px;">Nb poste :</label><input value="{{mission.getNbreposte}}" type="number" id="Nbreposte" name="_Nbreposte" title="Nbreposte" maxlength="5" readonly>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;" >
                        <span class="glyphicon glyphicon-eur" aria-hidden="true" style="float: left;"></span>
                       <label>Remuneration :</label><input value="{{mission.getRemuneration}}" type="number" id="Remuneration" name="_Remuneration" title="Remuneration" maxlength="5" readonly>
                    </div>
                    <div class="rightMenu" style="padding: 8px !important;">
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true" style="float:left;"></span>
                        <label style="margin-right: 10px;">code mission :</label><input placeholder="Code mission"  value="{{mission.getCodemission}}" name="_Codemission" title="Code mission" required maxlength="9" type="text" readonly>
                    </div>

                   {#  {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMINSOC') %} #}
                    {% set modif = false %}
                    {% if is_granted('ROLE_SUPER_ADMIN') or (mission.tier == app.user.tier and (is_granted('ROLE_ADMINSOC') or is_granted('ROLE_ADMINECOLE'))) %}
                        {% set modif = true %}
                    {% elseif app.user.etablissement and mission.tier == app.user.etablissement.tier and is_granted('ROLE_RECRUTEUR') %}
                        {% set modif = true %}
                    {% endif %}

                    {% if modif %}
                        {% if mission.tier %}
                            {% if mission.tier.ecole %}
                        <div class="rightMenu" style="padding: 8px !important;">
                            <select  title=""   name="_Statut" onchange="modifierStatutMission(this.value,'{{ mission.id }}')"   >
                                <option  value="1" {% if mission.statut == 1 %} selected {% endif %} >Prive</option>
                                <option  value="2"  {% if mission.statut == 2 %} selected {% endif %} >Semi Public</option>
                                <option   value="3"  {% if mission.statut == 3 %} selected  {% endif %} >Public</option>
                            </select>
                        </div>
                                {% endif %}
                        {% endif %}
                        <button onclick="modifier('formMission',this);" type="button" class="col-xs-12 rightMenu" >
                            Modifier la fiche
                        </button>
                        <button onclick="if(confirm('Voulez-vous supprimer la mission ?')){post('{{ path('supprimer_Mission',{'id': mission.getId }) }}',true)}" type="button" class="col-xs-12 rightMenu" >
                            Supprimer Mission
                        </button>
                        <button onclick="show('Assigner_Tuteur')" type="button" class="col-xs-12 rightMenu" >
                            Assigner un Tuteur
                        </button>
                        {% if is_granted('ROLE_ADMINSOC') or is_granted('ROLE_RECRUTEUR') %}
                            <button type="button" class="col-xs-12 rightMenu" onclick="show('Diffusion_formation')" >
                                Diffuser
                            </button>
                        {% endif %}





                    {% elseif app.user.hasRole('ROLE_APPRENANT') %}
                        <button onclick="postuler()" type="button" class="col-xs-12 rightMenu" >
                            Postuler pour cette Mission
                        </button>
                    {% endif %}
                </div>

            </div>
        </form>


    </div>
{% if is_granted('ROLE_ADMINSOC') or is_granted('ROLE_RECRUTEUR') %}
    <div id="apprenants_mission" style="border-top: 1px solid #B0B0B0;background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;width: 100%;height: 82%;visibility: hidden;position: absolute;">
        <div class="row" style="margin:10px 0 0 10px;display: none;"  >
            <div>
                <span class="glyphicon glyphicon-search" ></span>
                <input type="text" class="input" placeholder="Recherche" style="padding:5px; border:solid 1px black; color:steelblue; border-radius:5px;width:200px;height:33px;margin-right:800px" >
                <button type="button" style="font:20px Roboto; height: 20px; border-radius: 0; background: none; border: 0;color: #666666 ;">
                    Filtres <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ></span>
                </button>
            </div>

        </div>
        {#{% if Diffusions|length > 1 %}
        <div class="col-xs-10" style="margin-top: 10px;text-align: center;">

            <select class="input col-xs-2" title="formation" name="formation" style="height:40px;margin-left: 500px;width:auto;" onchange="location = this.value" >
            <option value="{{ path('admin_afficheMission', {'id' : mission.id ,'idFor': "-1"}) }}" >Toutes les formations</option>
            {% for Diffusion in Diffusions %}
                <option id="idFormation" value="{{ path('admin_afficheMission', {'id' : mission.id ,'idFor': Diffusion.formation.id}) }}" {% if Diffusion.formation.id == app.request.get('idFor') %}selected{% endif %} >{{ Diffusion.formation.nom }}</option>
            {% endfor %}
            </select>
        </div>
        {% endif %}#}

        <div id="ApprenantContainer" class="row" style="height: 150px; margin:10px;background:white">
            {% if users is defined %}
                {% set i =0 %}
                {% for user in users %}

                    {% if user.hasRole('ROLE_APPRENANT') %}
                        <div class="col-xs-12 Liste">

                        {% if scores[loop.index0] < 50 %}
                            <label style="width:40px;height: 20px;background:gray;color:white;font:14px Roboto;line-height: 20px; position: absolute;left: 0;z-index: 6;margin: 10px 0 0 10px;text-align: center;">{{ scores[loop.index0] }}</label>
                            <div style="width:10px;height:140px;background:gray;color:white;position: absolute;left: 0;z-index: 5;margin: 10px 0 0 10px;"></div>
                            {% elseif scores[loop.index0] < 75 %}
                            <label style="width:40px;height: 20px;background:orangered;color:white;font:14px Roboto;line-height: 20px; position: absolute;left: 0;z-index: 6;margin: 10px 0 0 10px;text-align: center;">{{ scores[loop.index0] }}</label>
                            <div style="width:10px;height:140px;background:orangered;color:white;position: absolute;left: 0;z-index: 5;margin: 10px 0 0 10px;"></div>
                            {% elseif scores[loop.index0] >= 75 %}
                                <label style="width:40px;height: 20px;background:yellowgreen;color:white;font:14px Roboto;line-height: 20px; position: absolute;text-align: center;left: 0;z-index: 6;margin: 10px 0 0 10px;">{{ scores[loop.index0] }}</label>
                                <div style="width:10px;height:140px;background:yellowgreen;color:white;position: absolute;left: 0;z-index: 5;margin: 10px 0 0 10px;"></div>
                            {% endif %}
                            {% if user.getPhotos %}
                                <img class="col-xs-1" onclick="show('FicheMission')" src="data:image/jpg;base64,{{user.getPhotos}}" style="margin: 10px 0 0 10px;height: 140px;width: 140px;">
                            {% elseif user.getCivilite == 'Mme' or user.getCivilite == 'Madame' or user.getCivilite == 'Mademoiselle' %}
                                <img class="col-xs-1" onclick="show('FicheMission')" style="margin: 10px 0 0 10px;height: 140px;width: 140px;" src="{{ asset('image/femme.jpg') }}">
                            {% else %}
                                <img class="col-xs-1" onclick="show('FicheMission')" style="margin: 10px 0 0 10px;height: 140px;width: 140px;" src="{{ asset('image/homme.jpg') }}">
                            {% endif %}


                            <div class="col-xs-4" style="margin-left: 10px;margin-top:10px">
                                <div class="col-xs-12"
                                     style="height: 30px; text-align: left; padding: 10px;margin-bottom: 15px;"><label style="color:black;margin-right: 10px;" >{{user.getPrenom}}  {{user.getNom}} </label>

                                   {# <button style="background:yellowgreen; border-radius:50%; width:15px;border: none; height:15px;margin-right: 10px;"></button> #}

                                    <label style="font:16px Roboto;margin-right: 10px;" > 5.0 </label>
                                    <img src="{{ asset('image/bookmark50.png') }}">
                                </div>

                                <div class="col-xs-12" style="margin-bottom: 5px;height: 20px; text-align: left; font: small Roboto;"><label style="color:#2975cb">Mis en relation sur {{ CountMission(user.getId) }} mission(s)</label></div>
                                <div class="col-xs-12" style="margin-bottom: 5px;height: 20px; text-align: left; font:small Roboto;">Recherche : {{ GetTypeContrat(user.getId) }}</div>



                                {# <div class="col-xs-12" style="margin-bottom: 5px;height: 20px; text-align: left; font:small Roboto;">STATUT : <label style="color:#2975cb">3 MISES EN RELATION</label></div>#}


                            </div>
                            <div class="col-xs-offset-5 col-xs-1">


                                {% if  EstRefuse( user.getId() , mission.getId() ) %}
                                {#  l'apprenant a été refusé sur cette mission #}
                                    <button disabled="disabled" class="btn btn-primary"

                                            type="button"  style=" width:150px;color: white;height: 30px;border:none;padding:6px 0 6px 0;border-radius:8px;background:red;font:bold 13px Roboto;margin-bottom:10px;margin-top: 20px;margin-left: -100%">
                                        REFUSÉ
                                    </button><br>
                                {% elseif EstAccepte( user.getId() , mission.getId() ) %}
                                {#  l'apprenant a été accepté pour cette mission #}
                                    <button disabled="disabled" class="btn btn-primary"
                                            {% if mission.tuteur %}
                                                onclick="show('MettreEnRelation'); idMRDestinataire = {{ user.id }};"
                                            {% else %}
                                                onclick="alert('Aucun Tuteur n\'est affecté à cette mission. Vous devez affecter un tuteur avant de pouvoir mettre en relation.')"
                                            {% endif %}
                                            type="button"  style=" width:150px;color: white;height: 30px;border:none;padding:6px 0 6px 0;border-radius:8px;background:green;font:bold 13px Roboto;margin-bottom:10px;margin-top: 20px;margin-left: -100%">
                                        ACCEPTÉ
                                    </button><br>

                                {% else %}
                                        <button
                                                {% if  not mission.getNbrePoste() or (mission.getNbrePoste()==0)%}
                                                disabled="disabled" class="btn btn-primary"
                                                {% endif %}
                                                {% if mission.tuteur %}
                                                    onclick="show('MettreEnRelation'); idMRDestinataire = {{ user.id }};"
                                                {% else %}
                                                    onclick="alert('Aucun Tuteur n\'est affecté à cette mission. Vous devez affecter un tuteur avant de pouvoir mettre en relation.')"
                                                {% endif %}
                                                type="button"  style=" width:150px;color: white;height: 30px;border:none;padding:6px 0 6px 0;border-radius:8px;background:#2975cb;font:bold 13px Roboto;margin-bottom:10px;margin-top: 20px;margin-left: -100%">
                                            METTRE EN RELATION
                                        </button><br>
                                {% endif %}

                                <button onclick="
                                        informationApprenant({{ user.id }},'{{user.getPhotos}}','{{ user.getCivilite }}','{{ user.getNom }}','{{ user.getPrenom }}','{{ user.getEmail }}',
                                        '{{ user.getTelephone }}','{{ user.getInfo.getDateNaissance|date("d/m/Y") }}','{{ user.getInfo.getCpNaissance }}','{{ user.getInfo.getLieunaissance }}',
                                        '{{ user.getInfo.getAdresse }}','{{ scores[i] }}');show('FicheApprenant');"
                        type="button"  style=" background:white;color: #adadad;width:150px;height:30px;padding:6px 0 6px 0;border-radius:8px;font:bold 13px Roboto;border:1px solid #ccc;margin-bottom:10px ;margin-left: -100%"  >
                                    FICHE CONTACT
                                </button><br>

                                <button type="button" style="background-color: white ;width:150px;height: 30px;
                                padding:6px 0 6px 0;border-radius:8px;font:bold 13px Roboto;color: #adadad;border:1px solid #ccc;display: none;margin-left: -100%" >PLUS</button>

                            </div>


                        </div>
                    {% endif %}
                    {% set i = i +1 %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
{% endif %}



    <div id="map" style="height: 100%;width: 100%;position: absolute;visibility: hidden;">

    </div>




    {% if is_granted('ROLE_TUTEUR') or is_granted('ROLE_RECRUTEUR') %}
    <div id="wrapper" class="infobox-wrapper">
        {% set i =0 %}
        {% for apprenant in users %}
            <div id="apprenant{{ i }}" class="infobox">
                <label style="float: left;color:white; font:10px Roboto ;margin: 15px 0 0 5px; line-height: 9px;">{{ scores[i] }}%</label><div class="col-xs-1 active" style="margin: 15px 0 0 5px;" ></div>
                <div class="inbox" >
                    <div >
                        {% if apprenant.getPhotos %}
                        <img src="data:image/jpg;base64,{{ apprenant.getPhotos }}" style="height:100%;width: 100%;border-radius: 50%;">
                        {% else %}
                            <img src="{{ asset('image/homme.jpg') }}" style="height:100%;width: 100%;border-radius: 50%;">
                        {% endif %}
                    </div>
                </div>
                <label class="col-xs-12" style="color:white;font: 10px Roboto;text-transform: uppercase; text-align: center;top:30px;">{{ apprenant.getPrenom }} {{ apprenant.getNom }}</label>
                <label class="col-xs-12" style="color:white;font: 10px Roboto;text-transform: uppercase; text-align: center;top:30px;">4.7<img src="{{ asset('image/bookmark50.png') }}" style="height: 10px"></label>
                <button type="button" onclick="informationApprenant({{ apprenant.id }},'{{apprenant.getPhotos}}','{{ apprenant.getCivilite }}','{{ apprenant.getNom }}','{{ apprenant.getPrenom }}','{{ apprenant.getEmail }}',
                        '{{ apprenant.getTelephone }}','{{ apprenant.getInfo.getDateNaissance|date("d/m/Y") }}','{{ apprenant.getInfo.getCpNaissance }}','{{ apprenant.getInfo.getLieunaissance }}',
                        '{{ apprenant.getInfo.getAdresse }}','{{ scores[i] }}');show('FicheApprenant');" class="col-xs-12" style="margin-top: 30px;">Voir sa fiche</button>
                <button type="button" onclick="show('MettreEnRelation')" class="col-xs-12" >Mettre en relation</button>
                <button class="col-xs-12">plus</button>
            </div>
            {% set i = i +1 %}
        {% endfor %}
    </div>
    {% else %}
        <div id="wrapper" class="infobox-wrapper">
            <div id="Societe_Info" class="infobox">
                <div class="inbox" >
                    <div >
                        <img src="data:image/jpg;base64,{{ mission.etablissement.tier.getLogo }}" style="height:100%;width: 100%;border-radius: 50%;">
                    </div>
                </div>
                <label class="col-xs-12" style="color:white;font: 10px Roboto;text-transform: uppercase; text-align: center;top:30px;">{{ mission.intitule }} - {{ mission.etablissement.tier.raisonsoc }}</label>
                <label class="col-xs-12" style="color:white;font: 10px Roboto;text-transform: uppercase; text-align: center;top:30px;">4.7<img src="{{ asset('image/bookmark50.png') }}" style="height: 10px"></label>
                <button type="button" class="col-xs-12" style="margin-top: 30px;">Voir sa fiche</button>
                <button type="button" class="col-xs-12" >Mettre en relation</button>
                <button class="col-xs-12">plus</button>
            </div>
        </div>
    {% endif %}

</div>

<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
{#<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
#}
<script src="{{ asset('js/OverlappingMarkerSpiderfier.min.js') }}"></script>
<script src="{{ asset('js/infobox.js') }}"></script>

<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>

<script language="JavaScript">
    var locations =[];
    var loc, map, map_localisation, marker, infobox;
    var idMRDestinataire;
    function postuler(){
        ShowWaiter();
        var route = '{{ path('postuler_Mission',{'id': mission.id }) }}';
        $.ajax({
            type: 'POST',
            url: route,
            error: DeleteWaiter(),
            success: function(data){
                if(data===1)
                {
                    alert('Vous venez de postuler pour la mission {{ mission.codemission }}' );
                }
                else if(data===0)
                {
                    alert('Vous avez déjà postuler pour la mission {{ mission.codemission }}' );
                }
                DeleteWaiter();
            }
        });
    }

    function Show_MettreEnRelation(){
        document.getElementById('FicheApprenant').style.display = '';
        show('MettreEnRelation');
    }

    function OpenUrl(id,idfor){
       var route='{{ path('admin_afficheMission',{'id': '_id','idFor':'_idFor' }) }}';
           route=route.replace('_id',id);
        route=route.replace('_idFor',idfor);
        window.location=route
       // alert(route);

    }

    function FermerPopupMettreEnRelation(){
        document.getElementById('mettreEnRelationApprenant').style.display = 'none';
        document.getElementById('buttonMettreEnRelation').style.display = 'none';
        document.getElementById('buttonInformationApprenant').style.display = 'block';
        document.getElementById('information_apprenant').style.display = 'block';
    }

    function envoyerMRAction(){
        ShowWaiter();
        var route = '{{ path('MiseEnRelation_mission',{'idDest':'_IDUSER','idEnv':app.user.id,'mission':mission.id}) }}';
        route = route.replace('_IDUSER',idMRDestinataire);
        console.log($('#formMettreEnRelation').serialize());
        $.ajax({
            type: 'POST',
            url: route,
            data: $('#formMettreEnRelation').serialize(),
            error: function(error){console.log(error);DeleteWaiter();},
            success: function(data){
                if(data===1)
                {
                    document.getElementById('MettreEnRelation').style.display = 'none';
                    document.getElementById('formMettreEnRelation').reset();
                }
                else if(data==-1){
                    alert('l\'apprenant a déjà recu une mise en relation!')
                }
                DeleteWaiter();
            }
        });

    }

    /*function SortByScore(){
        var toSort = document.getElementById("ApprenantContainer").children;
        toSort = Array.prototype.slice.call(toSort, 0);

        toSort.sort(function(a, b) {
            var aord = +a.children[0].innerHTML;
            var bord = +b.children[0].innerHTML;
            // two elements never have the same ID hence this is sufficient:
            return (aord > bord) ? -1 : 1;
        });
        var parent = document.getElementById("ApprenantContainer");
        parent.innerHTML = "";

        for(var t = 0, l = toSort.length; t < l; t++) {
            parent.appendChild(toSort[t]);
        }
    }*/

    function afficher(id){
    var iddiv= "DivRDV"+id

        document.getElementById(iddiv).style.display= 'block';

    }
    function cacher(id){
        var iddiv= "DivRDV"+id
        document.getElementById(iddiv).style.display= 'none';
    }

    function modifierStatutMission(value,idmis) {
        var route = '{{ path('ModifierStatutMission',{'id':"_idMission",'statut':"_value"}) }}';
        route = route.replace('_idMission', idmis);
        route = route.replace('_value', value);

        $.ajax({
            type: 'get',
            url: route,
            success: function(data) {
                alert("Statut changé!");
            },
            error: function(data) {
                console.log(data);
            }
        });
    }
    function loading(){

        var onglet = sessionStorage.getItem('OngletMission');
        if(onglet)
        {
            document.getElementById(onglet).click();
        }
    }

    function modifier(formid,button) {
        var inputs = document.getElementById(formid).getElementsByTagName('input');
        for(var i = 0; i< inputs.length; i++)
        {
            inputs[i].readOnly = false;
        }
        var textareas = document.getElementById(formid).getElementsByTagName('textarea');
        for( i = 0; i< textareas.length; i++)
        {
            textareas[i].readOnly = false;
        }
        button.innerHTML="valider";
        button.setAttribute('onclick','document.getElementById(\'formMission\').submit()');

    }
    $('#Datefin').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'dd/mm/yy',
        monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
        monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
        }
    });
    $('#Datedebut').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'dd/mm/yy',
        monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
        monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
        }
    });
    function diffuserMission() {
        ShowWaiter();
        var route = '{{ path('Diffuser_Mission',{id:mission.id}) }}';
        $.ajax({
            type: "POST",
            url: route,
            data: $("#formDiffusion").serialize(),
            error: DeleteWaiter(),
            success: function(data)
            {
                if(data['status']===1)
                {
                    document.getElementById('formDiffusion').parentNode.parentNode.style.display ='none';
                    document.getElementById('formDiffusion').reset();
                    var inputs = document.getElementById('formDiffusion').getElementsByTagName("input");
                    inputs[inputs.length - 1].disabled = false;
                }
                DeleteWaiter();
            }
        });

    }
    function rechercheformation(mot) {
        var mots = mot.toUpperCase().trim().split(/ +/g);
        var select = document.getElementById('SelectMultipleFormation');
        select.innerHTML = '';
        var recherche = document.getElementById('SelectMultipleRechercheFormation');
        for(var i = 0; i < recherche.childElementCount; i++)
        {
            for(var j = 0; j< mots.length;j++)
            {
                if (stringWith(recherche.options[i].innerHTML, mots[j])) {
                    var option = document.createElement('option');
                    var RecherchesMots = recherche.options[i].innerHTML.trim().split(';');
                    option.value = RecherchesMots[0];
                    option.innerHTML = RecherchesMots[1] + ' - ' + RecherchesMots[2] + ' - ' + RecherchesMots[3];
                    select.appendChild(option);
                    break;
                }
            }
        }
    }
    function show_formapprenantproposer() {
        document.getElementById('information_apprenant').style.display= 'none';
        document.getElementById('proposerApprenant').style.display= 'block';
        document.getElementById('information_button').style.display= 'none';
        document.getElementById('proposer_button').style.display= 'block';
    }
    var infoWindows = [];var map_localisation;var marker_apprenant;
    function informationApprenantreception(image,nom,prenom,adresse){
        document.getElementById('Proposer').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        document.getElementById('Information_Apprenant_titree').innerHTML= nom +' '+ prenom;
        document.getElementById('Information_Apprenant_titre_adressee').innerHTML = adresse;


    }
    function informationApprenant(id,image,civilite,nom,prenom,email,telephone,Datenaissance,cpnaissance,lieuNaissance,adresse,score) {

        var NameDivUser = '_Mission'+id;
        var i=0;
        var IdDivUser=''
        var ClassDivUser='col-xs-10 col-xs-offset-1 SASPaginate';
       for(i=0 ; i < document.getElementsByName(NameDivUser).length;i++)
        {

            IdDivUser=IdDivUser+"|;|"+document.getElementsByName(NameDivUser)[i].id+"|;|"

        };


        for(i=0 ; i < document.getElementsByClassName(ClassDivUser).length;i++)
        {
            if ( !(IdDivUser.includes('|;|'+document.getElementsByClassName(ClassDivUser)[i].id+'|;|'))){

                document.getElementById(document.getElementsByClassName(ClassDivUser)[i].id).style.display='none';
            }else{
                document.getElementById(document.getElementsByClassName(ClassDivUser)[i].id).style.display='block';

            }

        };
        // mon javascript ici
        if(image != ''){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        }
        else if( civilite == 'Mme' || civilite =='Madame' || civilite == 'Mademoiselle'){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/femme.jpg') }}';
        }
        else{
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/homme.jpg') }}';
        }
        document.getElementById('Information_Apprenant_Civilite').innerHTML = civilite;
        document.getElementById('Information_Apprenant_Nom').innerHTML = nom;
        document.getElementById('Information_Apprenant_Prenom').innerHTML= prenom;
        document.getElementById('Information_Apprenant_Email').innerHTML = email;
        document.getElementById('Information_Apprenant_Telephone').innerHTML =telephone;
        document.getElementById('Information_Apprenant_DateNaissance').innerHTML =Datenaissance;
        document.getElementById('Information_Apprenant_CpNaissance').innerHTML =cpnaissance;
        document.getElementById('Information_Apprenant_LieuNaissance').innerHTML =lieuNaissance;
        document.getElementById('Information_Apprenant_Adresse').innerHTML =adresse;
        document.getElementById('Information_Apprenant_titre').innerHTML= nom +' '+ prenom;
        document.getElementById('Information_Apprenant_titre_adresse').innerHTML = adresse;
        idMRDestinataire = id;
        if(marker_apprenant)
        {
            marker_apprenant.setMap(null);
        }

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({'address': adresse }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {

                marker_apprenant = new google.maps.Marker({
                    map: map_localisation,
                    position: results[0].geometry.location,
                    visible: true,
                    icon: '{{ asset('image/') }}scores/'+score+'.png'
                });

            }
            else {
                alert('Nous n\'avons pas réussi à localiser l\'adresse l\'apprenant qui est : ' + adresse);
            }
        });

    }
    function FermerPopup(){
        document.getElementById('information_apprenant').style.display= 'block';
        document.getElementById('information_button').style.display= 'block';
        document.getElementById('proposerApprenant').style.display= 'none';
        document.getElementById('proposer_button').style.display= 'none';
    }
    $(".slide").click(function(){
        document.getElementById('info_mission').style.visibility= 'hidden';
        {% if is_granted('ROLE_TUTEUR') or is_granted('ROLE_RECRUTEUR') %}
        document.getElementById('apprenants_mission').style.visibility= 'hidden';
        {% endif %}
        document.getElementById('map').style.visibility= 'hidden';
        document.getElementById($(this).attr("data-show")).style.visibility= 'visible';

        for(var i = 0; i < infoWindows.length ; i++){
            infoWindows[i].close();
        }
        var target = $(this).offset();

        $("#baronglet").animate({left: "+="+(target.left - $("#baronglet").offset().left)},500)
        sessionStorage.setItem('OngletMission',$(this).attr('id'));

    });
    function post(path,refresh) {
        if(refresh)
        {
            $.ajax({
                type: 'get',
                url: path,
                error: function () {
                    alert('Une erreur s\'est produite');
                    DeleteWaiter();
                },
                success: function () {
                    window.parent.location.reload();
                }
            });
        }
        else
        {
            window.location = path;
        }
    }
    function submitform(form) {
        document.getElementById(form).submit();
    }

    function putAppMarker()
    {
        var oms = new OverlappingMarkerSpiderfier(map);
        {% if is_granted('ROLE_TUTEUR') or is_granted('ROLE_RECRUTEUR') %}


        var informations_users = JSON.parse('{{ informations_maps|json_encode }}'.replace(/&quot;/g,'"'));
        geocoder = new google.maps.Geocoder();
        var adresse_manquante = 0;
        for(var i = 0; i < {{ users|length }}; i++)
        {
            geocoder.geocode({'address': informations_users[i][1]}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    locations.push(results[0].geometry.location);
                    if((locations.length + adresse_manquante) == informations_users.length) {
                        var markers = [];
                        var scores = {{ scores|json_encode|raw }};
                        for(var j = 0; j< locations.length; j++ )
                        {

                            //console.log('{{ asset('image/') }}/scores/'+scores[j]+'.png');
                            /*var icone = '';
                             if(scores[j]<50){
                             icone = '{{ asset('image/lowscore_marker.png') }}';
                         }
                         else if(scores[j]<75){
                         icone = '{{ asset('image/mediumscore_marker.png') }}';
                         }
                         else if(scores[j] >=75){
                         icone = '{{ asset('image/highscore_marker.png') }}';
                         }*/
                            var marker = new google.maps.Marker({
                                id: j,
                                map: map,
                                position: locations[j],
                                visible: true,
                                icon: '{{ asset('image/') }}scores/'+scores[j]+'.png',
                                title: informations_users[j][0]
                            });

                            oms.addMarker(marker);
                            markers.push(marker);
                            infobox = new InfoBox({
                                content: document.getElementById("apprenant"+j)
                                ,disableAutoPan: false
                                ,maxWidth: 0
                                ,pixelOffset: new google.maps.Size(-76, -212)
                                ,zIndex: null
                                ,closeBoxMargin: "4px 4px 4px 4px"
                                ,closeBoxURL: "{{ asset('image/close_infobox.png') }}"
                                ,infoBoxClearance: new google.maps.Size(1, 1)
                                ,isHidden: false
                                ,pane: "floatPane"
                                ,enableEventPropagation: false
                            });

                            infoWindows.push(infobox);

                            oms.addListener('click', function(marker, event) {
                                infoWindows[marker.id].open(map, marker);
                                //map.panTo(locations[z]);
                            });

                        }

                    }
                }
                else {
                    adresse_manquante++;
                    if((locations.length + adresse_manquante) == informations_users.length) {
                        markers = [];
                        scores = {{ scores|json_encode|raw }};
                        for( j = 0; j< locations.length; j++ )
                        {
                            marker = new google.maps.Marker({
                                id: j,
                                map: map,
                                position: locations[j],
                                visible: true,
                                icon: '{{ asset('image/') }}/scores/'+scores[j]+'.png',
                                title: informations_users[j][0]
                            });

                            oms.addMarker(marker);
                            markers.push(marker);
                            infobox = new InfoBox({
                                content: document.getElementById("apprenant"+j)
                                ,disableAutoPan: false
                                ,maxWidth: 0
                                ,pixelOffset: new google.maps.Size(-76, -212)
                                ,zIndex: null
                                ,closeBoxMargin: "4px 4px 4px 4px"
                                ,closeBoxURL: "{{ asset('image/close_infobox.png') }}"
                                ,infoBoxClearance: new google.maps.Size(1, 1)
                                ,isHidden: false
                                ,pane: "floatPane"
                                ,enableEventPropagation: false
                            });

                            infoWindows.push(infobox);

                            oms.addListener('click', function(marker, event) {
                                infoWindows[marker.id].open(map, marker);
                                //map.panTo(locations[z]);
                            });

                        }
                    }
                }
            });
        }
        {% endif %}
    }
    function initialize() {
        /*map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });*/
        {% if mission.getEtablissement.getGeocode %}
        var geoloc = '{{ mission.getEtablissement.getGeocode }}';
        geoloc = geoloc.substring(1,geoloc.length - 1).split(',');
        var lat = parseFloat(geoloc[0]);
        var long = parseFloat(geoloc[1]);

        loc = new google.maps.LatLng(lat,long);
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: loc,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        marker = new google.maps.Marker({
            map: map,
            position: loc,
            visible: true,
            icon: '{{ asset('image/societe.png') }}'
        });
        map_localisation = new google.maps.Map(document.getElementById("Localisation"), {
            zoom: 15,
            center: loc,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        marker = new google.maps.Marker({
            map: map_localisation,
            position: loc,
            visible: true,
            icon: '{{ asset('image/societe.png') }}'
        });
        {% if not is_granted('ROLE_TUTEUR') and not is_granted('ROLE_RECRUTEUR') %}
        infobox = new InfoBox({
            content: document.getElementById("Societe_Info")
            ,disableAutoPan: false
            ,maxWidth: 0
            ,pixelOffset: new google.maps.Size(-76, -212)
            ,zIndex: null
            ,closeBoxMargin: "4px 4px 4px 4px"
            ,closeBoxURL: "{{ asset('image/close_infobox.png') }}"
            ,infoBoxClearance: new google.maps.Size(1, 1)
            ,isHidden: false
            ,pane: "floatPane"
            ,enableEventPropagation: false
        });
        infoWindows.push(infobox);

        google.maps.event.addListener(marker, "click", function() {
            infobox.open(map, this);
            map.panTo(loc);
        });
        {% endif %}
        putAppMarker();
        {% else %}
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': '{{ mission.getEtablissement.getAdresse}} {{  mission.getEtablissement.getVille}} {{  mission.getEtablissement.getCodePostal}}'}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                loc = results[0].geometry.location;
                map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 10,
                    center: loc,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                marker = new google.maps.Marker({
                    map: map,
                    position: loc,
                    visible: true,
                    icon: '{{ asset('image/societe.png') }}'
                });
                map_localisation = new google.maps.Map(document.getElementById("Localisation"), {
                    zoom: 15,
                    center: loc,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                marker = new google.maps.Marker({
                    map: map_localisation,
                    position: loc,
                    visible: true,
                    icon: '{{ asset('image/societe.png') }}'
                });
                {% if not is_granted('ROLE_TUTEUR') and not is_granted('ROLE_RECRUTEUR') %}
                infobox = new InfoBox({
                    content: document.getElementById("Societe_Info")
                    ,disableAutoPan: false
                    ,maxWidth: 0
                    ,pixelOffset: new google.maps.Size(-76, -212)
                    ,zIndex: null
                    ,closeBoxMargin: "4px 4px 4px 4px"
                    ,closeBoxURL: "{{ asset('image/close_infobox.png') }}"
                    ,infoBoxClearance: new google.maps.Size(1, 1)
                    ,isHidden: false
                    ,pane: "floatPane"
                    ,enableEventPropagation: false
                });
                infoWindows.push(infobox);

                google.maps.event.addListener(marker, "click", function() {
                    infobox.open(map, this);
                    map.panTo(loc);
                });
                {% endif %}
                putAppMarker();
            }
        });
        {% endif %}
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>