<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    <link rel="icon" type="image/png" href="{{ asset('image/Logo_Hub_3e.png') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onload="putbadged()">

<div id="addsuperuser" class="popup col-xs-3">
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-3 col-xs-6" style="padding: 0;border:20px solid white;display: block">

        <form id="formadduser" action="{{ path("user_added") }}" method="post">

            <div class="div_form" >
                <div class="col-xs-6 input-colonne">
                    <input type="text" class="input" id="Username" name="_Username" placeholder="Username">

                    <input type="email" class="input " id="mail" name="_mail" placeholder="Email">

                    <select class="input" title="" name="_role">
                        <option value="ROLE_SUPER_ADMIN">Super Administrateur</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="input " style="width: 25%; margin-right: 10px" title="" name="civilite">
                        <option value="Mr">Mr.</option>
                        <option value="Mme">Mme.</option>
                        <option value="Mlle">Mlle.</option>
                    </select>

                    <input type="text" class="input" style="width: calc(75% - 10px);" id="Prenom" name="_Prenom" placeholder="Prénom">
                    <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom">

                    <input type="tel" class="input " id="Tel" name="_Tel" placeholder="Tel">
                </div>


            </div>
            <div class="div_button">
                <input class="blue" type="submit" value="envoyer">
            </div>
        </form>
    </div>

</div>
<div id="addLicenceDef" class="popup col-xs-3">
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-3 col-xs-6" style="padding: 0;border:20px solid white;display: block">
        <form class="formulaire" id="formLicence" action="{{ path("metier_user_licenceadded") }}" method="post">
            <div class="div_form" >
                <div class="col-xs-6 input-colonne">
                    <input placeholder="Libelle" class="input" type="text" maxlength="10" id="Libelle" name="_Libelle">

                    <input class="input" type="number"  min="1" max="365" placeholder="Durée" id="Duree" name="_Duree">
                </div>
                <div class="col-xs-6">
                    <input class="input" type="number"  min="1" max="365" placeholder="Maximum d'apprenant" id="maxapp" name="_maxapp">

                    <input class="input" type="number"  min="1" max="365" placeholder="Maximum de mission" id="maxmiss" name="_maxmiss">
                </div>
                <textarea form="formLicence" placeholder="Description" class="input" maxlength="255" id="Description" name="_Description" style="height: 100px;display: inline-flex"></textarea>



            </div>
            <div class="div_button">
                <input class="blue" type="submit" value="envoyer">
            </div>
        </form>
    </div>
</div>

<div class="container">

{% block TopBar %}
    <div class="row" style="height: 32px; background: #2975cb;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-xs-1" style="border: 0;padding: 4.5px;height: 100%;">
            <a href="{{ path('metier_user_admin') }}" >     <img src="{{ asset('image/Logo_Hub_3e.png') }}" style="height: 21px;width: 100%" >        </a>
        </div>
        <div class="input-group col-xs-1 col-sm-1 col-md-1 col-xs-1" style="margin-left: 10px;border: 0;padding: 4.5px;height: 21px;float: left;">
            <button onclick="postiframe('{{ path("addtier",{'type':'1'}) }}')" type="button" class="glyphicon glyphicon-plus input-group-addon topbaradd"
                    ></button>

            <button id="ecoletop">Ecole</button>

        </div>
         <div class="input-group col-xs-1 col-sm-1 col-md-1 col-xs-1" style=" margin-left: 10px;border: 0;padding: 4.5px;height: 21px;float: left;">
             <button onclick="postiframe('{{ path("addtier",{'type':'0'}) }}')" type="button" class="glyphicon glyphicon-plus input-group-addon topbaradd"
                     ></button>

             <button id="societetop" >Société </button>

         </div>
         <div class="input-group col-xs-1 col-sm-1 col-md-1 col-xs-1" style=" margin-left: 10px;border: 0;padding: 4.5px;height: 21px;float: left;">
             <button onclick="show('addLicenceDef')" type="button" class="glyphicon glyphicon-plus input-group-addon topbaradd"
                    ></button>

             <button>Licences</button>
         </div>
         <div class="input-group col-xs-1 col-sm-1 col-md-1 col-xs-1" style=" margin-left: 10px;border: 0;padding: 4.5px;height: 21px;float: left;">
             <button onclick="show('addsuperuser')" type="button" class="glyphicon glyphicon-plus input-group-addon topbaradd"
                     ></button>

             <button>Utilisateurs</button>
         </div>
    </div>


{% endblock %}
    <div class="row" style="height: 100%">

        {% block LeftBar %}
            <div class="col-xs-2">

                <select title="" id="leftselect" name="myddl" class="btn btn-default dropdown-toggle">
                    <option value="ecole">Voir Ecoles</option>
                    <option value="societe">Voir Sociétés</option>
                    <option value="licence">Voir Licences</option>
                    <option value="user">Voir Utilisateurs</option>
                    <option value="QCM">Gestion QCM</option>
                    <option value="modele">Gestion Modèles</option>
                </select>

                <div id="ecole" class="list-group col-xs-2 leftbar">
                    {% if ecoles is defined %}
                        {% for e in ecoles %}
                            <button onclick="postiframe('{{ path('metier_user_affiche',{'id': e.getId} ) }}',{{ e.getId }},this)" id="etablissement{{ e.getId }}" type="button" class="list-group-item butonLigne">
                                <div class="col-xs-12 part" title="{{e.getTier.getRaisonSoc}}">{{e.getTier.getRaisonSoc}}</div>
                                <div class="col-xs-12 part"
                                     style="height: 31px; text-align: left;">
                                    <div class="col-xs-9 part" title="{{ e.getVille }}">{{ e.getVille }}</div>
                                    {% if e.getActive %}
                                        <div class="col-xs-1 active" id="active{{ e.getId }}"></div>
                                    {% else %}
                                        <div class="col-xs-1 inactive" id="active{{ e.getId }}"></div>
                                    {% endif %}
                            </div>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="societe" class="list-group col-xs-2 leftbar"
                     style="visibility: hidden;">
                    {% if societes is defined %}
                        {% for s in societes %}
                            <button onclick="postiframe('{{ path('metier_user_affiche',{'id': s.getId }) }}',{{ s.getId }},this)" id="etablissement{{ s.getId }}" type="button" class="list-group-item butonLigne">
                                <div class="col-xs-12 part" title="{{s.getTier.getRaisonSoc}}">{{s.getTier.getRaisonSoc}}</div>
                                <div class="col-xs-12 part"
                                     style="height: 31px; text-align: left;">
                                    <div class="col-xs-9 part" title="{{ s.getVille }}">{{ s.getVille }}</div>
                                    {% if s.getActive %}
                                        <div class="col-xs-1 active" id="active{{ s.getId }}"></div>
                                    {% else %}
                                        <div class="col-xs-1 inactive" id="active{{ s.getId }}"></div>
                                    {% endif %}
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}

                </div>
                <div id="licence" class="list-group col-xs-2 leftbar" style="visibility: hidden;">
                    {% if AllLicences is defined %}
                        {% for lic in AllLicences %}
                            <button id="licence{{ lic.getId }}" type="button" class="list-group-item butonLigne">
                                <div class="col-xs-12 part" title="{{lic.getLibelle}}">{{lic.getLibelle}}</div>
                                <div class="col-xs-12 part"
                                     style="height: 31px; text-align: left;">
                                    <div class="col-xs-9 part" title="{{ lic.getDuree }}">{{lic.getDuree }}</div>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}

                </div>
                <div id="user" class="list-group col-xs-2 leftbar" style="visibility: hidden;">
                    {% if users is defined %}
                        {% for u in users %}
                            <button onclick="postiframe('{{ path('metier_user_afficheUser',{'id': u.getId} ) }}')" id="user{{ u.getId }}" type="button" class="list-group-item butonLigne">
                                <div class="col-xs-12 part" title="{{u.getUsername}}">{{u.getUsername}}</div>
                                <div class="col-xs-12 part"
                                     style="height: 31px; text-align: left;">
                                    <div class="col-xs-9 part" title="{{u.getEmail}}">{{ u.getEmail }}</div>
                                    <span class="badge">New</span>
                                    <div class="col-xs-1 online"></div>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}

                </div>
                <div id="QCM" class="list-group col-xs-2 leftbar" style="visibility: hidden;">
                    {% if qcms is defined %}
                        {% for qcm in qcms %}
                            <button onclick="postiframe('{{ path('loadgestionQCM',{'id': qcm.getId} ) }}')" id="qcm{{ qcm.getId }}" type="button" class="list-group-item butonLigne">
                                <div class="col-xs-12 part">{{qcm.getNom}}</div>
                                <div class="col-xs-12 part"
                                     style="height: 31px; text-align: left;">
                                    <div class="col-xs-9 part"></div>
                                    <span class="badge">New</span>
                                    <div class="col-xs-1 online"></div>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}

                </div>
                <div id="modele" class="list-group col-xs-2 leftbar" style="visibility: hidden;">


                </div>
            </div>
        {% endblock %}


        <div class="col-xs-10" style="height: 100%" >

            <div class="row" style="height: 40px; margin: 0; background: #3988d7;">

                <div class="input-group col-xs-offset-1 col-xs-6" style="margin-top: 5px; float: left;">
                    <span class="glyphicon glyphicon-search input-group-addon"
                          id="basic-addon1"></span>
                    <input onkeyup="search(this.value)" type="text" class="recherche" aria-describedby="basic-addon1"
                           style="height: 27px;">
                </div>

                <div class="col-xs-offset-3 col-xs-1 btn-group" style="height: 20px;">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"
                            style="width: 100%; height: 20px; border-radius: 0; background: none; border: 0;color: white">
                        Filtres <span class="glyphicon glyphicon-menu-down"
                                     aria-hidden="true"></span>
                    </button>
                    <ul id="filtre" class="dropdown-menu" aria-labelledby="dropdownMenu1">

                    </ul>
                </div>
            </div>

            {% block Content%}

                    <iframe id="iframe" src="{{ path(url) }}"></iframe>

            {% endblock %}
        </div>

    </div>

</div>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script language="JavaScript">
    document.getElementById("leftselect").onchange = function(){
        var x = document.getElementById("leftselect").value;
        if(x=='QCM')
        {
            document.getElementById("iframe").src = '{{ path('loadgestionQCM') }}';
        }
        if(x=='modele')
        {
            document.getElementById("iframe").src = '{{ path('creeNewModele') }}';
        }

        document.getElementById('ecole').style.visibility= 'hidden';
        document.getElementById('societe').style.visibility= 'hidden';
        document.getElementById('licence').style.visibility= 'hidden';
        document.getElementById('user').style.visibility= 'hidden';
        document.getElementById('QCM').style.visibility= 'hidden';
        document.getElementById('modele').style.visibility= 'hidden';
        document.getElementById(x).style.visibility='visible';

    };
    function postiframe(url,id,button) {
        document.getElementById("iframe").src = url;
        var route = '{{path('adresses_tier',{'id':"_id" })}}';
        var route = route.replace("_id", id);
        $.ajax({
            type: 'get',
            url: route,
            dataType: 'json',
            success: function(data){
                var filtre = document.getElementById("filtre");
                while (filtre.firstChild) {
                    filtre.removeChild(filtre.firstChild);
                }
                for (var i = 0; i < data.adresses.length; i++)
                {
                    var obj = JSON.parse(data.adresses[i]);

                    var li = document.createElement("li");

                    var a = document.createElement("a");
                    a.setAttribute('href',obj.id);
                    a.innerHTML = obj.adresse;

                    li.appendChild(a);

                    filtre.appendChild(li);
                }

            }
        });
        var elements = button.getElementsByClassName("badge");
        elements[0].parentNode.removeChild(elements[0]);
    }
    function stringWith (str, prefix) {
        var ustring = str.toUpperCase();
        var uprefix = prefix.toUpperCase();
        if (ustring.indexOf(uprefix) >= 0)
        {
            return true;
        }
        else
        {
            return false;
        }
    };
    function search(mot){

        var buttons = document.getElementById('ecole').getElementsByClassName('butonLigne');

        var i=0;
        while(i<buttons.length)
        {
            buttons[i].style.display="block";
            var c = buttons[i].children;
            if (!stringWith(c[0].getAttribute('title'), mot) && !stringWith(c[1].children[0].title, mot)) {
                buttons[i].style.display="none";
            }
            i++;
        }

        var buttons = document.getElementById('societe').getElementsByClassName('butonLigne');

        var i=0;
        while(i<buttons.length)
        {
            buttons[i].style.display="block";
            var c = buttons[i].children;
            if (!stringWith(c[0].getAttribute('title'), mot) && !stringWith(c[1].children[0].title, mot)) {
                buttons[i].style.display="none";
            }
            i++;
        }
        var buttons = document.getElementById('licence').getElementsByClassName('butonLigne');

        var i=0;
        while(i<buttons.length)
        {
            buttons[i].style.display="block";
            var c = buttons[i].children;
            if (!stringWith(c[0].getAttribute('title'), mot) && !stringWith(c[1].children[0].title, mot)) {
                buttons[i].style.display="none";
            }
            i++;
        }
        var buttons = document.getElementById('user').getElementsByClassName('butonLigne');

        var i=0;
        while(i<buttons.length)
        {
            buttons[i].style.display="block";
            var c = buttons[i].children;
            if (!stringWith(c[0].getAttribute('title'), mot) && !stringWith(c[1].children[0].title, mot)) {
                buttons[i].style.display="none";
            }
            i++;
        }
    };
    function putbadged()
    {
        var notifs = JSON.parse('{{ notifications|raw }}');
        var ecole =0;
        var societe = 0;
        for(var i = 0; i< notifs.length;i++)
        {
            var span = document.createElement("span");
            span.className = 'badge';
            span.innerHTML = 'New';
            if(notifs[i].type == 'Ecole')
            {
                ecole++;
                var active = document.getElementById("active"+ notifs[i].entite);
                if(active != null){active.parentNode.insertBefore(span,active);}

            }
            if(notifs[i].type == 'Societe')
            {
                societe++;
                var active = document.getElementById("active"+ notifs[i].entite);
                if(active != null){active.parentNode.insertBefore(span,active);}

            }
        }

        if(ecole > 0)
        {
            var spanecole = document.createElement("span");
            spanecole.className = 'badge';
            spanecole.className = spanecole.className + ' notifTopbar';
            spanecole.innerHTML = ecole;
            spanecole.style.left ="30px";
            var buttonecole = document.getElementById("ecoletop");
            buttonecole.appendChild(spanecole);
        }
        if(societe >0)
        {var spansociete = document.createElement("span");
            spansociete.className = 'badge';
            spansociete.className = spansociete.className + ' notifTopbar';
            spansociete.innerHTML = societe;
            spansociete.style.left ="20px";
            var buttonsociete = document.getElementById("societetop");
            buttonsociete.appendChild(spansociete);
        }

    }
</script>

{% block JS %}

{% endblock %}
</body>
</html>

