<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/paginate.css') }}" />
    {% block CSS %}{% endblock %}
    <style>
        .hidden{display: none !important;}
        .ui-widget-header{color:black;}
    </style>
    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onunload="window.parent.document.getElementById('iframe').style.position ='static';window.parent.document.getElementById('iframe').style.height ='calc(100% - 72px)';">


<div id="FicheApprenant" class="popup" >
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">

        <form id="formFicheApprenant" class="formulaire"   method="post">
            <div>
                <div class="col-lg-12" >
                    <img src="" style="border-radius:50%; width:50px; height:50px" >
                </div>
                <div class="col-lg-12">
                    <label id="Information_Apprenant_titre" style="color:black" ></label>
                </div>
                <div id="Information_Apprenant_titre_adresse" class="col-xs-12" style="height: 20px;color: #666666;font:medium Roboto;margin-bottom: 40px"></div>
            </div>



            <div class="div_form"  id="information_apprenant" >
                <div class="row" style=" margin-bottom: 20px">

                    <div class="col-xs-12">
                        <label style="font: 40px Roboto;color: rgb(61, 138, 212);line-height: 0.375;text-align: left;z-index: 30;transform: rotate(180deg);">,,</label>
                        <label id="Information_Apprenant_Message" style="height: 20px;color: #666666;font:small italic Roboto;margin-bottom: 40px;">
                            Votre mission m'interesse,je serais heureux de vous rencontrer pour en discuter.
                        </label>
                    </div>
                    <div class="row" >
                        <button onclick="document.getElementById('info_apprenant').style.display ='block';document.getElementById('Localisation').style.display ='none';"
                                class="col-xs-4 onglet"  type="button" style="margin-left: 20px;width: 50%"> FICHE APPRENANT</button>
                        <button onclick="document.getElementById('Localisation').style.display ='block';document.getElementById('info_apprenant').style.display ='none';
                        var center = map_localisation.getCenter();
                        google.maps.event.trigger(map_localisation, 'resize');
                        map_localisation.setCenter(center);"
                                class="col-xs-4 onglet"  type="button" style="width: calc(50% - 50px)" >LOCALISATION</button>

                    </div>

                    <div id="info_apprenant" style="height: 281px;border-top: 1px solid #B0B0B0;margin: 0;overflow-y: auto;width: 100%;">
                        <div class="col-xs-12" >

                            <div class="col-xs-12" >
                                <label class="cell"  style="float:left;">Civilité : <label id="Information_Apprenant_Civilite"></label></label>
                            </div>
                            <div class="col-xs-10 ">
                                <label class="cell" style="float:left;">Nom : <label id="Information_Apprenant_Nom"></label> </label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Prenom : <label id="Information_Apprenant_Prenom"></label></label>

                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Email  : <label id="Information_Apprenant_Email"></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Téléphone : <label id="Information_Apprenant_Telephone"></label></label>

                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Date naissance : <label id="Information_Apprenant_DateNaissance"  ></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Cp naissance  : <label id="Information_Apprenant_CpNaissance" ></label></label>

                            </div>

                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Lieu naissance: <label id="Information_Apprenant_LieuNaissance" ></label></label>
                            </div>
                            <div class="col-xs-10">
                                <label class="cell" style="float:left;">Adresse       : <label id="Information_Apprenant_Adresse" ></label></label>
                            </div>
                        </div>
                    </div>
                    <div id="Localisation"  style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;display:none;">

                    </div>
                </div>



            </div>

            <div class="div_form" id="proposerApprenant" style="display: none">
                <div class="row" style=" margin-bottom: 20px;">

                    <div class="col-xs-12" >
                        <textarea style="height: 200px;resize: none;" class="input" name="MessageAcceptation" placeholder="Votre profil nous intéresse,nous vous proposons une plage de rendez-vous en lien Doodle"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <button type="button" onclick="AddDateTimeDiv(this)">+</button>
                        <div class="col-xs-4 col-xs-offset-4">
                            <label class="col-xs-1">Le : </label><input title="Date du rendez-vous" name="dateRDV[]" type="text" class="col-xs-4" required>
                            <label class="col-xs-1"> à </label><input title="Heure du rendez-vous" name="timeRDV[]" class="col-xs-4" type="text" required>
                            <button type="button" class="col-xs-offset-1 col-xs-1" onclick="if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}">-</button>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <label style="text-align:left;width:100%;">Proposer un lien externe pour la prise de rendez-vous (type Doodle) : </label>
                    </div>

                    <div class="col-xs-12">
                        <input placeholder="Proposer un lien externe pour la prise de rendez-vous (type Doodle)" type="url" name="LienDoodle" style="text-align:left;width:100%">
                    </div>

                </div>
            </div>

            <div class="div_form" id="declinerApprenant" style="display: none" >

                <div class="row" style=" margin-bottom: 20px;">
                    <textarea name="MessageRefus" style="height: 200px;resize: none;" class="input"  placeholder="Nous vous remercions pour l'intérêt porter à notre mission, cependant nous n'avons pas retenu votre profil ."></textarea>
                </div>

            </div>


            <div id="information_button" class="div_button" style="display: block;">
                <input  onclick="show_formapprenant()" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Décliner">
                <input id="submitReception" class="blue" type="button" onclick="this.parentNode.parentNode.parentNode.parentNode.style.display='none';" style="margin-left: 250px"  value="Répondre plus tard">
                <input onclick="show_formapprenantproposer()"  class="blue" type="button"   value="Proposer un rendez-vous">
            </div>
            <div id="decliner_button" class="div_button" style="display: none">
                <input id="submitAnnuler" onclick="FermerPopup()" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Annuler">
                <input id="submitDecliner" class="blue" type="button" onclick="envoyerReponse('formFicheApprenant',false)"  style="margin-left: 390px" value="Décliner">
            </div>
            <div id="proposer_button" class="div_button" style="display: none">
                <input  class="blue" onclick="FermerPopup('information_apprenant')" style="background:white;color:#666666;border:1px solid #ccc;float: left;text-align: center ;width: 120px;height:50px" type="button" value="Annuler">
                <input id="submitReception" class="blue" type="button" onclick="envoyerReponse('formFicheApprenant',true)" style="margin-left: 300px;text-align:center;width: 120px;height:50px"  value="Valider">
            </div>

        </form>

    </div>


</div>

<div id="FicheMission" class="popup">
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-6" style="padding: 0;border:20px solid white;display: block; margin-left: 20%;" >

        <form id="formFicheMission" class="formulaire" method="post">

            <div class="div_form" style="border-bottom:1px solid #adadad;display: block;">

                <div>
                    <div class="col-xs-12" >
                        <img  src="" style="padding: 10px; height: 80px;">
                    </div>
                    <div class="col-xs-12"  style="height: 30px;  padding: 10px;">
                        <label id="Information_Mission_Intitule" style="font:large Roboto;color:black" ></label> -
                        <label id="Information_Mission_titre_raisonsoc" style="font:large Roboto;color:#2A76CC" > </label>
                    </div>
                    <div class="col-xs-12" style="height: 20px; font:small Roboto;margin-bottom:30px">
                        <label id="Information_Mission_titre_adresse"></label>
                    </div>


                </div>

                <div  id="information_mission" >
                    <div class="row" style=" margin: 0;">
                        <div class="col-xs-12">
                            <label style="font: 40px Roboto;color: rgb(61, 138, 212);line-height: 0.375;text-align: left;z-index: 30;transform: rotate(180deg);">,,</label>
                            <label id="Information_Mission_Message" style="height: 20px;color: #666666;font: 20px italic Roboto;margin-bottom: 40px;">
                                Votre mission m'interesse,je serais heureux de vous rencontrer pour en discuter.
                            </label>
                            <label style="float: right" id="Information_Mission_code"></label>
                        </div>
                        <div class="row" >
                            <button onclick="document.getElementById('info_mission').style.display ='block';document.getElementById('Localisationmission').style.display ='none'"  class="col-xs-4 onglet"  type="button" style="margin-left: 20px;width: 50%"> FICHE MISSION</button>
                            <button onclick="document.getElementById('Localisationmission').style.display ='block';document.getElementById('info_mission').style.display ='none';
                        var center = map_mission.getCenter();
                        google.maps.event.trigger(map_mission, 'resize');
                        map_mission.setCenter(center);" class="col-xs-4 onglet"  type="button" style="width: calc(50% - 50px)" >LOCALISATION</button>
                        </div>
                        <div id="info_mission" style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;">

                            <div class="col-xs-12" >
                                <div class="list-group affichage">

                                    <label class="list-group-item mission" >LA MISSION : <br/>
                                        <label id="Information_Mission_Descriptif"  style="color:black; font-weight: lighter" ></label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="Localisationmission"  style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;display:none;">

                        </div>
                    </div>
                </div>


                <div id="declinerMission" style="display:none;width: 100%">
                    <textarea name="MessageRefus" style="height: 200px;resize: none;" class="input"  placeholder="Cette mission ne m'interesse pas,elle se situe trop loin ." required ></textarea>
                </div>


            </div>

            <div id="mission_button" class="div_button" style="display:block;">
                <input  onclick="show_formmission()"  class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Décliner">
                <input id="submitReception" class="blue" type="submit" style="margin-left: 270px" onclick="this.parentNode.parentNode.parentNode.parentNode.style.display='none';" value="Répondre plus tard">
                <input  class="blue" type="button" onclick="postuler()"   value="Postuler">

            </div>

            <div id="declinerMission_button" class="div_button" style="display:none">
                <input onclick="FermerPopup()" id="submitAnnuler" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Annuler">
                <input id="submitDecliner" class="blue" type="button" onclick="envoyerReponse('formFicheMission')"  style="margin-left: 390px" value="Décliner">
            </div>

        </form>
    </div>

</div>


<div id="info_messagerie" style="border-top: 1px solid #B0B0B0;background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%;padding-bottom: 40px ;">

    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 10px;">
        <select class="input col-xs-2" title="messages" style="height:40px;">
            <option value="les messages">Tous les messages</option>
        </select>
        <div class="col-xs-2" style="margin-left: 20px;height:40px;display: flex;">
            <span class="glyphicon glyphicon-search col-xs-2" id="basic-addon1" style="height: 30px;padding: 7px;float: left;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;"></span>
            <input class="col-xs-10" type="text" onkeyup="search(this.value)" aria-describedby="basic-addon1" style="height: 31px;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;" placeholder="Recherche ...">
        </div>
        <div id="paginationContainer" class="customepaginate" style="max-width: 240px;float: right;display: flex;">
            <button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        </div>
        
    </div>


<div id="List-Message" class="col-xs-10 col-xs-offset-1">
    {% if messageies is defined %}
        {% for msg in messageies %}

            <div id="{{ msg.id }}" class="Liste" style="border: 1px solid #ddd;float: left;;margin: 0;width: 100%;height:100px;" >
                <div name="Recherche" style="display: none;">{{ msg.date|date('d/m/Y') }},{{ msg.message }},{{ msg.expediteur.nom }},{{ msg.expediteur.prenom }},{{ msg.expediteur.email }},{% if msg.expediteur.info %}{{ msg.expediteur.info.adresse }},{{ msg.expediteur.info.cp }},{{ msg.expediteur.info.insee }}{% endif %},{% if msg.mission %}{{ msg.mission.intitule }},{{ msg.mission.codemission }},{{ msg.mission.descriptif }},{{ msg.mission.domaine }},{% if msg.mission.etablissement %}{{ msg.mission.etablissement.siret }},{{ msg.mission.etablissement.adresse }},{{ msg.mission.etablissement.secteur }},{{ msg.mission.etablissement.tier.raisonsoc }}{% endif %}{% endif %}</div>
                {% if msg.expediteur.hasRole('ROLE_APPRENANT') %}
                    <div class="col-xs-2" >
                        <div style="border: 15px solid transparent">
                            {% if msg.getExpediteur.getPhotos %}
                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="data:image/jpg;base64,{{ msg.getExpediteur.getPhotos }}">
                            {% elseif msg.getExpediteur.getCivilite == 'Mme' or msg.getExpediteur.getCivilite == 'Madame' or msg.getExpediteur.getCivilite == 'Mademoiselle' %}
                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/femme.jpg') }}">
                            {% else %}
                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/homme.jpg') }}">
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-1" style="margin-top:10px;text-align: left ">
                        <label style="font:18px Roboto;margin-top: 40px" > {{ msg.getDate|date('d M') }} </label>
                    </div>

                    <div class="col-xs-6" style="margin-top:10px;text-align: left">
                        <label style="font:18px arial ;margin-top: 20px;float:left;width: 100%" > {{ msg.getMessage|raw }} </label><br>
                        <label style="font:16px arial;float:left;width: 100%" > {{ msg.getMission.getIntitule }} - <label style="font:18px arial;color:#2A76CC" > {{ msg.getMission.etablissement.tier.raisonsoc }}</label> </label>
                    </div>

                    <div class="col-xs-offset-1 col-xs-1" style="margin-top:10px;">
                        {% if msg.statut == 1 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;color: green;" > Valider </label>
                        {% elseif msg.statut == -1 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;color: red;" > Décliner </label>
                        {% elseif msg.statut == 2 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;" > En attente </label>
                        {% else %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px" > Répondez </label>
                        {% endif %}
                    </div>
                    <div
                            onclick="informationApprenant('{{msg.getExpediteur.getPhotos|escape('js')}}','{{ msg.getExpediteur.getCivilite|escape('js') }}','{{ msg.getExpediteur.getNom|escape('js') }}','{{ msg.getExpediteur.getPrenom|escape('js') }}',
                                    '{{ msg.getExpediteur.getEmail|escape('js') }}','{{ msg.getExpediteur.getTelephone|escape('js') }}','{{ msg.getExpediteur.getInfo.getDateNaissance|date("d/m/Y") }}',
                                    '{{ msg.getExpediteur.getInfo.getCpNaissance|escape('js') }}','{{ msg.getExpediteur.getInfo.getLieunaissance|escape('js') }}','{{ msg.getExpediteur.getInfo.getAdresse|escape('js') }}','{{ msg.message|escape('js') }}','{{ msg.statut|escape('js') }}');
                            show('FicheApprenant');idMessage={{ msg.id|e('js') }};"

                            class="col-xs-1" style="height: 100%">
                        <span class="glyphicon glyphicon-option-vertical" style="margin-top:40px;height:20px;color:#8c8c8c"></span>
                    </div>
                {% else %}
                    <div class="col-xs-2" >
                        <div style="border: 15px solid transparent">
                            <img   src="data:image/jpg;base64,{{ msg.mission.etablissement.tier.logo }}" style="height:70px;width:70px;margin:0 40px;border-radius: 100%">
                        </div>


                    </div>

                    <div class="col-xs-1" style="margin-top:10px;text-align: left ">
                        <label style="font:18px Roboto;margin-top: 40px" > {{ msg.getDate|date('d M') }} </label>
                    </div>

                    <div class="col-xs-6" style="margin-top:10px;text-align: left">
                        <label style="font:18px Roboto ;margin-top: 20px;float:left;width: 100%" > {{ msg.getMessage }} </label><br>
                        <label style="font:16px Roboto;float:left;width: 100%" > {{ msg.getMission.getIntitule }} - <label style="font:18px Roboto;color:#2A76CC" > {{ msg.getMission.etablissement.tier.raisonsoc }}</label> </label>
                    </div>

                    <div class="col-xs-offset-1 col-xs-1" style="margin-top:10px;">
                        {% if msg.statut == 1 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;color: green;" > Valider </label>
                        {% elseif msg.statut == -1 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;color: red;" > Décliner </label>
                        {% elseif msg.statut == 2 %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px;" > En attente </label>
                        {% else %}
                            <label id="statut{{ msg.id }}" style="font:18px Roboto;margin-top: 30px" > Répondez </label>
                        {% endif %}
                    </div>
                    <div
                            onclick="informationMission('{{ msg.mission.etablissement.tier.logo|escape('js') }}','{{ msg.mission.intitule|escape('js') }}','{{ msg.mission.etablissement.tier.raisonsoc|escape('js') }}','{{ msg.mission.descriptif|escape('js') }}',
                            '{{ msg.mission.codemission|escape('js') }}','{{ msg.mission.etablissement.adresse|escape('js') }}','{{ msg.mission.etablissement.ville|escape('js')  }}','{{ msg.mission.etablissement.codepostal|escape('js') }}','{{ msg.message|escape('js') }}','{{ msg.statut|escape('js') }}');
                            show('FicheMission');idMessage={{ msg.id|e('js') }}"

                            class="col-xs-1" style="height: 100%">
                        <span class="glyphicon glyphicon-option-vertical" style="margin-top:40px;height:20px;color:#8c8c8c"></span>

                    </div>
                {% endif %}
            </div>

        {% endfor %}
    {% endif %}
</div>
</div>


<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script src="{{ asset('js/paginate.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script language="JavaScript">
    var marker,map_localisation,map_mission,marker_societe,idMessage;
    function AddDateTimeDiv(button){
        if(button.parentElement.children.length < 4) {
            var divContainer = document.createElement('div');
            divContainer.className = 'col-xs-4 col-xs-offset-4';
            //label DATE
            var LabelDate = document.createElement('label');
            LabelDate.className = 'col-xs-1';
            LabelDate.innerHTML = 'Le : ';
            //INPUT DATE
            var inputDate = document.createElement('input');
            inputDate.setAttribute('name','dateRDV[]');
            inputDate.setAttribute('id',button.nextElementSibling.firstElementChild.id +'_'+button.parentElement.children.length);
            inputDate.setAttribute('type','text');
            inputDate.className = "col-xs-4";
            //label DATE
            var LabelTime = document.createElement('label');
            LabelTime.className = 'col-xs-1';
            LabelTime.innerHTML = ' à ';
            //INPUT TIME
            var inputTime = document.createElement('input');
            inputTime.setAttribute('name','timeRDV[]');
            inputTime.setAttribute('id',button.nextElementSibling.children[1].id +'_'+button.parentElement.children.length);
            inputTime.setAttribute('type','text');
            inputTime.className = "col-xs-4";
            //delete button
            var deleteButton = document.createElement('button');
            deleteButton.setAttribute('onclick','if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}');
            deleteButton.setAttribute('type','button');
            deleteButton.className = "col-xs-offset-1 col-xs-1";
            deleteButton.innerHTML = '-';

            //append
            divContainer.appendChild(LabelDate);
            divContainer.appendChild(inputDate);
            divContainer.appendChild(LabelTime);
            divContainer.appendChild(inputTime);
            divContainer.appendChild(deleteButton);

            button.parentNode.appendChild(divContainer);
        }
    }
    $(document).on( "focus", "input[name='dateRDV[]']:not(.hasDatepicker)", function() {
        //toastr.info( "Initializing " + this.id );

        $( this ).datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            onClose: function(dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
            }
        });
    });
    $(document).ready(function(){
        window.parent.document.getElementById('iframe').style.left ='0';
        window.parent.document.getElementById('iframe').style.top ='32px';
        window.parent.document.getElementById('iframe').style.height ='calc(100% - 32px)';
        window.parent.document.getElementById('iframe').style.position ='fixed';
        window.parent.document.getElementById('iframe').style.visibility ='visible';
        $("#paginationContainer").customPaginate({
            itemsToPaginate : ".Liste",
            activeClass : "active-class"
        });

    });
    function search(mot){
        var mots = mot.toUpperCase().trim().split(/ +/g);
        var Recherches = document.getElementsByName('Recherche');
        for(var i = 0; i < Recherches.length; i++)
        {
            var score = 0;
            Recherches[i].parentNode.classList.remove('hidden');
            var recherchermot = Recherches[i].innerHTML.toUpperCase().trim().split(/,+/g);
            for(var k = 0; k< recherchermot.length; k++)
            {
                for(var j = 0; j< mots.length;j++)
                {
                    if (stringWith(recherchermot[k], mots[j])) {
                        score++;
                    }
                }
            }
            if(score === 0 ){
                Recherches[i].parentNode.classList.add('hidden');
            }
        }
        $(".Liste").show();
        $("#paginationContainer").html('<button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>').customPaginate({
            itemsToPaginate : ".Liste:not(.hidden)",
            activeClass : "active-class"
        });
    }
    function postuler(){
        ShowWaiter();
        var route = '{{ path('Postuler_Messagerie',{'idmessage':'_IDMESSAGE'}) }}';
        route = route.replace('_IDMESSAGE',idMessage);
        $.ajax({
            type: 'POST',
            url: route,
            error: function(errorMessage){
                DeleteWaiter();
                console.log(errorMessage);
                document.getElementById('FicheMission').style.display = 'none';
            },
            success: function(data){
                document.getElementById('FicheMission').style.display = 'none';
                if(data===1)
                {
                    document.getElementById('statut'+idMessage).style.color = 'green';
                    document.getElementById('statut'+idMessage).innerHTML = 'Valider';
                }
                DeleteWaiter();
            }
        });
    }
    function envoyerReponse(div,checkDate){

        if(typeof checkDate !== 'undefined' && checkDate){
            var inputTimes = document.getElementsByName('timeRDV[]');
            for(var k = 0; k < inputTimes.length; k++){
                var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputTimes[k].value);

                if (!isValid) {
                    alert('verifiez que les heure respect le format HH:MM');
                    return;
                }
            }
        }
        ShowWaiter();
        var route = '{{ path('Reponse_Messagerie',{'idmessage':'_IDMESSAGE'}) }}';
        route = route.replace('_IDMESSAGE',idMessage);
        $.ajax({
            type: 'POST',
            url: route,
            data: $('#'+div).serialize(),
            error: DeleteWaiter(),
            success: function(data){
                if(data===-1)
                {
                    document.getElementById(div).parentNode.parentNode.style.display = 'none';
                    document.getElementById(div).reset();
                    document.getElementById('statut'+idMessage).style.color = 'red';
                    document.getElementById('statut'+idMessage).innerHTML = 'Décliner';
                    document.getElementById('statut'+idMessage).parentNode.nextElementSibling.setAttribute('onclick','');
                }
                else if(data===1)
                {
                    document.getElementById(div).parentNode.parentNode.style.display = 'none';
                    document.getElementById(div).reset();
                    document.getElementById('statut'+idMessage).style.color = 'green';
                    document.getElementById('statut'+idMessage).innerHTML = 'Valider';
                    document.getElementById('statut'+idMessage).parentNode.nextElementSibling.setAttribute('onclick','');
                }
                else
                {
                    alert('Verifier que vous avez bien rempli votre message');
                    console.log(data);
                }

                DeleteWaiter();

            }
        });
    }
    function show_formapprenant() {
        document.getElementById('information_apprenant').style.display= 'none';
        document.getElementById('declinerApprenant').style.display= 'block';
        document.getElementById('information_button').style.display= 'none';
        document.getElementById('decliner_button').style.display= 'block';
    }
    function show_formapprenantproposer() {
        document.getElementById('information_apprenant').style.display= 'none';
        document.getElementById('proposerApprenant').style.display= 'block';
        document.getElementById('information_button').style.display= 'none';
        document.getElementById('proposer_button').style.display= 'block';
    }
    function show_formmission() {
        document.getElementById('information_mission').style.display= 'none';
        document.getElementById('declinerMission').style.display= 'inline-block';
        document.getElementById('mission_button').style.display= 'none';
        document.getElementById('declinerMission_button').style.display= 'block';
    }
    function FermerPopup(){
        document.getElementById('information_apprenant').style.display= 'block';
        document.getElementById('information_button').style.display= 'block';
        document.getElementById('information_mission').style.display= 'block';
        document.getElementById('mission_button').style.display= 'block';
        document.getElementById('proposerApprenant').style.display= 'none';
        document.getElementById('proposer_button').style.display= 'none';
        document.getElementById('declinerApprenant').style.display= 'none';
        document.getElementById('decliner_button').style.display= 'none';
        document.getElementById('declinerMission').style.display= 'none';
        document.getElementById('declinerMission_button').style.display= 'none';
    }

    function informationMission(image,intitule,raisonsoc,descriptif,codemission,adresse,ville,cp,message,Msgstatut) {
        document.getElementById('FicheMission').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        document.getElementById('Information_Mission_Descriptif').innerHTML = descriptif;
        document.getElementById('Information_Mission_Intitule').innerHTML= intitule;
        document.getElementById('Information_Mission_titre_raisonsoc').innerHTML= raisonsoc;
        document.getElementById('Information_Mission_code').innerHTML= codemission;
        document.getElementById('Information_Mission_titre_adresse').innerHTML = adresse +', '+ cp +' '+ ville;
        document.getElementById('Information_Mission_Message').innerHTML = message;
        if(Msgstatut == 1 || Msgstatut == -1 || Msgstatut == 2 ){

            document.getElementById('mission_button').style.display = 'none';
        }
        else{
            
            document.getElementById('mission_button').style.display = 'block';
        }
        if(marker_societe)
        {
            marker_societe.setMap(null);
        }
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': adresse }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                marker_societe = new google.maps.Marker({
                    map: map_mission,
                    position: results[0].geometry.location,
                    visible: true,
                    icon: '{{ asset('image/societe.png') }}'
                });
                map_mission.setCenter(results[0].geometry.location);
            }
            else {
                alert('Nous n\'avons pas réussi à localiser l\'adresse l\'apprenant qui est : ' + adresse);
            }
        });
    }
    function informationApprenant(image,civilite,nom,prenom,email,telephone,Datenaissance,cpnaissance,lieuNaissance,adresse,message,Msgstatut) {

        if(image != ''){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        }
        else if( civilite == 'Mme' || civilite =='Madame' || civilite == 'Mademoiselle'){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/femme.jpg') }}';
        }
        else{
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/homme.jpg') }}';
        }


        document.getElementById('Information_Apprenant_Civilite').innerHTML = civilite;
        document.getElementById('Information_Apprenant_Nom').innerHTML = nom;
        document.getElementById('Information_Apprenant_Prenom').innerHTML= prenom;
        document.getElementById('Information_Apprenant_Email').innerHTML = email;
        document.getElementById('Information_Apprenant_Telephone').innerHTML =telephone;
        document.getElementById('Information_Apprenant_DateNaissance').innerHTML =Datenaissance;
        document.getElementById('Information_Apprenant_CpNaissance').innerHTML =cpnaissance;
        document.getElementById('Information_Apprenant_LieuNaissance').innerHTML =lieuNaissance;
        document.getElementById('Information_Apprenant_Adresse').innerHTML =adresse;
        document.getElementById('Information_Apprenant_titre').innerHTML= nom +' '+ prenom;
        document.getElementById('Information_Apprenant_titre_adresse').innerHTML = adresse;
        document.getElementById('Information_Apprenant_Message').innerHTML = message;
        if(Msgstatut == 1 || Msgstatut == -1 || Msgstatut == 2 ){
            document.getElementById('information_button').style.display = 'none';
        }else{
            document.getElementById('information_button').style.display = 'block';
        }



        if(marker)
        {
            marker.setMap(null);
        }
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': adresse }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                marker = new google.maps.Marker({
                    map: map_localisation,
                    position: results[0].geometry.location,
                    visible: true,
                    icon: '{{ asset('image/highscore_marker.png') }}'
                });
                map_localisation.setCenter(results[0].geometry.location);
            }
            else {
                alert('Nous n\'avons pas réussi à localiser l\'adresse l\'apprenant qui est : ' + adresse);
            }
        });
    }
    function initialize() {
        map_localisation = new google.maps.Map(document.getElementById("Localisation"), {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        map_mission = new google.maps.Map(document.getElementById("Localisationmission"), {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</body>
</html>