<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/paginate.css') }}" />
    {% block CSS %}{% endblock %}
    <style>
        .hidden{display: none !important;}
        .ui-widget-header{color:black;}
    </style>
    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onunload="window.parent.document.getElementById('iframe').style.position ='static';window.parent.document.getElementById('iframe').style.height ='calc(100% - 72px)';">

<div id="CompteRendu" class="popup" >
    <div onclick="fermeture();hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">

        <form id="PopUpCompteRendu" class="formulaire" method="post">


            <div class="div_form" id="Assister" style="display: none">
                <div class="row" style=" margin-bottom: 20px;">

                    <div class="col-xs-12" >
                        <textarea style="height: 200px;resize: none;" class="input" name="CompteRendu" placeholder="Compte rendu" required ></textarea>
                    </div>
                </div>
            </div>

            <div class="div_form" id="Absence" style="display: none" >

                <div class="row" style=" margin-bottom: 20px;">
                    <textarea name="CompteRenduAbsent" style="height: 200px;resize: none;" class="input"  placeholder="Quelles en sont les raisons?" required ></textarea>
                </div>

            </div>


            <div id="OUI_NON_button" class="div_button">
                <label class="col-xs-12">Avez-vous pu assister au rendez-vous?</label>
                <input class="blue col-xs-3 col-xs-offset-3" style="right: 10px;text-align: center"
                       onclick="document.getElementById('Assister').style.display = 'block';document.getElementById('Assister_button').style.display = 'block';this.parentElement.style.display = 'none'"
                       type="button" value="OUI">
                <input class="blue col-xs-3" style="left: 10px;text-align: center"
                       onclick="document.getElementById('Absence').style.display = 'block';document.getElementById('Absence_button').style.display = 'block';this.parentElement.style.display = 'none'"
                       type="button"   value="NON">
            </div>
            <div id="Absence_button" class="div_button" style="display: none">
                <input onclick="fermeture()" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Annuler">
                <input class="blue" type="button" onclick="EnvoyerCompteRendu('Absence')"  style="margin-left: 390px" value="Envoyer">
            </div>
            <div id="Assister_button" class="div_button" style="display: none">
                <input class="blue" onclick="fermeture()" style="background:white;color:#666666;border:1px solid #ccc;float: left;text-align: center ;width: 120px;height:50px" type="button" value="Annuler">
                <input class="blue" type="button" onclick="EnvoyerCompteRendu('Assister')" style="margin-left: 300px;text-align:center;width: 120px;height:50px"  value="Envoyer">
            </div>

        </form>

    </div>


</div>
<div id="ConsultationCompteRendu" class="popup" >
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">
        <div id="ComptesRenduContainer"></div>
    </div>
</div>
<div id="ajounerPopUp" class="popup" >
    <div onclick="fermeture();hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">

        <form id="PopUpAjournement" class="formulaire" method="post">


            <div class="div_form" id="Assister">
                <button type="button" onclick="AddDateTimeDiv(this)">+</button>
                <div class="col-xs-4 col-xs-offset-4">
                    <label class="col-xs-1">Le : </label><input title="Date du rendez-vous" name="dateRDV[]" type="text" class="col-xs-4" required>
                    <label class="col-xs-1"> à </label><input title="Heure du rendez-vous" name="timeRDV[]" class="col-xs-4" type="text" required>
                    <button type="button" class="col-xs-offset-1 col-xs-1" onclick="if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}">-</button>
                </div>
            </div>

            <div id="Assister_button" class="div_button">
                <input class="blue" onclick="fermeture()" style="background:white;color:#666666;border:1px solid #ccc;float: left;text-align: center ;width: 120px;height:50px" type="button" value="Annuler">
                <input class="blue" type="button" onclick="Ajournement()" style="margin-left: 300px;text-align:center;width: 120px;height:50px"  value="Envoyer">
            </div>

        </form>

    </div>


</div>
<div style="border-top: 1px solid #B0B0B0;background-color:  rgb(238, 241, 246);margin: 0;height: 100%;padding-bottom: 40px;overflow: hidden;">

    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 10px;">
        <select class="input col-xs-2" title="messages" style="height:40px;">
            <option value="les messages">Tous les rendez-vous</option>
        </select>
        <div class="col-xs-2" style="margin-left: 20px;height:40px;display: flex;">
            <span class="glyphicon glyphicon-search col-xs-2" id="basic-addon1" style="height: 30px;padding: 7px;float: left;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;"></span>
            <input class="col-xs-10" type="text" onkeyup="search(this.value)" aria-describedby="basic-addon1" style="height: 31px;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;" placeholder="Recherche ...">
        </div>
        <div id="paginationContainer" class="customepaginate" style="max-width: 240px;float: right;display: flex;">
            <button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        </div>

    </div>

    <div id="Liste-RDV" class="col-xs-10 col-xs-offset-1">
        {% if rendezvous is defined %}
            {% for rdv in rendezvous %}

                <div id="{{ rdv.id }}" class="Liste" style="border: 1px solid #ddd;margin: 0;height:100px;width: 100%;" >
                    <div name="Recherche" style="display: none;">{{ rdv.apprenant.nom }},{{ rdv.apprenant.prenom }},{{ rdv.apprenant.email }},{{ rdv.tuteur.nom }},{{ rdv.tuteur.prenom }},{{ rdv.tuteur.email }},{% if rdv.mission %}{{ rdv.mission.intitule }},{{ rdv.mission.codemission }},{{ rdv.mission.descriptif }},{{ rdv.mission.domaine }},{% if rdv.mission.etablissement %}{{ rdv.mission.etablissement.siret }},{{ rdv.mission.etablissement.adresse }},{{ rdv.mission.etablissement.secteur }},{{ rdv.mission.etablissement.tier.raisonsoc }}{% endif %}{% endif %}</div>
                    {% if app.user.hasRole('ROLE_TUTEUR') %}
                        <div class="col-xs-2" >
                            <div style="border: 15px solid transparent">
                                {% if rdv.apprenant.getPhotos %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="data:image/jpg;base64,{{ rdv.apprenant.getPhotos }}">
                                {% elseif rdv.apprenant.getCivilite == 'Mme' or rdv.apprenant.getCivilite == 'Madame' or rdv.apprenant.getCivilite == 'Mademoiselle' %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/femme.jpg') }}">
                                {% else %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/homme.jpg') }}">
                                {% endif %}
                            </div>


                        </div>

                        <div id="date{{ rdv.id }}" class="col-xs-3" style="-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">
                            {% if rdv.statut == 1 or rdv.statut== 2 %}
                                <label style="font:18px Roboto;margin: auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}</label>

                            {% else %}
                                {% if rdv.date1 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin: auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},1,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date2 %}
                                    <label class="col-xs-12" style="font:18px arial;margin: auto;" > {{ rdv.getDate2|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},2,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date3 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin: auto;" > {{ rdv.getDate3|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},3,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-xs-4" style="display:flex;height: 100px;text-align: left">
                            <label style="font:16px Roboto;float:left;margin: auto;" > {{ rdv.getMission.getIntitule }} - <label style="font:18px Roboto;color:#2A76CC" > {{ rdv.getMission.etablissement.tier.raisonsoc }}</label> </label>
                        </div>

                        <div class="col-xs-offset-1 col-xs-1" style="display:flex;height: 100px;">
                            {% if rdv.statut == 1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: green;" > établi </label>
                            {% elseif rdv.statut == -1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: orangered;" > Ajouné </label>
                            {% elseif rdv.statut == -2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: red;" > Annulé </label>
                            {% elseif rdv.statut == 2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Date dépassée </label>
                            {% else %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Répondez </label>
                            {% endif %}
                        </div>
                        <div class="dropdown clearfix col-xs-1" style="height: 100px">

                            <button style="height: 100%;width: 100%;background-color: transparent;border: none;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <!--span class="glyphicon glyphicon-option-vertical" style="height:20px;color:#8c8c8c"></span-->
                                Actions
                            </button>
                            <ul id="menuRDV{{ rdv.id }}" class="dropdown-menu" style="left:50%;top:50%;" aria-labelledby="dropdownMenu1">
                                {% if rdv.statut == -1 %}
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="AnnulerRDV({{ rdv.id }})">Annulé</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" href="#">Demander une réponse</button></li>
                                {% elseif rdv.statut == -2 %}
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Proposez des rendez-vous</button></li>
                                {% elseif rdv.statut == 2 %}
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Proposez des rendez-vous</button></li>
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('CompteRendu');rendezvousSelectionne ={{ rdv.id|e('js') }};">Compte rendu</button></li>
                                {% else %}
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="AnnulerRDV({{ rdv.id }})">Annulé</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Ajouné</button></li>

                                    {% if rdv.statut == 1 and rdv.date1 < date('-1hours') %}
                                        <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('CompteRendu');rendezvousSelectionne = {{ rdv.id|e('js') }};">Compte rendu</button></li>
                                    {% endif %}

                                {% endif %}
                            </ul>
                        </div>
                    {% elseif is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMINSOC') %}
                        <div class="col-xs-2" >
                            <div style="border: 15px solid transparent">
                                {% if rdv.apprenant.getPhotos %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="data:image/jpg;base64,{{ rdv.apprenant.getPhotos }}">
                                {% elseif rdv.apprenant.getCivilite == 'Mme' or rdv.apprenant.getCivilite == 'Madame' or rdv.apprenant.getCivilite == 'Mademoiselle' %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/femme.jpg') }}">
                                {% else %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/homme.jpg') }}">
                                {% endif %}
                            </div>
                        </div>

                        <div id="date{{ rdv.id }}" class="col-xs-2" style="-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">
                            {% if rdv.statut == 1 or rdv.statut== 2 %}
                                <label style="font:18px Roboto;margin: auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}</label>

                            {% else %}
                                {% if rdv.date1 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin: auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},1,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date2 %}
                                    <label class="col-xs-12" style="font:18px arial;margin: auto;" > {{ rdv.getDate2|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},2,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date3 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin: auto;" > {{ rdv.getDate3|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},3,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-xs-2" style="display:flex;height: 100px;text-align: left">
                            <label style="font:16px Roboto;float:left;margin: auto;" > {{ rdv.getMission.getIntitule }} - <label style="font:18px Roboto;color:#2A76CC" > {{ rdv.getMission.etablissement.tier.raisonsoc }}</label> </label>
                        </div>
                        <div class="col-xs-4" style="display:flex;height: 100px;text-align: left">
                            <label class="col-xs-6" style="font:16px Roboto;float:left;margin: auto;text-overflow: ellipsis;overflow: hidden;" title="{{ rdv.tuteur.civilite }} {{ rdv.tuteur.nom }} {{ rdv.tuteur.prenom }}">{{ rdv.tuteur.civilite }} {{ rdv.tuteur.nom }} {{ rdv.tuteur.prenom }} - <label style="font:18px Roboto;color:#2A76CC;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" title="{{ rdv.tuteur.email }}" > {{ rdv.tuteur.email }}</label></label>
                            <label class="col-xs-6" style="font:16px Roboto;float:left;margin: auto;text-overflow: ellipsis;overflow: hidden;" title="{{ rdv.apprenant.civilite }} {{ rdv.apprenant.nom }} {{ rdv.apprenant.prenom }}">{{ rdv.apprenant.civilite }} {{ rdv.apprenant.nom }} {{ rdv.apprenant.prenom }} - <label style="font:18px Roboto;color:#2A76CC;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" title="{{ rdv.apprenant.email }}"> {{ rdv.apprenant.email }}</label></label>
                        </div>

                        <div class="col-xs-1" style="display:flex;height: 100px;">
                            {% if rdv.statut == 1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: green;" > établi </label>
                            {% elseif rdv.statut == -1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: orangered;" > Ajouné </label>
                            {% elseif rdv.statut == -2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: red;" > Annulé </label>
                            {% elseif rdv.statut == 2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Date dépassée </label>
                            {% else %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Répondez </label>
                            {% endif %}
                        </div>
                        <div class="dropdown clearfix col-xs-1" style="height: 100px">

                            <button style="height: 100%;width: 100%;background-color: transparent;border: none;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <!--span class="glyphicon glyphicon-option-vertical" style="height:20px;color:#8c8c8c"></span-->
                                Actions
                            </button>
                            <ul id="menuRDV{{ rdv.id }}" class="dropdown-menu" style="left:50%;top:50%;" aria-labelledby="dropdownMenu1">
                                {% if rdv.statut == -1 %}
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="AnnulerRDV({{ rdv.id }})">Annulé</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="ConsulterCR({{ rdv.id }})">Voir Comptes rendu</button></li>
                                {% else %}
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="ConsulterCR({{ rdv.id }})">Voir Comptes rendu</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="OrdreDeRemplirCR({{ rdv.apprenant.id }},{{ rdv.id }})">Ordre à l'apprenant</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="OrdreDeRemplirCR({{ rdv.tuteur.id }},{{ rdv.id }})">Ordre au tuteur</button></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="col-xs-2" >
                            <div style="border: 15px solid transparent">
                                <img   src="data:image/jpg;base64,{{ rdv.mission.etablissement.tier.logo }}" style="height:70px;width:70px;margin:0 40px;border-radius: 100%">
                            </div>
                        </div>

                        <div id="date{{ rdv.id }}" class="col-xs-3" style="-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">
                            {% if rdv.statut == 1 or rdv.statut== 2 %}
                                <label class="col-xs-12" style="font:18px Roboto;margin:auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}</label>

                            {% else %}
                                {% if rdv.date1 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin:auto;" > {{ rdv.getDate1|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},1,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date2 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin:auto;" > {{ rdv.getDate2|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},2,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                                {% if rdv.date3 %}
                                    <label class="col-xs-12" style="font:18px Roboto;margin:auto;" > {{ rdv.getDate3|date('d-m-Y à H:i') }}
                                        {% if (app.user == rdv.apprenant and rdv.choixApprenant) or (app.user == rdv.tuteur and not rdv.choixApprenant) %}
                                            <button onclick="ChoisirDate({{ rdv.id }},3,this)" type="button" style="height: 21px;width: 21px;border:none;background-color: #2b542c;vertical-align: super;"></button>
                                        {% endif %}
                                    </label>
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-xs-4" style="display:flex;height: 100px;text-align: left">
                            <label style="font:16px Roboto;margin: auto;float:left;width: 100%" > {{ rdv.getMission.getIntitule }} - <label style="font:18px Roboto;color:#2A76CC" > {{ rdv.getMission.etablissement.tier.raisonsoc }}</label> </label>
                        </div>

                        <div class="col-xs-offset-1 col-xs-1" style="display:flex;height: 100px;">
                            {% if rdv.statut == 1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: green;" > établi </label>
                            {% elseif rdv.statut == -1 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: orangered;" > Ajouné </label>
                            {% elseif rdv.statut == -2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;color: red;" > Annulé </label>
                            {% elseif rdv.statut == 2 %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Date dépassée </label>
                            {% else %}
                                <label id="statut{{ rdv.id }}" style="font:18px Roboto;margin: auto;" > Répondez </label>
                            {% endif %}
                        </div>
                        <div class="dropdown clearfix col-xs-1" style="height: 100px">

                            <button style="height: 100%;width: 100%;background-color: transparent;border: none;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <!--span class="glyphicon glyphicon-option-vertical" style="height:20px;color:#8c8c8c"></span-->
                                Actions
                            </button>
                            <ul id="menuRDV{{ rdv.id }}" class="dropdown-menu" style="left:50%;top:50%;" aria-labelledby="dropdownMenu1">
                                {% if rdv.statut == -1 %}
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="AnnulerRDV({{ rdv.id }})">Annulé</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" href="#">Demander une réponse</button></li>
                                {% elseif rdv.statut == -2 %}
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Proposez des rendez-vous</button></li>
                                {% elseif rdv.statut == 2 %}
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Proposez des rendez-vous</button></li>
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('CompteRendu');rendezvousSelectionne ={{ rdv.id|e('js') }};">Compte rendu</button></li>
                                {% else %}
                                    <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="AnnulerRDV({{ rdv.id }})">Annulé</button></li>
                                    <li><button style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('ajounerPopUp');rendezvousSelectionne ={{ rdv.id|e('js') }};">Ajouné</button></li>

                                    {% if rdv.statut == 1 and rdv.date1 < date('-1hours') %}
                                        <li><button type="button" style="height: 100%;width: 100%;background-color: transparent;border: none;" onclick="show('CompteRendu');rendezvousSelectionne ={{ rdv.id|e('js') }};">Compte rendu</button></li>
                                    {% endif %}

                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>


<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script src="{{ asset('js/paginate.js') }}"></script>
<script language="JavaScript">
    var rendezvousSelectionne;
    function AddDateTimeDiv(button){
        if(button.parentElement.children.length < 4) {
            var divContainer = document.createElement('div');
            divContainer.className = 'col-xs-4 col-xs-offset-4';
            //label DATE
            var LabelDate = document.createElement('label');
            LabelDate.className = 'col-xs-1';
            LabelDate.innerHTML = 'Le : ';
            //INPUT DATE
            var inputDate = document.createElement('input');
            inputDate.setAttribute('name','dateRDV[]');
            inputDate.setAttribute('id',button.nextElementSibling.firstElementChild.id +'_'+button.parentElement.children.length);
            inputDate.setAttribute('type','text');
            inputDate.className = "col-xs-4";
            //label DATE
            var LabelTime = document.createElement('label');
            LabelTime.className = 'col-xs-1';
            LabelTime.innerHTML = ' à ';
            //INPUT TIME
            var inputTime = document.createElement('input');
            inputTime.setAttribute('name','timeRDV[]');
            inputTime.setAttribute('id',button.nextElementSibling.children[1].id +'_'+button.parentElement.children.length);
            inputTime.setAttribute('type','text');
            inputTime.className = "col-xs-4";
            //delete button
            var deleteButton = document.createElement('button');
            deleteButton.setAttribute('onclick','if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}');
            deleteButton.setAttribute('type','button');
            deleteButton.className = "col-xs-offset-1 col-xs-1";
            deleteButton.innerHTML = '-';

            //append
            divContainer.appendChild(LabelDate);
            divContainer.appendChild(inputDate);
            divContainer.appendChild(LabelTime);
            divContainer.appendChild(inputTime);
            divContainer.appendChild(deleteButton);

            button.parentNode.appendChild(divContainer);
        }
    }
    $(document).on( "focus", "input[name='dateRDV[]']:not(.hasDatepicker)", function() {
        //toastr.info( "Initializing " + this.id );

        $( this ).datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            onClose: function(dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
            }
        });
    });

    $(document).ready(function(){
        window.parent.document.getElementById('iframe').style.left ='0';
        window.parent.document.getElementById('iframe').style.top ='32px';
        window.parent.document.getElementById('iframe').style.height ='calc(100% - 32px)';
        window.parent.document.getElementById('iframe').style.position ='fixed';
        window.parent.document.getElementById('iframe').style.visibility ='visible';
        $("#paginationContainer").customPaginate({
            itemsToPaginate : ".Liste",
            activeClass : "active-class"
        });

    });
    function ChoisirDate(id,date,button){
        if(confirm('Confirmez-vous votre choix?')){
            ShowWaiter();
            //var route = '{{ path('DateRDV',{'id':'_ID','numero':'_NUMERO','textmessage':'_TEXTMESSAGE'}) }}';
            route = route.replace('_ID',id);
            route= route.replace('_NUMERO',date);

            $.ajax({
                url: route,
                type:'POST',
                error: function(){
                    DeleteWaiter();
                    alert('une erreur s\'est produite, veuillez réessayer plus tard!');
                },
                success: function(data){
                    if(data===1){
                        var j = 0;
                        var lenght = button.parentElement.parentElement.children.length;
                        for(var i =0; i < lenght; i++)
                        {
                            if(button.parentElement.parentElement.children[i - j]!=button.parentElement){
                                console.log(button.parentElement.parentElement.children[i - j]);
                                button.parentElement.parentElement.removeChild(button.parentElement.parentElement.children[i - j]);
                                j++;
                            }
                        }
                        button.parentNode.removeChild(button);
                    }
                    DeleteWaiter();
                }
            });
        }

    }

    function fermeture(){
        var form = document.getElementById('PopUpCompteRendu');
        for(var i = 0; i< form.childElementCount; i++){
            form.children[i].style.display = 'none';
        }
        document.getElementById('OUI_NON_button').style.display = 'block';
    }
    function EnvoyerCompteRendu(part){
        ShowWaiter();
        var route = '{{ path('CompteRenduSaisie',{'id':'_ID'}) }}';
        route = route.replace('_ID',rendezvousSelectionne);
        $.ajax({
            url: route,
            type:'get',
            data: $('#'+part+' textarea').serialize(),
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success: function(data){
                if(data===1){
                    alert('Compte rendu envoyé');
                    document.getElementById('CompteRendu').style.display = 'none';
                    fermeture();
                }
                DeleteWaiter();
            }
        });
    }

    function OrdreDeRemplirCR(id,rdv){
        ShowWaiter();
        var route = '{{ path('OrdreCompleterCR',{'idUser':'_IDUSER','idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDUSER',id);
        route = route.replace('_IDRDV',rdv);
        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){
                    alert('le message a été envoyé correctement!')
                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })
    }
    function ConsulterCR(id){
        ShowWaiter();
        var route = '{{ path('ConsulterCR',{'idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDRDV',id);
        $.ajax({
            type: 'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                var container = document.getElementById('ComptesRenduContainer');
                container.innerHTML = '';

                for(var i = 0; i < data.length; i++){
                    var label = document.createElement('label');
                    label.style.color = '#2A76CC';
                    label.style.textTransform = 'uppercase';
                    label.style.float = 'left';
                    label.innerHTML = data[i][0] + ' - ' + data[i][2];

                    var textarea = document.createElement('textarea');
                    textarea.style.backgroundColor = '#e4b9b9';
                    textarea.innerHTML = data[i][1];

                    var divCompteRendu = document.createElement('div');
                    divCompteRendu.style.marginBottom = "20px";
                    divCompteRendu.appendChild(label);
                    divCompteRendu.appendChild(textarea);

                    container.appendChild(divCompteRendu);
                }
                show('ConsultationCompteRendu');
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
            }
        })
    }
    function search(mot){
        var mots = mot.toUpperCase().trim().split(/ +/g);
        var Recherches = document.getElementsByName('Recherche');
        for(var i = 0; i < Recherches.length; i++)
        {
            var score = 0;
            Recherches[i].parentNode.classList.remove('hidden');
            var recherchermot = Recherches[i].innerHTML.toUpperCase().trim().split(/,+/g);
            for(var k = 0; k< recherchermot.length; k++)
            {
                for(var j = 0; j< mots.length;j++)
                {
                    if (stringWith(recherchermot[k], mots[j])) {
                        score++;
                    }
                }
            }
            if(score === 0 ){
                Recherches[i].parentNode.classList.add('hidden');
            }
        }
        $(".Liste").show();
        $("#paginationContainer").html('<button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>').customPaginate({
            itemsToPaginate : ".Liste:not(.hidden)",
            activeClass : "active-class"
        });
    }
</script>
</body>
</html>