<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}">
    <link rel="stylesheet" href="{{ asset('css/paginate.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/Form.css') }}" />


    <title>Tableau de Bord</title>
</head>
<body>
<label style="font-size: 40px ;font-family:roboto">Tableau de bord</label>

<br/><br/>

<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px;">

        <label style="font-size: 20px;font-weight: bold ;font:xx-large Roboto;">
            {%  if CountLesMissions is defined %} Missions({{ CountLesMissions }}) {% endif %}
        </label>
    </div>


    <div id="Nom" title="" class="col-xs-2" style="text-align: center;margin: auto; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">

    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px;">

        <label style="font-size: 20px;font-weight: bold ;font:xx-large Roboto;">
            {%  if CountLesApprenants is defined %} Apprenants({{ CountLesApprenants }}) {% endif %}
        </label>
    </div>


    <div id="Nom85" title="" class="col-xs-2" style="text-align: center;margin: auto; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">

    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission1" class="col-xs-10 col-xs-offset-1 SASPaginate">

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('MissionAPourvoir')">

        
            <label style="font:large Roboto;">Missions à pourvoir</label>
        
    </div>


    <div id="Nom96" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div style="border: 1px solid #66b3f4;" class="graphe">
            {# <strong class="barre" style="background: #66b3f4;width: 36%;">36%</strong> #}
            {%  if MissionAPourvoir is defined %} <strong class="barre"  style="background: #66b3f4;width: {{ MissionAPourvoir }}%;">{{ MissionAPourvoir }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat1" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('PostulationEnCours')">

        <label style="font:large Roboto;">Postulation en cours </label>
    </div>


    <div id="Nomapprenanat1" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div  style="border: 1px solid #fcb552;" class="graphe">
            {%  if PostulationEnCours is defined %} <strong class="barre"  style="background: #fcb552;width: {{ PostulationEnCours }}%;">{{ PostulationEnCours }}%</strong> {% endif %}

        </div>
    </div>


</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission2" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px;; width: 50%" onclick="showDiv('MissionPourvues')">

        <a href="#"><label style="font:large Roboto;">Missions pourvues</label></a>
    </div>


    <div id="Nomapprenanat12" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div style="border: 1px solid #81c785;" class="graphe">
            {%  if MissionsPourvues is defined %} <strong class="barre"  style="background: #fcb552;width: {{ MissionsPourvues }}%;">{{ MissionsPourvues }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat2" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('FormationAValider')">

        <a href="#"><label style="font:large Roboto;">Formation à valider </label></a>
    </div>


    <div id="Nomapprenanat3" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div style="border: 1px solid #ec6494;" class="graphe">

            {%  if FormationAvalider is defined %} <strong class="barre" style="background: #ec6494;width: {{ FormationAvalider }}%;">{{ FormationAvalider }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission3" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('MissionSansFormations')">

        <a href="#"><label style="font:large Roboto;">Missions sans formations</label></a>
    </div>


    <div id="Nomapprenanat4" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div style="border: 1px solid #feb450;" class="graphe">
            {%  if MissionsSansFormations is defined %} <strong class="barre"  style="background: #fcb552;width: {{ MissionsSansFormations }}%;">{{ MissionsSansFormations }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat3" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('ApprenantsAPlacer')">

        <a href="#"><label style="font:large Roboto;">Apprenants à placer</label></a>

    </div>


    <div id="Nomapprenanat5" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">

        <div style="border: 1px solid #e77379;" class="graphe">

            {%  if ApprenantAplacer is defined %} <strong class="barre" style="background: #e77379;width: {{ ApprenantAplacer }}%;">{{ ApprenantAplacer }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission4" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('MissionSansTuteur')">

        <a href="#"><label style="font:large Roboto;">Missions sans tuteur</label></a>
    </div>


    <div id="Nomapprenanat6" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div style="border: 1px solid #e77379;" class="graphe">
            {%  if MissionsSansTuteur is defined %} <strong class="barre"  style="background: #e77379;width: {{ MissionsSansTuteur }}%;">{{ MissionsSansTuteur }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat4" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('ApprenantsMisEnRelation')">

        <a href="#"><label style="font:large Roboto;">Apprenants mis en relation</label></a>
    </div>


    <div id="Nom85" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div onclick="showDiv('PostulationEnCours')" style="border: 1px solid #64b5f4;" class="graphe">

            {%  if ApprenantRelation is defined %} <strong  class="barre" style="background: #64b5f4;width: {{ ApprenantRelation }}%;">{{ ApprenantRelation }}%</strong> {% endif %}


        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="Mission5" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('MissionSansQCM')">

        <a href="#"><label style="font:large Roboto;">Missions sans QCM affinité</label></a>
    </div>


    <div id="Nom" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%;">
        <div style="border: 1px solid #ef6192;" class="graphe">
            {%  if MissionsSansQcm is defined %} <strong class="barre"  style="background: #ef6192;width: {{ MissionsSansQcm }}%;">{{ MissionsSansQcm }}%</strong> {% endif %}
        </div>
    </div>

</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 50px;align-items: center" id="apprenanat5" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: left;margin-left: 10px; width: 50%" onclick="showDiv('ApprenantsPlaces')">

        <a href="#"><label style="font:large Roboto;">Apprenants placés</label></a>
    </div>

    <div id="Nom84" title="" class="col-xs-2" style="text-align: right;margin-right: 5px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 50%">
        <div  onclick="showDiv('PostulationEnCours')" style="border: 1px solid #80c681;text-align:right"  class="graphe">
            {%  if Apprenantplacer is defined %} <strong   class="barre" style="background: #80c681;width: {{ Apprenantplacer }}%;">{{ Apprenantplacer }}%</strong> {% endif %}

        </div>
    </div>

</div>

<div  style="text-align:left;margin-left:5px;width:48%; height: 70px;align-items: center" id="MissionBtn" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: center; width: 100%">

        <button onclick="showDiv('addmission')"  style="width:200px;height:40px;background:#3ea8f8;color:white;border:1px solid #ccc;" type="button" >CRÉER UNE MISSION   <label style="font-size:large;"> +</label></button>

    </div>




</div>
<div  style="text-align:left;margin-left:5px;width:48%; height: 70px;align-items: center" id="apprenanatBtn" class="col-xs-10 col-xs-offset-1 SASPaginate" >

    <div class="col-xs-1" style="text-align: center; width: 100%">

        <button  onclick="showDiv('apprenant');" style="width:200px;height:40px;background:#3ea8f8;color:white;border:1px solid #ccc;" type="button" >CRÉER UN APPRENANT   <label style="font-size:large;"> +</label></button>

    </div>




</div>










<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script language="JavaScript">


function showDiv(div){
    var popup = window.parent.document.getElementById(div);
    popup.style.display = 'block';

}

</script>
</body>
</html>