<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />

    <style>
        .dropdown-submenu{position:relative;}
        .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
        .dropdown-submenu:hover>.dropdown-menu{display:block;}
        .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
        .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
        .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
    </style>

    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>


</head>
<body onload="loading();">

<div class="container" style="padding: 0;">
    {% block Content %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div id="instanceLicence" class="popup"     >
                <div onclick="document.getElementById('submitInstanceLicence').click();hide(this)" class="close"></div>
                <div class="col-xs-offset-3 col-xs-4" style="padding: 0;border:20px solid white;display: block">

                    <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>

                    <!--div class="btn-group" style="width: 100%">
                <button type="button" class="btn btn-default dropdown-toggle nav"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Filtre
                </button>
                <ul id="filtre" class="dropdown-menu" aria-labelledby="dropdownMenu1">

                </ul>
            </div-->


                    <form  class="formulaire" id="formInstanceLicence" action="{{ path("metier_user_associated") }}" onsubmit="document.getElementById('submitInstanceLicence').disabled=true;ShowWaiter();" method="post">
                        <div class="div_form" >
                            <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                            <select class="input" title="Licencedef" name="Licencedef" required>
                                {% for def in licencedef %}
                                    <option value="{{ def.getId }}">{{ def.getLibelle }}</option>
                                {% endfor %}
                            </select>

                            <input class="date hide-spinbtns" placeholder="Date Début" type="date" id="Date" name="_Date"  data-date='{"buttonOnly": true,	"calculateWidth": true}'  required>
                        </div>
                        <div class="div_button">
                            <input  id="submitInstanceLicence" class="blue" type="submit" value="Valider" >

                        </div>
                    </form>


                </div>
            </div>

        {% endif %}

        {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
            <div id="adduser" class="popup">
                <div onclick="document.getElementById('submitadduser').click();hide(this)" class="close">
                </div>
                <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block">

                <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>

                    <form id="formadduser" class="formulaire" action="{{ path("user_added") }}" onsubmit="document.getElementById('submitadduser').disabled=true;ShowWaiter();" method="post">
                        <input type="hidden" id="id" name="_id" value="{{ etablissement.getId }}">
                        <div class="div_form" >

                            <div class="col-xs-6 input-colonne">
                                <input type="text" class="input" id="Username" name="_Username" placeholder="Username" required maxlength="255">

                                <input type="email" class="input " id="mail" name="_mail" placeholder="Email" required maxlength="255">

                                <select class="input" title="Sélectionner un role" name="_role">
                                    {% if etablissement.getTier.getEcole %}
                                        <option value="ROLE_ADMINECOLE">Administrateur école</option>
                                        <option value="ROLE_RECRUTEUR">Recruteur Placeur</option>

                                    {% else %}
                                        <option value="ROLE_ADMINSOC">Administrateur Société</option>
                                        <option value="ROLE_TUTEUR">Tuteur</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select class="input " style="width: 25%; margin-right: 10px" title="" name="civilite">
                                    <option value="Monsieur">Mr.</option>
                                    <option value="Madame">Mme.</option>

                                </select>

                                <input type="text" class="input" style="width: calc(75% - 10px);" id="Prenom" name="_Prenom" placeholder="Prénom" required maxlength="45">
                                <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom" required maxlength="45">

                                <input type="tel" class="input " id="Tel" name="_Tel" placeholder="Tel" required maxlength="45">
                            </div>


                        </div>
                        <div class="div_button">
                            <input id="submitadduser" onclick="show_patienter(this,'formadduser')" class="blue" type="submit" value="envoyer">
                            <img id="patienter1564444" style="margin:auto;display:none;" src="{{ asset('image/animated.gif') }}"/>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if not etablissement.getTier.getEcole %}
            {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMINSOC') %}
                <div id="addmission" class="popup" >
                    <div onclick="document.getElementById('submitaddmission').click();hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block;position:fixed " >
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                        <form id="formaddmission" class="formulaire" action= "{{ path("mission_added") }}" onsubmit="document.getElementById('submitaddmission').disabled=true;ShowWaiter();" method="post">

                            <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                            <div class="col-xs-12 NavBarTier" >
                                <button class="col-xs-3" type="button" onclick="NaviguerOnglet('PopUpMissionOnglet','Information_generale',this)">Données</button>
                                <button class="col-xs-3" type="button" onclick="NaviguerOnglet('PopUpMissionOnglet','Onglet_Contacts',this)">Contact</button>
                                <button class="col-xs-3" type="button" onclick="NaviguerOnglet('PopUpMissionOnglet','QCM_Affinite',this)">Candidat rêvé</button>
                                <button class="col-xs-3" type="button">Documents</button>
                            </div>
                            <div id="PopUpMissionOnglet">
                                <div id="Information_generale" style="" class="div_form">
                                    <div class="col-xs-6 input-colonne">

                                        <input type="text" class="input" id="Intitule" name="_Intitule" placeholder="Intitule" required maxlength="75">
                                        <!--<textarea style="height: 140px;resize: none;" class="input" id="Profil" name="_Profil" placeholder="Profil" required maxlength="255"></textarea>-->
                                        <textarea style="height: 100px;resize: none;" class="input" id="Descriptif" name="_Descriptif" placeholder="Descriptif" required MAXLENGTH="255"></textarea>

                                        <div class="col-xs-6">
                                            <label style="float: left">Date début :</label><input type="date" data-date='{"buttonOnly": true,	"calculateWidth": true}' class="date" id="Datedebut" name="_Datedebut" title="Datedebut" required >
                                        </div>
                                        <div class="col-xs-6">
                                            <label style="float: left">Date fin :</label><input  type="date" data-date='{"buttonOnly": true, "calculateWidth": true}' class="date" id="Datefin" name="_Datefin" title="Datefin" required>
                                        </div>


                                        <select title="Type de Contrat" class="input" id="TypeContrat" name="_TypeContrat">
                                            <option value="Stage">Stage</option>
                                            <option value="Stage alterné">Stage alterné</option>
                                            <option value="Contrat de professionalisation">Contrat de professionalisation</option>
                                            <option value="Contrat d'apprentissage">Contrat d'apprentissage</option>
                                        </select>
                                        <select title="Horaire" class="input " id="Horaire" name="_Horaire">
                                            <option value="Fixe">Fixe</option>
                                            <option value="Flexible">Flexible</option>
                                        </select>
                                        <select title="Domaine" class="input " id="Domaine" name="_Domaine">
                                            <option value="Commerce">Commerce</option>
                                            <option value="Marketing">Marketing</option>
                                            <option value="Informatique">Informatique</option>
                                        </select>
                                    </div>
                                    <!--<div class="col-xs-6">
                                    <input type="text" class="input " id="NomContact" name="_NomContact" placeholder="NomContact" required MAXLENGTH="45">
                                    <input type="text" class="input " id="PrenomContact" name="_PrenomContact" placeholder="PrenomContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="FonctionContact" name="_FonctionContact" placeholder="FonctionContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="TelContact" name="_TelContact" placeholder="TelContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="EmailContact" name="_EmailContact" placeholder="EmailContact" required MAXLENGTH="45">
                                </div>-->
                                    <div class="col-xs-6">
                                        <input type="number"  class="input " id="Remuneration" name="_Remuneration" placeholder="Remuneration" required maxlength="11">
                                        <input type="number" class="input " id="Emploi" name="_Emploi" placeholder="Nbre de poste à pourvoir" required  min="0" max="9" maxlength="1" >
                                        <div class="col-xs-12">
                                            <label class="col-xs12">Embauche à l'issue de la mission?</label>
                                            <input type="radio" name="_Embauche" value="1">Oui
                                            <input type="radio" name="_Embauche" value="0">Non
                                        </div>
                                        {% if app.user.hasRole('ROLE_ADMINECOLE') %}
                                            <select class="input"   name="formation" title="" >
                                                {% for formation_x in formation_mission %}
                                                    {% if formation_x.etablissement.tier == app.user.tier or formation_x.etablissement.tier in app.user.tier.tier1|keys %}
                                                        <option value="{{ formation_x.getId }}">{{ formation_x.nom }} - {{ formation_x.etablissement.adresse }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% elseif app.user.hasRole('ROLE_RECRUTEUR') %}
                                            <select class="input"   name="formation" title="" >
                                                {% for formation_x in formation_mission %}
                                                    {% if (formation_x.etablissement.tier == app.user.etablissement.tier) or (formation_x.etablissement.tier in app.user.etablissement.tier.tier1) %}
                                                        <option value="{{ formation_x.getId }}">{{ formation_x.nom }} - {{ formation_x.etablissement.adresse }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>

                                </div>
                                <div id="Onglet_Contacts" class="div_form" style="visibility: hidden;position: absolute;">
                                    <label class="col-xs-3 input-colonne">
                                        Contact
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" style="width: calc(33% - 10px);" class="input " id="NomContact" name="_NomContact" placeholder="NomContact" required MAXLENGTH="45">
                                        <input type="text" style="width: calc(33% - 10px);margin-left: 15px" class="input " id="PrenomContact" name="_PrenomContact" placeholder="PrenomContact" required MAXLENGTH="45">
                                        <input type="text" style="width: calc(33% - 10px);margin-left: 15px" class="input" id="FonctionContact" name="_FonctionContact" placeholder="FonctionContact" required MAXLENGTH="45">
                                        <input type="text" style="width: calc(33% - 10px);" class="input" id="TelContact" name="_TelContact" placeholder="TelContact" required MAXLENGTH="45">
                                        <input type="text" style="width: calc(33% - 10px);margin-left: 15px;" class="input" id="EmailContact" name="_EmailContact" placeholder="EmailContact" required MAXLENGTH="45">
                                    </div>
                                    <label class="col-xs-3 input-colonne">
                                        Tuteur
                                    </label>
                                    <div class="col-xs-9">
                                        <select title="Tuteur" class="input" name="_TUTEURMISSION">
                                            {% if users is defined %}
                                                {% for user in users %}
                                                    {% if user.hasRole('ROLE_TUTEUR') %}
                                                        <option value="{{ user.id }}">{{ user.nom }} {{ user.prenom }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>

                                </div>
                                <div id="QCM_Affinite" class="div_form" style="visibility: hidden;position: absolute;">
                                    {% if QCMs is defined %}
                                        {% set y = 0 %}
                                        {% for question in Questions %}
                                            <div class="inputcontainer">
                                                <label title="{{ question.question  }}" class="col-xs-3" style="float: left;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" >{{ question.question  }}</label>
                                                <div class="col-xs-9" style="display: flex;height: 100%">
                                                {% for reponse in reponses[y] %}
                                                    <div style="margin: auto;display: flex;">
                                                        <input style="margin: auto;" type="radio" id="idreponse{{ reponse.getId }}" name="reponse[{{ reponse.questiondef.id }}]" value="{{ reponse.getId }}">
                                                        <label style="font: 14px Roboto black;" for=idreponse{{ reponse.getId }}">{{ reponse.getReponse }}</label>
                                                    </div>

                                                {% endfor %}
                                                </div>
                                            </div>
                                            {% set y = y + 1 %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="div_button">
                                <input id="submitaddmission" class="blue" type="submit" value="envoyer">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if is_granted('ROLE_ADMINECOLE') %}
                <div id="ajouterformation" class="popup">
                    <div onclick="document.getElementById('submitaddformation').click();hideAjouterForm(this);" class="close"></div>
                    <div class="col-xs-offset-3 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                        <form  class="formulaire" id="formAjouterformation" action="{{ path('addFormation') }}" onsubmit="document.getElementById('submitaddformation').disabled=true;ShowWaiter();" method="post" enctype="multipart/form-data">
                            <div class="div_form" >
                                <input type="hidden" id="idetab" name="_idetab" value="{{etablissement.getId}}">
                                <input type="text" class="input" id="Description" name="_Description" placeholder="Description" required maxlength="45">
                                <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom" required maxlength="45">
                                <label for="Pdf">
                                    <img onclick="this.src='{{ asset('image/wait_x300.gif') }}'; "  id="pdf" style="height: 100px;width: 100px" src="{{ asset('image/upload-arrow.png') }}"/>
                                </label>
                                <br>
                                <input onchange="readURL(this,'pdf');"  accept="application/pdf" type="file" class="input" id="Pdf" name="_PDF" style="display: none">
                                <br>
                                <label class="cell" id="NomPDF"></label>
                                <br>
                            </div>
                            <div class="div_button">
                                <input id="submitaddformation" class="blue" type="submit" value="Valider">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="addQCM" class="popup" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style=" padding: 0;border:20px solid white;display: block">
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                        <div id="formaddQCM" class="formulaire" style="text-align: center" >
                            <label style="display:none" id="idformation"></label>
                            <div class="div_form" style="text-align: center" >
                                <section style="text-align: center" >
                                    <table class="tblQCM" style="text-align: center ;" >
                                        <tr>
                                            
                                            <td style="display: none;">
                                                <div>
                                                    <select title="Tests" onclick="ConsultationQCM('divconsQCM')" id="leftValues" size="10" multiple required>
                                                        {% if QCMS is defined %}
                                                            {% for qcm in QCMS %}
                                                                <option name="_idqcmleft" value="{{ qcm.getId }}">{{ qcm.getNom }}</option>
                                                            {% endfor %}
                                                        {% endif %}

                                                    </select>
                                                </div>
                                            </td>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <td>
                                                <div >
                                                    <input type="button" id="btnRight" value="&gt;&gt;" />
                                                    <input type="button" id="btnLeft" value="&lt;&lt;" />
                                                </div>
                                            </td>
                                                {% endif %}
                                            <td>
                                                <div>
                                                    <select title="Tests liés à cette formation" onclick="ConsultationQCM('divconsQCM')" id="rightValues" size="10" multiple>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </section>
                                <div id="divconsQCM"></div>
                            </div>
                            <div class="div_button">
                                <button onclick="document.getElementById('addQCM').style.display = 'none';" class="blue" type="button">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="addQCMAff" class="popup" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style=" padding: 0;border:20px solid white;display: block">
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                        <div id="formaddQCMAff" class="formulaire" style="text-align: center" >
                            <div class="div_form" style="text-align: center" >
                                <section style="text-align: center" >
                                    <table class="tblQCM" style="text-align: center ;" >
                                        <tr>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <td>
                                                    <div>
                                                        <select title="Tests d'affinité disponible" onclick="ConsultationQCMAff('divconsQCMAFF')" id="leftValuesAff" size="10" multiple required>
                                                            {% if QCMSNOTETAB is defined %}
                                                                {% for qcm in QCMSNOTETAB %}
                                                                    <option name="_idqcmleftaff" value="{{ qcm.getId }}">{{ qcm.getNom }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div >
                                                        <input type="button" id="btnRightaff" value="&gt;&gt;" />
                                                        <input type="button" id="btnLeftaff" value="&lt;&lt;" />
                                                    </div>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <div>
                                                    <select title="Tests d'affinité déjà associé" onclick="ConsultationQCMAff('divconsQCMAFF')" id="rightValuesAff" size="10" multiple>
                                                        {% for testaff in etablissement.getQcmdef %}
                                                            <option name="_idqcmrightaff" value="{{ testaff.getId }}">{{ testaff.getNom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div id="divconsQCMAFF"></div>
                                </section>
                            </div>
                            <div class="div_button">
                                <input class="blue" type="submit" value="Fermer" onclick="FermerPopup('addQCMAff')">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="apprenant" class="popup" >
                    <div onclick="document.getElementById('submitaddapprenant').click();hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style="top:40px;border:20px solid white;display: block;margin-bottom: 20px ;background: white;width:70%">
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>

                        <form class="formulaire" id="formApprenant" action="{{ path("apprenant_added") }}" onsubmit="document.getElementById('submitaddapprenant').disabled=true;ShowWaiter();" method="post" enctype="multipart/form-data" style="margin-top: 50px"   >
                            <input type="hidden" id="idEtab" name="_idEtab" value="{{ etablissement.getId }}">
                            <div class="col-xs-12 NavBarTier" >
                                <button class="col-xs-4" style="white-space: nowrap;" type="button" onclick="NaviguerOnglet('PopUpApprenantOnglet','infoapprenant')">Données</button>
                                <button class="col-xs-4" style="white-space: nowrap;" type="button" onclick="NaviguerOnglet('PopUpApprenantOnglet','apprenant_formation')">Formation Souhaitée</button>
                                <button class="col-xs-4" style="white-space: nowrap;" type="button" onclick="NaviguerOnglet('PopUpApprenantOnglet','document_apprenant')">Documents</button>
                            </div>
                            <div id="PopUpApprenantOnglet">

                                <div class="div_form" id="infoapprenant" style="border-bottom:1px solid #2b542c;"  >
                                    <div class="col-xs-6 input-colonne">
                                        <div class="col-xs-6 input-colonne">
                                            <select class="input "  title="" name="_Civilite" maxlength="45" required>
                                                <option value="Monsieur">Mr.</option>
                                                <option value="Madame">Mme.</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6 input-colonne" style="border: 0">
                                            <input type="text" class="input" id="Nom" name="_Nom"  placeholder="Nom"  maxlength="45" required>
                                        </div>

                                        <input placeholder="Prenom" class="input" type="text" id="Prenom" name="_Prenom" maxlength="45" required >
                                        <input placeholder="Adresse email" class="input" type="text" id="Email" name="_Email" maxlength="45" required >
                                        <input placeholder="Téléphone portable" class="input" type="text" id="Telephone" name="_Telephone" maxlength="45" required >
                                        <input placeholder="Adresse" class="input" type="text" id="Adresse" name="_Adresse" maxlength="45" required >

                                        <div class="col-xs-6 input-colonne" >
                                            <input placeholder="Code postal" class="input" type="text" id="Codepostal" name="_Codepostal" maxlength="45" required >
                                        </div>
                                        <div class="col-xs-6 input-colonne" style="border-right: 0 ">
                                            <input placeholder="Ville" class="input" type="text" id="Ville" name="_Ville" maxlength="45" required >
                                        </div>
                                    </div>

                                    <div class="col-xs-6 input-colonne">
                                        <input placeholder="CP Naissance" class="input" type="text" id="Cpnaissance" name="_Cpnaissance" maxlength="45" required >
                                        <input placeholder="Ville Naissance" class="input" type="text" id="Lieunaissance" name="_Lieunaissance" maxlength="45" required >
                                        <input placeholder="Date de Naissance" type="date" data-date='{"buttonOnly": true,	"calculateWidth": true}' class="date" id="Datenaissance" name="_Datenaissance" title="Date de Naissance" required >
                                        <input placeholder="diplome obtenus" class="input" type="text" maxlength="45"  >
                                        <input placeholder="Format.ou en cours" class="input" type="text" >
                                        <div class="col-xs-12">
                                            <input type="radio" name="" value="1"><label>HANDICAP</label>
                                            <input type="radio" name="" value="0"><label>Entrepreneurs</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="div_form" id="apprenant_formation" style="position: absolute;visibility: hidden;border-bottom:1px solid #2b542c;" >
                                    <div class="col-xs-12 input-colonne " >
                                        <input class="row" style="width:100%" type="text" placeholder="Recherche" onkeyup="rechercheformation(this.value)">
                                    </div>
                                    <div class="col-xs-12 input-colonne " >
                                        <select id="SelectMultipleFormation" style="width: 100%; overflow-x: auto" title="" class="row" name="formation[]" multiple >
                                            {% for formation in formations %}
                                                <option value="{{ formation.id }}">{{ formation.nom }} - {{ formation.etablissement.tier.raisonsoc }} - {{ formation.etablissement.adresse }}</option>
                                                <option value="Recherche" style="display: none">{{ formation.nom }} {{ formation.etablissement.tier.raisonsoc }} {{ formation.etablissement.adresse }},
                                                    {{ formation.etablissement.siret }}</option>
                                            {% endfor %}
                                        </select>


                                    </div>


                                </div>
                                <div class="div_form" id="document_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3 input-colonne">
                                            <select class="input" titre="" name="_Type[]">
                                                <option value="CV">CV</option>
                                                <option value="lettre de motivation">Lettre de motivation</option>
                                                <option value="Notes">Notes</option>
                                                <option value="Dernier diplome">Dernier diplome</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-7 input-colonne" >
                                            <input  type="file" class="input" id="document" name="_Document[]">
                                        </div>

                                        <div class="col-xs-2 input-colonne" style="float: right;">
                                            <button  onclick="dupliquerDocument()" type="button" >OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="div_button" style="margin-top: 10px" >
                                <input class="blue" id="submitaddapprenant" type="submit"  style="margin-right: 10px" value="Enregistrer">
                                <input class="blue" type="submit" value="Annuler" >
                            </div>
                        </form>

                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div id="associerecole" class="popup">
                    <div onclick="document.getElementById('submitassocierecole').click();hide(this)" class="close"></div>
                    <div class="col-xs-offset-4 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                        <button style="width: 40px;height: 40px;float:right;" type="button" onclick="this.parentElement.previousElementSibling.click();">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
                        <form class="formulaire" id="formAssiation" action="{{ path("ecoles_assiciated",{'id':etablissement.getId}) }}" onsubmit="document.getElementById('submitassocierecole').disabled=true;ShowWaiter();" method="post">
                            <div class="div_form">
                                <select class="input" title="" style="height: 100px" name="ecoles[]" multiple required>
                                    {% for tier in tiers %}
                                        {% if tier.getEcole %}
                                            <option value="{{ tier.getId }}">{{ tier.getRaisonSoc }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="div_button">
                                <input id="submitassocierecole" class="blue" type="submit" value="envoyer">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="row" style="height: 78px; margin: 0;">
            <div class="col-xs-1" >
                <img  src="data:image/jpg;base64,{{ etablissement.getTier.getLogo }}" style="padding: 10px; height: 78px;">
            </div>

            <div class="col-xs-4" >
                <div class="col-xs-12"
                     style="margin:0px 40px;height: 40px; text-align: left; padding: 10px;"><label style="font-size: large" >{{ etablissement.getTier.getRaisonSoc }}&nbsp;-&nbsp;  </label><label style="font-size: large;color:#2A76CC" > {{ etablissement.getVille }}</label></div>
                <div class="col-xs-12" style="margin: 0px 40px;height: 20px; text-align: left;">{{etablissement.getAdresse }}, {{ etablissement.getCodePostal }} {{ etablissement.getVille }}</div>
            </div>
            <div class="col-xs-offset-5 col-xs-1">
                <div class="col-xs-12" style="height: 30px;; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 549</label></div>
                <div class="col-xs-12" style="height: 20px;">Apprenant</div>
            </div>
            <div class=" col-xs-1">
                <div class="col-xs-12" style="height: 30px; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 151</label></div>
                <div class="col-xs-12" style="height: 20px;">Missions</div>
            </div>
        </div>

        <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: calc(100% - 78px)">

            <div class="col-xs-9" style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12" style="height: 46px;">
                    <div style="height: 35px; width: 100%; padding: 15px 0 0 15px;display: flex;">

                        <button id="Button_ETABLISSEMENT" onclick="NaviguerOnglet('OngletEtablissement','info_etab',this)" type="button" class="NavButtonIframe">Information</button>
                        <button id="Button_User" onclick="NaviguerOnglet('OngletEtablissement','info_user',this)" type="button" class="NavButtonIframe">Utilisateurs</button>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <button id="Button_Licence" onclick="NaviguerOnglet('OngletEtablissement','info_licence',this)" type="button" class="NavButtonIframe">Licences</button>
                        {% endif %}
                        {% if etablissement.getTier.getEcole %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <button id="Button_TIER_TIER" onclick="NaviguerOnglet('OngletEtablissement','info_tier_tier',this)" value="info_tier_tier" type="button"class="NavButtonIframe">Ecoles liées</button>
                            {% endif %}
                            {% if is_granted('ROLE_ADMINECOLE') %}
                                <button id="Button_Formation" onclick="NaviguerOnglet('OngletEtablissement','info_formation',this)" type="button" class="NavButtonIframe">Formations</button>
                            {% endif %}
                        {% else %}
                            <button id="Button_Mission" onclick="NaviguerOnglet('OngletEtablissement','info_mission',this)" type="button" class="NavButtonIframe">Missions</button>
                        {% endif %}
                        <!--  <select title="" id="select_info" class="btn btn-default dropdown-toggle" style="color:white;">
                            <option value="info_etab" style="color:black;">Information</option>
                            <option value="info_user" style="color:black;">Utilisateurs</option>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <option value="info_licence" style="color:black;">Licences</option>
                            {% endif %}
                            {% if etablissement.getTier.getEcole %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <option value="info_tier_tier" style="color:black;">Ecoles liées</option>
                                {% endif %}
                                {% if is_granted('ROLE_ADMINECOLE') %}
                                    <option value="info_formation" style="color:black;">Formations</option>
                                {% endif %}
                            {% else %}
                                <option value="info_mission" style="color:black;">Missions</option>
                            {% endif %}

                        </select>-->
                    </div>
                </div>

                <div id="OngletEtablissement"  class="col-xs-12" style="margin-bottom: 50px">


                    <div id="info_etab" class="list-group affichage">

                        <form class="formulaire" id="formEtab" action="{{ path('ecole_etabmodif') }}" onsubmit="ShowWaiter();" method="post" enctype="multipart/form-data">

                            <input type="hidden" value="{{ etablissement.getSiret }}" id="SIRET" name="_SIRET" readonly>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="RaisonSoc">Raison sociale :</label>
                                <input value="{{etablissement.getTier.getRaisonSoc}}" type="text" class="champ form-control" id="RaisonSoc" name="_RaisonSoc" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Adresse">Adresse : </label>
                                <input type="text" value="{{etablissement.getAdresse}}" class="champ form-control" id="Adresse" name="_Adresse" maxlength="45" readonly>
                            </div>
                            <input type="hidden" class="form-control" id="Geocode" name="_Geocode" value="{{etablissement.getCodepostal}}">
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="CodeP">Code Postal : </label>
                                <input type="text" value="{{etablissement.getCodepostal}}" class="champ form-control" id="CodeP" name="_CodeP" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Ville">Ville : </label>
                                <input value="{{ etablissement.getVille }}" type="text" class="champ form-control" id="Ville" name="_Ville" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Tel">Téléphone : </label>
                                <input value="{{ etablissement.getTelephone }}" type="tel" class="champ form-control"  id="Tel" name="_Tel" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Fax">FAX : </label>
                                <input type="tel" value="{{ etablissement.getFax }}" class="champ form-control" id="Fax" name="_Fax" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Resp">Responsable établissement : </label>
                                <input type="text" value="{{ etablissement.getResponsable }}" class="champ form-control" id="Resp" name="_Resp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="TelResp">Téléphone responsable établissement : </label>
                                <input type="tel" value="{{ etablissement.getTelResponsable }}" class="champ form-control" id="TelResp" name="_TelResp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="MailResp">Email responsable établissement : </label>
                                <input value="{{ etablissement.getMailResponsable }}" type="email" class="champ form-control" id="MailResp" name="_MailResp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Site">Site web : </label>
                                <input value="{{ etablissement.getSite }}" type="url" class="champ form-control" id="Site" name="_Site" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 40px;" for="Logo">Logo : <img alt="Logo" style="height:40px" src="data:image/jpg;base64,{{ etablissement.getTier.getLogo }}"/> </label>

                                <input accept="image/*" type="file" class="champ form-control" id="Logo" name="_Logo" style="display: none !important;">

                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="image">image de fond : <img alt="Fond ecran" style="height:40px" src="data:image/jpg;base64,{{ etablissement.getTier.getFondecran }}"/> </label>

                                <input accept="image/*" type="file" class="champ form-control" id="image" name="_image" style="display: none !important">

                            </div>

                            <input id="formSubmit" type="submit" style="display: none;">
                        </form>
                    </div>
                    <div id="info_user" class="list-group affichage" style="display: none;">

                        {% if users is defined %}
                            {% for user in users %}
                                {% if not user.hasRole('ROLE_APPRENANT') %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Email : <label>{{ user.getEmail }}</label></label>
                                            <label class="cell">Username : <label>{{ user.getUsername }}</label>
                                                <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#user{{ iddiv }}"></button>
                                            </label>

                                        </div>
                                        <div id="user{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Nom : <label>{{ user.getNom }}</label></label>
                                                <label class="cell">Prénom  : <label>{{ user.getPrenom }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Téléphone : <label>{{ user.getTelephone }}</label></label>
                                                <label class="cell">Dernière connexion : <label>
                                                        {% if user.getLastLogin %}{{ user.getLastLogin|date('d/m/Y') }}
                                                        {% else %}Jamais
                                                        {% endif %}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell" >Roles  :
                                                    {% for role in user.getRoles %}
                                                        <label >{{role}}, </label>
                                                    {% endfor %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}


                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div id="info_licence" class="list-group"
                             style="display: none;">

                            {% if libs is defined %}
                                {% for lib in libs %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell" >Licence : <label>{{ lib.getId }}</label></label>
                                            <label class="cell">Libelle : <label>{{ lib.getLibelle }}</label>
                                                <img style="float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="if(confirm('Voulez-vous Supprimer cete licence?')){supprimerligne('{{ path('supprimer_Licence',{'id': lib.getId}) }}',this)}" />
                                                <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#licence{{ iddiv }}"></button></label>

                                        </div>
                                        <div id="licence{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Nombre max d'apprenants : <label>{{ lib.getMaxapp }}</label></label>
                                                <label class="cell">Nombre max de mission  : <label>{{ lib.getMaxmission }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Date de début : <label>{{ lib.getDatedebut|date('d/m/Y') }}</label></label>
                                                <label class="cell">Date de fin : <label>{{ lib.getDatefin|date('d/m/Y') }}</label></label>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endif %}
                    {% if etablissement.getTier.getEcole %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div id="info_tier_tier" class="list-group affichage"
                                 style="display: none;">


                                {% set i = 0 %}

                                {% for ecoles in etablissement.getTier.getTier1 %}

                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Siren : <label>{{ ecoles.getSiren }}</label></label>
                                            <label class="cell">Raison sociale : <label>{{ ecoles.getRaisonSoc }}</label>
                                                <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#user{{ iddiv }}"></button>
                                            </label>
                                            <img alt="supprimer" title="supprimer" src="{{ asset('image/imgSupprimer.png') }}" onclick="if(confirm('Voulez-vous Supprimer cette licence?')){supprimerPartenariat('{{ path('supprimerAssociationEcole',{'id_ecole':etablissement.getTier.getId,'id_liee':ecoles.getId }) }}',this)}" />

                                        </div>
                                        <div id="user{{ iddiv }}" class="collapse in" >
                                            {% for etab in etablissementslier[i] %}
                                                <div class="row">
                                                    <label class="cell">Adresse : <label>{{ etab.getAdresse }}</label></label>
                                                    <label class="cell">Code Postal  : <label>{{ etab.getCodepostal }}</label></label>
                                                </div>
                                                <div class="row">
                                                    <label class="cell">Ville : <label>{{ etab.getVille }}</label></label>
                                                    <label class="cell">Téléphone : <label>{{ etab.getAdresse }}</label></label>

                                                </div>
                                            {% endfor %}
                                            {% set i= i +1 %}


                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMINECOLE') %}
                            <div id="info_formation" class="list-group affichage"
                                 style="display: none;">

                                {% if formations is defined %}
                                    {% for formation in formations %}
                                        {% set iddiv = random()  %}
                                        <div class="col-xs-12 Liste">
                                            <div class="row">
                                                <label class="cell">Description : <label>{{ formation.getDescriptif }}</label></label>
                                                <label class="cell">Nom : <label>{{ formation.getNom }}</label>
                                                    <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#formation{{ iddiv }}"></button>
                                                </label>

                                            </div>
                                            <div id="formation{{ iddiv }}" class="collapse in" >
                                                <div class="row">
                                                    <label class="cell">Document :
                                                        <a target="_blank" href="{{ asset('formation_pdf/'~ formation.getId ~'.pdf') }}" >
                                                            <img src="{{ asset('image/PDF.jpg') }}"  style="width:40px; height:40px " alt="fichier de formation" >
                                                        </a>
                                                    </label>
                                                    <button  style="border: 0;font: 18px Roboto white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="if(confirm('Voulez-vous supprimer cette formation ?')){supprimerformation('{{ path('supprimerFormation',{'id':formation.getId}) }}', this)}">
                                                        <div   >Supprimer</div>

                                                    </button>&nbsp;&nbsp;
                                                    <button  style="border: 0;font: 18px Roboto white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="showqcm('addQCM',{{ formation.getId }})" >
                                                        <div   >Ajouter un test</div>

                                                    </button>


                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}


                            </div>
                        {% endif %}
                    {% else %}
                        <div id="info_mission" class="list-group affichage" style="display: none;">

                                {% if missions is defined %}
                                    {% for mission in missions %}
                                        {% set iddiv = random()  %}
                            <form class="formulaire" id="formMissionModifier" action="{{ path('missionModif') }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="{{ mission.getId }}" id="id" name="_ID">
                                        <div class="col-xs-12 Liste">
                                            <div class="row">
                                                <label class="cell"  >CodeMission : <label type="text"  id="CodeMission" name="_Codemission" >{{ mission.getCodemission }}</label></label>
                                                <label class="cell" >Date : <label style="font-size: medium"   >{{ mission.getDatecreation|date('d/m/Y H:i')}}</label>
                                                    <button onclick="modifierMission('formMissionModifier',this)" type="button" style="background: #1C5AA5;color:white;height:40px;width:120px;" >modifier</button>
                                                    <img   style="float:right;" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="if(confirm('Voulez-vous Supprimer cette mission?')){supprimerligne('{{ path('supprimer_Mission',{'id': mission.getId}) }}',this)}" />

                                                    <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#mission{{ iddiv }}"></button>
                                                </label>

                                            </div>
                                            <div id="mission{{ iddiv }}" class="collapse in" >
                                                <div class="row">
                                                    <label class="cell">EmailContact  : <input type="text"  value="{{ mission.EmailContact }}" id="Emailcontact" name="_Emailcontact" readonly></label>
                                                    <label class="cell">Profil : <input type="text"  value="{{ mission.getProfil }}" id="Profil" name="_Profil" readonly></label>
                                                </div>
                                                <div class="row">
                                                    <label class="cell" >Date Debut :<input type="date"  value="{{ mission.getDatedebut|date('Y-m-d')}}" id="Datedebut" name="_Datedebut" readonly> </label>
                                                    <label class="cell" >Date fin :<input type="date"  value="{{mission.getDatefin|date('Y-m-d')}}" id="Datefin" name="_Datefin" readonly > </label>

                                            </div>
                                            <div class="row">
                                                <label class="cell">Typecontart  : <input type="text"  value="{{ mission.getTypecontrat }}" id="TypeContrat" name="_TypeContrat" readonly></label>
                                                <label class="cell">NomContact  : <input type="text"  value="{{ mission.getNomContact }}"  id="NomContact" name="_NomContact" readonly></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Domaine  : <input type="text"  value="{{ mission.getDomaine }}" id="Domaine" name="_Domaine" readonly></label>
                                                <label class="cell">Tuteur  : <label type="text"  id="Tuteur" name="_Tuteur" >{{ mission.getTuteur }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell" style="height: 280px;word-wrap: break-word;width: 150px;hyphens: auto;max-width: 100px;">Descriptif : <textarea style="resize: none;width:900px;height:90%" id="Descriptif" name="_Descriptif" maxlength="255" readonly >{{ mission.getDescriptif }}</textarea></label>
                                            </div>

                                        </div>
                                    </div>
                            </form>
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endif %}
                </div>

            </div>
            {% if is_granted('ROLE_RECRUTEUR') or (is_granted('ROLE_ADMINSOC') and etablissement.getTier == app.user.getTier) %}
                <div class="col-xs-3" style="height: 100%;">
                    <div class="list-group"
                         style="margin: 15px 0 0 15px;height: 100%; background-color: white;">


                        {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
                        {% if etablissement.getActive %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: #94C400">
                                <div class="col-xs-12" style="color: white;">ACTIVE</div>
                            </button>
                        {% else %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: red">
                                <div class="col-xs-12" style="color: white;">DÉSACTIVE</div>
                            </button>
                        {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <button onclick="show('instanceLicence')"  type="button" class="list-group-item rightMenu">
                                <div class="col-xs-12">Instancier une licence</div>

                            </button>
                        {% endif %}

                        {% if (is_granted('ROLE_ADMINECOLE') and etablissement.getTier.getEcole) or (is_granted('ROLE_ADMINSOC') and not etablissement.getTier.getEcole )%}
                            <button onclick="show('adduser')" type="button" class="list-group-item rightMenu">
                                <div class="col-xs-12">Ajouter un utilisateur</div>

                            </button>
                        {% endif %}

                        {% if not etablissement.getTier.getEcole %}
                            {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_ADMINSOC') %}
                                <button onclick="show('addmission')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter une mission</div>

                                </button>
                            {% endif %}
                        {% else %}
                            {% if is_granted('ROLE_ADMINECOLE') %}
                                <button onclick="show('apprenant')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter un apprenant</div>

                                </button>
                                <button onclick="show('ajouterformation')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter une formation</div>

                                </button>
                                <button onclick="show('addQCMAff',{{ etablissement.getId }})" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter un test d'affinité</div>

                                </button>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <button onclick="show('associerecole')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Liéé une ecole</div>
                                </button>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
                        <button onclick="modifier('formEtab',this)"type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Modifier la fiche</div>
                        </button>

                        <button onclick="alert('Ce button n\'est pas encore fonctionel!')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Gérer les droits</div>
                        </button>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_RECRUTEUR') and not etablissement.tier.ecole ) %}
                            <button onclick="if(confirm('Voulez-vous Supprimer cet établissement?')){post('{{ path('supprimeretablissement',{'id': etablissement.getId }) }}');}" type="button" class="list-group-item rightMenu">
                                <div class="col-xs-12">Supprimer l'établissement</div>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</div>

{% block JS %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/PopUp.js') }}"></script>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
        webshims.polyfill('forms forms-ext');
    </script>
    <script language="JavaScript">

        function loading(){
            var onglet = sessionStorage.getItem('onglet_tier');
            if(onglet)
            {
                document.getElementById(onglet).click();
            }
        }

        function rechercheformation(mot) {
            var mots = mot.toUpperCase().trim().split(/ +/g);
            var select = document.getElementById('SelectMultipleFormation');
            for(var i = 1; i < select.childElementCount; i=i+2)
            {
                select.options[i-1].style.display="block";

                for(var j = 0; j< mots.length;j++)
                {
                    if (!stringWith(select.options[i].innerHTML, mots[j])) {
                        select.options[i-1].style.display="none";
                    }
                }
            }
        }

        function modifier(form,button){
            var formulaire =document.getElementById(form);
            for(var i=0; i< formulaire.getElementsByTagName("input").length ; i++)
            {
                formulaire.getElementsByTagName("input")[i].readOnly=false;
            }

            button.getElementsByTagName("div")[0].innerHTML="valider";
            button.setAttribute('onclick','envoyer()');
        }

        function modifierMission(formid,button) {
            var inputs = document.getElementById(formid).getElementsByTagName('input');
            for(var i = 0; i< inputs.length; i++)
            {
                inputs[i].readOnly = false;
            }
            var textareas = document.getElementById(formid).getElementsByTagName('textarea');
            for( i = 0; i< textareas.length; i++)
            {
                textareas[i].readOnly = false;
            }

            button.innerHTML="valider";
            button.setAttribute('onclick','document.getElementById(\'formMissionModifier\').submit()');

        }

        function show_patienter(button,formid){
            var formulaire=document.getElementById(formid);
            for( var i=0 ; i<formulaire.getElementsByTagName("input").length ; i++)
            {
                if(formulaire.getElementsByTagName("input") == "")
                {
                    alert('veuillez saisir tt les champs');
                        button.style.visibility="hidden";

                }
            }

            document.getElementById('patienter15644').style.display='block';
            document.getElementById('patienter1564444').style.display='block';

        }

        function active(route) {
            document.getElementById("activate").disabled = true;
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function (data) {
                    console.log('etablissement{{ etablissement.getId }}');
                    if (data['succes'] == '0') {
                        document.getElementById("activate").style.backgroundColor = 'red';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Désactive';
                        document.getElementById("activate").disabled = false;
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = 'red';
                    }
                    else {
                        document.getElementById("activate").style.backgroundColor = '#94C400';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Active';
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = '#94C400';
                    }

                }
            });

        }

        function post(path) {
            window.location = path;
        }

        function submitform(form) {
            document.getElementById(form).submit();
        }

        function FermerPopup(div){
            var popup = document.getElementById(div);

            popup.style.display = 'none';

            document.getElementById("pdf").src="{{ asset('image/upload-arrow.png') }}"

        }

        function ConsultationQCMAff(divid){
            var div = document.getElementById(divid);

            while (div.firstChild) {

                div.removeChild(div.firstChild);

            }

            $("#rightValuesAff option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });


            $("#leftValuesAff option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });





        }

        function ConsultationQCM(divid){
            var div = document.getElementById(divid);

            while (div.firstChild) {

                div.removeChild(div.firstChild);

            }

            $("#rightValues option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });


            $("#leftValues option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });





        }

        function supprimerformation(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

        }

        function readURL(input,baliseimg) {


            if (input.files && input.files[0]) {



                var reader = new FileReader();
                reader.onload = function () {
                    $('#'+ baliseimg)
                            .attr('src',"{{ asset('image/PDF.jpg') }}")
                            .width(100)
                            .height(100);


                };

                reader.readAsDataURL(input.files[0]);

                document.getElementById("NomPDF").innerText=input.files[0].name;




            }
            else
            {
                document.getElementById("pdf").src="{{ asset('image/upload-arrow.png') }}";
            }

        }

        $("#btnLeft").click(function () {
            var selectedItem = $("#rightValues option:selected");
            $("#leftValues").append(selectedItem);

            var route = '{{path('remove_formation_qcm',{'idformation':"_id",'idqcm':"_idqcmright"})}}';
            route = route.replace("_idqcmright", selectedItem.val());
            route = route.replace("_id",document.getElementById("idformation").innerHTML);
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        $("#btnRight").click(function () {
            var selectedItem = $("#leftValues option:selected");
            $("#rightValues").append(selectedItem);


            var route = '{{path('add_formation_qcm',{'idformation':"_id",'idqcm':"_idqcmleft"})}}';
            route = route.replace("_idqcmleft", selectedItem.val());
            route = route.replace("_id",document.getElementById("idformation").innerHTML);
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        function showqcm(div,id){
            var popup = document.getElementById(div);
            document.getElementById("idformation").innerHTML = id;

            popup.style.display = 'block';
            $("#rightValues > option").each(function(){
                $("#leftValues").append(this);
            });


            var route = '{{path('formation_qcm',{'id':"_id" })}}';
            route = route.replace("_id", id);

            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',

                success: function(data) {


                    var formation = JSON.parse(data.adresses);
                    for (var i = 0; i < formation.length; i++)
                    {
                        var selectedItem = $('#leftValues option[value="'+formation[i].id+'"]');
                        $("#rightValues").append(selectedItem);


                    }
                }
            });


        }

        $("#btnLeftaff").click(function () {
            var selectedItem = $("#rightValuesAff option:selected");
            $("#leftValuesAff").append(selectedItem);


            var route = '{{path('remove_etablissement_qcm',{'idetablissement':etablissement.getId,'idqcmaff':"_idqcmrightaff"})}}';
            route = route.replace("_idqcmrightaff", selectedItem.val());
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        $("#btnRightaff").click(function () {
            var selectedItem = $("#leftValuesAff option:selected");
            $("#rightValuesAff").append(selectedItem);



            var route = '{{path('add_etablissement_qcm',{'idetablissement':etablissement.getId,'idqcmaff':"_idqcmleftaff"})}}';
            route = route.replace("_idqcmleftaff", selectedItem.val());

            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        function hideAjouterForm(champs) {
            champs.parentNode.style.display = 'none';
            document.getElementById("pdf").src = '{{ asset('image/upload-arrow.png') }}';
        }

        function supprimerligne(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);
        };

        function supprimerPartenariat(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode);


            window.location.reload();


        };

        function dupliquerDocument() {

            /**** Creation du button suppression ******/
            var buttonsupprimer = document.createElement("img");
            buttonsupprimer.src = '{{ asset('image/imgSupprimer.png') }}';
            buttonsupprimer.title = 'Supprimer document';
            buttonsupprimer.setAttribute('onclick','this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)');
            buttonsupprimer.alt = 'Supprimer document';
            var divsupp = document.createElement('div');
            divsupp.className = 'col-xs-2 input-colonne';
            divsupp.style.float = 'right';
            divsupp.appendChild(buttonsupprimer);
            /*******************************************/

            var dup = document.getElementById("document_apprenant").lastElementChild;
            var clone = dup.cloneNode(true);

            dup.removeChild(dup.lastElementChild);
            dup.appendChild(divsupp);

            dup.parentElement.appendChild(clone);

            /*
             var parentdiv = dup.parentNode;
             var close =dup.parentNode.parentNode;
             if(parentdiv.offsetHeight  > close.offsetHeight )
             {
             close.style.height = parentdiv.offsetHeight;
             clone.children[0].style.height = parentdiv.offsetHeight;
             }

             */
        }

        function envoyer(){

            var address = document.getElementById('Adresse').value +' ' +document.getElementById('Ville').value
                    + ' ' + document.getElementById('CodeP').value  ;
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    document.getElementById('Geocode').value = results[0].geometry.location ;
                    document.getElementById('formSubmit').click();///////////////
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
{% endblock %}
</body>
</html>

