<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />

    <style>
        .dropdown-submenu{position:relative;}
        .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
        .dropdown-submenu:hover>.dropdown-menu{display:block;}
        .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
        .dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
        .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
    </style>

    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>


</head>
<body onload="loading()">

<div class="container" style="padding: 0;">
    {% block Content %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div id="instanceLicence" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-3 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                    <!--div class="btn-group" style="width: 100%">
                <button type="button" class="btn btn-default dropdown-toggle nav"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Filtre
                </button>
                <ul id="filtre" class="dropdown-menu" aria-labelledby="dropdownMenu1">

                </ul>
            </div-->


                    <form  class="formulaire" id="formInstanceLicence" action="{{ path("metier_user_associated") }}" onsubmit="document.getElementById('submitInstanceLicence').disabled=true" method="post">
                        <div class="div_form" >
                            <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                            <select class="input" title="Licencedef" name="Licencedef" required>
                                {% for def in licencedef %}
                                    <option value="{{ def.getId }}">{{ def.getLibelle }}</option>
                                {% endfor %}
                            </select>

                            <input class="date hide-spinbtns" placeholder="Date Début" type="date" id="Date" name="_Date"  data-date='{"buttonOnly": true,	"calculateWidth": true}'  required>
                        </div>
                        <div class="div_button">
                            <input id="submitInstanceLicence" class="blue" type="submit" value="Valider">
                        </div>
                    </form>


                </div>
            </div>

        {% endif %}

        {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
            <div id="adduser" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block">



                    <form id="formadduser" class="formulaire" action="{{ path("user_added") }}" onsubmit="document.getElementById('submitadduser').disabled=true" method="post">
                        <input type="hidden" id="id" name="_id" value="{{ etablissement.getId }}">
                        <div class="div_form" >

                            <div class="col-xs-6 input-colonne">
                                <input type="text" class="input" id="Username" name="_Username" placeholder="Username" required maxlength="255">

                                <input type="email" class="input " id="mail" name="_mail" placeholder="Email" required maxlength="255">

                                <select class="input" title="Sélectionner un role" name="_role">
                                    {% if etablissement.getTier.getEcole %}
                                        <option value="ROLE_ADMINECOLE">Administrateur école</option>
                                        <option value="ROLE_RECRUTEUR">Recruteur Placeur</option>

                                    {% else %}
                                        <option value="ROLE_ADMINSOC">Administrateur Société</option>
                                        <option value="ROLE_TUTEUR">Tuteur</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select class="input " style="width: 25%; margin-right: 10px" title="" name="civilite">
                                    <option value="Monsieur">Mr.</option>
                                    <option value="Madame">Mme.</option>

                                </select>

                                <input type="text" class="input" style="width: calc(75% - 10px);" id="Prenom" name="_Prenom" placeholder="Prénom" required maxlength="45">
                                <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom" required maxlength="45">

                                <input type="tel" class="input " id="Tel" name="_Tel" placeholder="Tel" required maxlength="45">
                            </div>


                        </div>
                        <div class="div_button">
                            <input id="submitadduser" class="blue" type="submit" value="envoyer">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}

        {% if not etablissement.getTier.getEcole %}
            {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
                <div id="addmission" class="popup" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style="padding: 0;border:20px solid white;display: block;position:fixed " >
                        <form id="formaddmission" class="formulaire" action= "{{ path("mission_added") }}" onsubmit="document.getElementById('submitaddmission').disabled=true" method="post">

                            <input type="hidden" id="idetab" name="_idetab" value="{{ etablissement.getId }}">
                            <div class="div_form">
                                <div class="col-xs-6 input-colonne">

                                    <textarea style="height: 140px;resize: none;" class="input" id="Profil" name="_Profil" placeholder="Profil" required maxlength="255"></textarea>
                                    <input type="text" class="input" id="Intitule" name="_Intitule" placeholder="Intitule" required maxlength="75">
                                    <input type="text" class="input " id="Domaine" name="_Domaine" placeholder="Domaine" required maxlength="45">


                                    <label style="float: left">Date debut :</label> <input type="date" data-date='{"buttonOnly": true,	"calculateWidth": true}' class="date" id="Datedebut" name="_Datedebut" title="Datedebut" required >
                                    <input type="text" class="input " id="TypeContrat" name="_TypeContrat" placeholder="TypeContrat" required maxlength="45">
                                    <input type="text" class="input " id="Horaire" name="_Horaire" placeholder="Horaire" required maxlength="45">



                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="input " id="NomContact" name="_NomContact" placeholder="NomContact" required MAXLENGTH="45">
                                    <input type="text" class="input " id="PrenomContact" name="_PrenomContact" placeholder="PrenomContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="FonctionContact" name="_FonctionContact" placeholder="FonctionContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="TelContact" name="_TelContact" placeholder="TelContact" required MAXLENGTH="45">
                                    <input type="text" class="input" id="EmailContact" name="_EmailContact" placeholder="EmailContact" required MAXLENGTH="45">
                                    <label style="float: left">Date fin :</label><input  type="date" data-date='{"buttonOnly": true, "calculateWidth": true}' class="date" id="Datefin" name="_Datefin" title="Datefin" required>
                                </div>
                                <div class="col-xs-6">
                                    <input type="number" class="input " id="Emploi" name="_Emploi" placeholder="Emploi" required  min="0" max="9" maxlength="1" >
                                </div>
                                <div class="col-xs-6">
                                    <input type="number"  class="input " id="Remuneration" name="_Remuneration" placeholder="Remuneration" required maxlength="11">

                                </div>

                                {% if app.user.hasRole('ROLE_ADMINECOLE') %}
                                    <select class="input"   name="formation" title="" >
                                        {% for formation_x in formation_mission %}
                                            {% if formation_x.etablissement.tier == app.user.tier or formation_x.etablissement.tier in app.user.tier.tier1|keys %}
                                                <option value="{{ formation_x.getId }}">{{ formation_x.nom }} - {{ formation_x.etablissement.adresse }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% elseif app.user.hasRole('ROLE_RECRUTEUR') %}
                                    <select class="input"   name="formation" title="" >
                                        {% for formation_x in formation_mission %}
                                            {% if (formation_x.etablissement.tier == app.user.etablissement.tier) or (formation_x.etablissement.tier in app.user.etablissement.tier.tier1) %}
                                                <option value="{{ formation_x.getId }}">{{ formation_x.nom }} - {{ formation_x.etablissement.adresse }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                <textarea style="height: 100px;resize: none;" class="input" id="Descriptif" name="_Descriptif" placeholder="Descriptif" required MAXLENGTH="255"></textarea>
                            </div>
                            <div class="div_button">
                                <input id="submitaddmission" class="blue" type="submit" value="envoyer">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if is_granted('ROLE_ADMINECOLE') %}
                <div id="ajouterformation" class="popup">
                    <div onclick="hideAjouterForm(this);" class="close"></div>
                    <div class="col-xs-offset-3 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                        <form  class="formulaire" id="formAjouterformation" action="{{ path('addFormation') }}" onsubmit="document.getElementById('submitaddformation').disabled=true" method="post" enctype="multipart/form-data">
                            <div class="div_form" >
                                <input type="hidden" id="idetab" name="_idetab" value="{{etablissement.getId}}">
                                <input type="text" class="input" id="Description" name="_Description" placeholder="Description" required maxlength="45">
                                <input type="text" class="input" id="Nom" name="_Nom" placeholder="Nom" required maxlength="45">
                                <label for="Pdf">
                                    <img onclick="this.src='{{ asset('image/wait_x300.gif') }}'; "  id="pdf" style="height: 100px;width: 100px" src="{{ asset('image/upload-arrow.png') }}"/>
                                </label>
                                <br>
                                <input onchange="readURL(this,'pdf');"  accept="application/pdf" type="file" class="input" id="Pdf" name="_PDF" style="display: none">
                                <br>
                                <label class="cell" id="NomPDF"></label>
                                <br>
                            </div>
                            <div class="div_button">
                                <input id="submitaddformation" class="blue" type="submit" value="Valider">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="addQCM" class="popup" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style=" padding: 0;border:20px solid white;display: block">
                        <div id="formaddQCM" class="formulaire" style="text-align: center" >
                            <label style="display:none" id="idformation"></label>
                            <div class="div_form" style="text-align: center" >
                                <section style="text-align: center" >
                                    <table class="tblQCM" style="text-align: center ;" >
                                        <tr>
                                            
                                            <td style="display: none;">
                                                <div>
                                                    <select title="Tests" onclick="ConsultationQCM('divconsQCM')" id="leftValues" size="10" multiple>
                                                        {% if QCMS is defined %}
                                                            {% for qcm in QCMS %}
                                                                <option name="_idqcmleft" value="{{ qcm.getId }}">{{ qcm.getNom }}</option>
                                                            {% endfor %}
                                                        {% endif %}

                                                    </select>
                                                </div>
                                            </td>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <td>
                                                <div >
                                                    <input type="button" id="btnRight" value="&gt;&gt;" />
                                                    <input type="button" id="btnLeft" value="&lt;&lt;" />
                                                </div>
                                            </td>
                                                {% endif %}
                                            <td>
                                                <div>
                                                    <select title="Tests liés à cette formation" onclick="ConsultationQCM('divconsQCM')" id="rightValues" size="10" multiple>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </section>
                                <div id="divconsQCM"></div>
                            </div>
                            <div class="div_button">
                                <button onclick="document.getElementById('addQCM').style.display = 'none';" class="blue" type="button">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="addQCMAff" class="popup" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-9" style=" padding: 0;border:20px solid white;display: block">
                        <div id="formaddQCMAff" class="formulaire" style="text-align: center" >
                            <div class="div_form" style="text-align: center" >
                                <section style="text-align: center" >
                                    <table class="tblQCM" style="text-align: center ;" >
                                        <tr>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <td>
                                                    <div>
                                                        <select title="Tests d'affinité disponible" onclick="ConsultationQCMAff('divconsQCMAFF')" id="leftValuesAff" size="10" multiple>
                                                            {% if QCMSNOTETAB is defined %}
                                                                {% for qcm in QCMSNOTETAB %}
                                                                    <option name="_idqcmleftaff" value="{{ qcm.getId }}">{{ qcm.getNom }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div >
                                                        <input type="button" id="btnRightaff" value="&gt;&gt;" />
                                                        <input type="button" id="btnLeftaff" value="&lt;&lt;" />
                                                    </div>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <div>
                                                    <select title="Tests d'affinité déjà associé" onclick="ConsultationQCMAff('divconsQCMAFF')" id="rightValuesAff" size="10" multiple>
                                                        {% for testaff in etablissement.getQcmdef %}
                                                            <option name="_idqcmrightaff" value="{{ testaff.getId }}">{{ testaff.getNom }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div id="divconsQCMAFF"></div>
                                </section>
                            </div>
                            <div class="div_button">
                                <input class="blue" type="submit" value="Fermer" onclick="FermerPopup('addQCMAff')">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="apprenant" class="popup col-xs-3" >
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-1 col-xs-6" style="top:40px;border:20px solid white;display: block;margin-bottom: 20px ;background: white;width:70%">
                        <div class="col-xs-12" style="height: 50px;">
                            <div style="height: 50px; width: 100%">
                                <ul id="select_info_apprenant"  class="nav navbar-nav" style="height: 50px;background: #4389c8;" >
                                    <li class="dropdown col-xs-12" >
                                        <a class="dropdown-toggle" data-toggle="dropdown"style="height: 40px;color:white;background: #4389c8;margin: 0 auto;">
                                            <label id="65sd4f4" style="font-family: Arial;font-size: small">DETAILS DE L'APPRENANT</label>  <b class="caret"></b> </a>
                                        <ul class="dropdown-menu" style="margin-left: 100px">
                                            <li class="dropdown-submenu" >
                                                <a onclick="show_formapprenant('infoapprenant')" tabindex="-1" href="#" >Informations générales sur l'apprenant</a>
                                                <ul class="dropdown-menu">
                                                    <li><a onclick="show_formapprenant('responsable_apprenant')" href="#">Responsables de l'apprenant</a></li>
                                                    <li><a onclick="show_formapprenant('diplome_apprenant')" href="#">Diplomes</a></li>
                                                    <li><a onclick="show_formapprenant('recommendation_apprenant')" href="#">Recommandation</a></li>
                                                    <li><a onclick="show_formapprenant('experience_apprenant')" href="#">Expériences</a></li>
                                                    <li><a onclick="show_formapprenant('hobbie_apprenant')" href="#">Hobbies</a></li>
                                                    <li><a onclick="show_formapprenant('langue_apprenant')" href="#">Langue</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">QCM</a></li>
                                            <li><a onclick="show_formapprenant('apprenant_formation')"  href="#">Choix formation</a></li>
                                            <li><a href="#">Profil à 360°</a></li>
                                            <li><a href="#">Rendez-vous</a></li>
                                            <li><a href="#">Placement</a></li>
                                            <li><a onclick="show_formapprenant('document_apprenant')" href="#">Documents</a></li>
                                            <li><a href="#">Onglet tests</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div id="div_responsable" name="ajouterResponsable" style="display:none;">
                            <button style="float:inherit" class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerResponsable(this)"> - </button>
                            <div id="demo" class="collapse in">

                                <div class="col-xs-10 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>

                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Nom" class="input" type="text" id="Nomresp" name="_Nomresp[]" maxlength="45" required >
                                    <select class="input "  title="" name="_Civiliteresp[]">
                                        <option value="Monsieur">Mr.</option>
                                        <option value="Madame">Mme.</option>
                                    </select>

                                </div>
                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Prenom" class="input" type="text" id="Prenomresp" name="_Prenomresp[]" maxlength="45" required >
                                    <input placeholder="Metier" class="input" type="text" id="Metierresp" name="_Metierresp[]" maxlength="45" required >


                                </div>

                                <div class="col-xs-6 input-colonne">
                                    <input placeholder="Adresse postale" class="input" type="text" id="Adresseresp" name="_Adresseresp[]" maxlength="45" required >
                                    <input placeholder="Adresse email" class="input" type="text" id="Emailresp" name="_Emailresp[]" maxlength="45" required >

                                </div>

                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Profession" class="input" type="text" id="Profession" name="_Profession[]" maxlength="45" required >
                                </div>

                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Téléphone " class="input" type="text" id="Telephoneresp" name="_Telephoneresp[]" maxlength="45" required >
                                </div>
                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Ville" class="input" type="text" id="Villeresp" name="_Villeresp[]" maxlength="45" required >
                                </div>

                                <div class="col-xs-3 input-colonne">
                                    <input placeholder="Code postale" class="input" type="text" id="CodePostaleresp" name="_CodePostaleresp[]" maxlength="45" required >
                                </div>


                            </div>
                        </div>

                        <div id="div_recommandation" name="ajouterRecommandation" style="display:none">
                            <button class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerRecommandation(this)">-</button>
                            <div id="demo" class="collapse in">

                                <div class="col-xs-10 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>
                                <div class="col-xs-6 input-colonne">
                                    <div class="col-xs-6 input-colonne">
                                        <input placeholder="Nom" class="input" type="text" id="Nom" name="_Nomrec[]" maxlength="45" required >
                                        <input placeholder="Fonction" class="input" type="text" id="Fonctionrec" name="_Fonctionrec[]" maxlength="45" required >

                                    </div>
                                    <div class="col-xs-6 input-colonne" style="border-right: 0">
                                        <input placeholder="Prenom" class="input" type="text" id="Prenom" name="_Prenomrec[]" maxlength="45" required >
                                        <input placeholder="Téléphone fixe" class="input"  type="text" id="Telephonerec" name="_Telephonerec[]" maxlength="45" required >
                                    </div>
                                    <input placeholder="Adresse email" class="input" type="text" id="Emailrec" name="_Emailrec[]" maxlength="45" required >
                                </div>


                                <div class="col-xs-6 input-colonne " style="height:150px">
                                    <textarea placeholder="Recommandation écrite" class="input" type="text" id="Text" name="_Text[]"  required style="resize:none;height:calc( 100% - 13px)"></textarea>

                                </div>

                            </div>
                        </div>

                        <div id="div_experience" name="ajouterExperience" style="display:none">
                            <button class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerExperience(this)">-</button>
                            <div id="demo" class="collapse in">

                                <div class="col-xs-10 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>
                                <div class="col-xs-6 input-colonne">
                                    <div class="col-xs-6 input-colonne">
                                        <input placeholder="Nom Société" class="input" type="text" id="Nomsociete" name="_Nomsociete[]" maxlength="45" required >
                                        <input placeholder="Activité" class="input" type="text" id="Activite" name="_Activite[]" maxlength="45" required >

                                    </div>
                                    <div class="col-xs-6 input-colonne" style="border-right: 0">
                                        <input placeholder="Lieu" class="input" type="text" id="Lieu" name="_Lieu[]" maxlength="45" required >
                                        <input placeholder="Poste" class="input"  type="text" id="Poste" name="_Poste[]" maxlength="45" required >
                                    </div>
                                    <input placeholder="Nombre d'années" class="input" type="number" id="Nbreannee" name="_Nbreannee[]" maxlength="11" required >
                                </div>


                                <div class="col-xs-6 input-colonne " style="height:150px">
                                    <textarea placeholder="Description" class="input" type="text" id="Descriptionexp" name="_Descriptionexp[]"  required style="resize:none;height:calc( 100% - 13px)"></textarea>

                                </div>

                            </div>
                        </div>

                        <div id="div_diplome" name="ajouterDiplome" style="display:none">
                            <button class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerDiplome(this)">-</button>
                            <div id="demo" class="collapse in">


                                <div class="col-xs-12 input-colonne">
                                    <input placeholder="Libelle" class="input" type="text" id="Libelle" name="_Libelle[]" maxlength="45" required >

                                </div>

                                <div class="col-xs-12 input-colonne" >
                                    <input placeholder="Obtention" class="input" type="text" id="Obtention" name="_Obtention[]" maxlength="45" required >
                                </div>

                                <div class="col-xs-12 input-colonne" >

                                    <input placeholder="école" class="input"  type="text" id="Ecole" name="_Ecole[]" maxlength="45" required >
                                </div>


                            </div>
                        </div>

                        <div id="div_langue" name="ajouterLangue" style="display:none">
                            <button class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerLangue(this)">-</button>
                            <div id="demo" class="collapse in">

                                <div class="col-xs-12 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>
                                <div class="col-xs-6 input-colonne">
                                    <select class="input " title="" name="_Langue[]">
                                        <option value="Francais">Francais </option>
                                        <option value="Anglais">Anglais </option>
                                        <option value="Espagnol">Espagnol </option>
                                        <option value="Arabe">Arabe </option>
                                        <option value="Allemand">Allemand </option>

                                    </select>

                                </div>

                                <div class="col-xs-6 input-colonne" >

                                    <select class="input " title="" name="_Niveau[]">
                                        <option value="connaissance de base">connaissance de base</option>
                                        <option value="bonne connaissance">bonne connaissance</option>
                                        <option value="courant">courant</option>
                                        <option value="langue maternelle">langue maternelle</option>

                                    </select>
                                </div>


                            </div>
                        </div>
                        <div id="div_document" name="ajouterDocument" style="display:none">
                            <button class="toggle" type="button" data-toggle="collapse" data-target="#demo"></button>
                            <button class="toggle" type="button" onclick="supprimerDocument(this)">-</button>
                            <div id="demo" class="collapse in">


                                <div class="col-xs-12 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>

                                </div>


                                <div class="col-xs-12 input-colonne">

                                    <select class="input "  title=""  name="_Type[]">
                                        <option value="lettre de motivation" >lettre de motivation</option>
                                        <option value="cv" >Cv</option>
                                        <option value="Autre" >Autre</option>
                                    </select>
                                </div>
                                <input  type="file" class="input" id="document" name="_Document[]">
                            </div>
                        </div>

                        <form class="formulaire" id="formApprenant" action="{{ path("apprenant_added") }}" onsubmit="document.getElementById('submitaddapprenant').disabled=true" method="post" enctype="multipart/form-data" style="margin-top: 50px"   >
                            <input type="hidden" id="idEtab" name="_idEtab" value="{{ etablissement.getId }}">
                            <div class="div_form" id="infoapprenant" style="border-bottom:1px solid #2b542c;"  >


                                <div class="col-xs-10 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>
                                <div >
                                    <div class="col-xs-3 input-colonne" >
                                        <label for="Photos"><img onclick="this.src='{{ asset('image/wait_x300.gif') }}'" id="Photosimg" style="height: 90px;" src="{{ asset('image/upload-arrow.png') }}"/></label><br>

                                        <input onchange="readURLL(this,'Photosimg');"  accept="image/*" type="file" class="input" id="Photos" name="_Photos" style="display: none">
                                    </div>
                                    <div class="col-xs-3 input-colonne">
                                        <input placeholder="Placé" class="input" type="text" id="Place" name="_Place" maxlength="45"  style="background:yellowgreen">

                                        <input placeholder="N°INSEE" class="input" type="text" id="NINSEE" name="_NINSEE" maxlength="45" required>
                                    </div>

                                    <div class="col-xs-6 input-colonne" style="border-right: 0 ">
                                        <input placeholder="Adresse postale" class="input" type="text" id="Adresse" name="_Adresse" maxlength="45" required >


                                    </div>
                                    <div class="col-xs-3 input-colonne">
                                        <input placeholder="Ville" class="input" type="text" id="Ville" name="_Ville" maxlength="45" required >
                                    </div>
                                    <div class="col-xs-3 input-colonne" style="border-right: 0 ">
                                        <input placeholder="Code postal" class="input" type="text" id="Codepostal" name="_Codepostal" maxlength="45" required >
                                    </div>

                                    <div class="col-xs-3 input-colonne">
                                        <input placeholder="Nom" class="input" type="text" id="Nom" name="_Nom" maxlength="45" required >
                                        <select class="input "  title="" name="_Civilite" maxlength="45" required>
                                            <option value="Monsieur">Mr.</option>
                                            <option value="Madame">Mme.</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-3 input-colonne">
                                        <input placeholder="Prenom" class="input" type="text" id="Prenom" name="_Prenom" maxlength="45" required >

                                        <input placeholder="Date de Naissance" type="date" data-date='{"buttonOnly": true,	"calculateWidth": true}' class="date" id="Datenaissance" name="_Datenaissance" title="Date de Naissance" required >
                                    </div>
                                    <div class="col-xs-6 input-colonne" style="border-right: 0 ">
                                        <input placeholder="Adresse email" class="input" type="text" id="Email" name="_Email" maxlength="45" required >
                                    </div>
                                    <div class="col-xs-3 input-colonne">
                                        <input placeholder="Téléphone portable" class="input" type="text" id="Telephone" name="_Telephone" maxlength="45" required >

                                    </div>

                                    <div class="col-xs-3 input-colonne" style="border-right: 0 ">

                                        <input placeholder="Téléphone fixe" class="input" type="text" id="Fax" name="_Fax" maxlength="45"  >


                                    </div>
                                </div>

                            </div>

                            <div class="div_form" id="apprenant_formation" style="position: absolute;visibility: hidden;border-bottom:1px solid #2b542c;" >
                                <div class="col-xs-10 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>

                                <div class="col-xs-12 input-colonne " >
                                    <select class="input" title="" style="height: 100px" name="formations[]" multiple>
                                        {% for formation in formations %}
                                            {% if formation.getDescriptif %}
                                                <option value="{{ formation.getId }}">{{ formation.getNom }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>

                            <div class="div_form" id="responsable_apprenant" style="position: absolute;visibility: hidden;border-bottom:1px solid #2b542c;"  >

                                <div id="responsablecontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;" onclick="dupliquerResponsable()">Ajouter un responsable</button>
                            </div>

                            <div class="div_form" id="recommendation_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div id="recommandationcontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;"  onclick="dupliquerRecommandation()">Ajouter une recommandation</button>

                            </div>


                            <div class="div_form" id="diplome_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div id="diplomecontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;"  onclick="dupliquerDiplome()">Ajouter un diplome</button>

                            </div>

                            <div class="div_form" id="langue_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div id="languecontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;"  onclick="dupliquerLangue()">Ajouter une Langue</button>

                            </div>

                            <div class="div_form" id="document_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div id="documentcontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;"  onclick="dupliquerDocument()">Ajouter un Document</button>

                            </div>

                            <div class="div_form" id="hobbie_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div class="col-xs-12 input-colonne">
                                    <label id="startTimeLabel" visible="false"></label>
                                </div>



                                <div class="col-xs-12 input-colonne " >
                                    <select class="input" title="" style="height: 100px" name="hobbies[]" multiple>
                                        {% for hobbie in hobbies %}
                                            {% if hobbie.getHobbie %}
                                                <option value="{{ hobbie.getId }}">{{ hobbie.getHobbie }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>


                            </div>
                            <div class="div_form" id="experience_apprenant" style="position: absolute;visibility:hidden;border-bottom:1px solid #2b542c;">

                                <div id="experiencecontainer">

                                </div>
                                <button type="button" class="col-xs-12 blue" style="margin-bottom:20px;"  onclick="dupliquerExperience()">Ajouter une Exepérience</button>

                            </div>


                            <div class="div_button" style="margin-top: 10px" >

                                <input class="blue" id="submitaddapprenant" type="submit"  style="margin-right: 10px" value="Enregistrer">

                            </div>
                        </form>

                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div id="associerecole" class="popup">
                    <div onclick="hide(this)" class="close"></div>
                    <div class="col-xs-offset-4 col-xs-4" style="padding: 0;border:20px solid white;display: block">
                        <form class="formulaire" id="formAssiation" action="{{ path("ecoles_assiciated",{'id':etablissement.getId}) }}" onsubmit="document.getElementById('submitassocierecole').disabled=true" method="post">
                            <div class="div_form">
                                <select class="input" title="" style="height: 100px" name="ecoles[]" multiple>
                                    {% for tier in tiers %}
                                        {% if tier.getEcole %}
                                            <option value="{{ tier.getId }}">{{ tier.getRaisonSoc }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="div_button">
                                <input id="submitassocierecole" class="blue" type="submit" value="envoyer">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="row" style="height: 78px; margin: 0;">
            <div class="col-xs-1" >
                <img  src="data:image/jpg;base64,{{ etablissement.getTier.getLogo }}" style="padding: 10px; height: 78px;">
            </div>

            <div class="col-xs-4" >
                <div class="col-xs-12"
                     style="margin:0px 40px;height: 40px; text-align: left; padding: 10px;"><label style="font-size: large" >{{ etablissement.getTier.getRaisonSoc }}&nbsp;-&nbsp;  </label><label style="font-size: large;color:#2A76CC" > {{ etablissement.getVille }}</label></div>
                <div class="col-xs-12" style="margin: 0px 40px;height: 20px; text-align: left;">{{etablissement.getAdresse }}, {{ etablissement.getCodePostal }} {{ etablissement.getVille }}</div>
            </div>
            <div class="col-xs-offset-5 col-xs-1">
                <div class="col-xs-12" style="height: 30px;; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 549</label></div>
                <div class="col-xs-12" style="height: 20px;">Apprenant</div>
            </div>
            <div class=" col-xs-1">
                <div class="col-xs-12" style="height: 30px; padding-top: 10px;"><label style="font-size: large;color:#2A76CC" > 151</label></div>
                <div class="col-xs-12" style="height: 20px;">Missions</div>
            </div>
        </div>

        <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: calc(100% - 78px)">

            <div class="col-xs-9" style="background: rgb(238, 241, 246); height: 100%;">

                <div class="col-xs-12" style="height: 46px;">
                    <div style="height: 35px; width: 100%; padding: 15px 0 0 15px;">
                        <select title="" id="select_info" class="btn btn-default dropdown-toggle" style="color:white;">
                            <option value="info_etab" style="color:black;">Information</option>
                            <option value="info_user" style="color:black;">Utilisateurs</option>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <option value="info_licence" style="color:black;">Licences</option>
                            {% endif %}
                            {% if etablissement.getTier.getEcole %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <option value="info_tier_tier" style="color:black;">Ecoles liées</option>
                                {% endif %}
                                {% if is_granted('ROLE_ADMINECOLE') %}
                                    <option value="info_formation" style="color:black;">Formations</option>
                                {% endif %}
                            {% else %}
                                <option value="info_mission" style="color:black;">Missions</option>
                            {% endif %}

                        </select>
                    </div>
                </div>

                <div class="col-xs-12" style="margin-bottom: 50px">


                    <div id="info_etab" class="list-group affichage">

                        <form class="formulaire" id="formEtab" action="{{ path('ecole_etabmodif') }}" method="post" enctype="multipart/form-data">

                            <input type="hidden" value="{{ etablissement.getSiret }}" id="SIRET" name="_SIRET" readonly>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="RaisonSoc">Raison sociale :</label>
                                <input value="{{etablissement.getTier.getRaisonSoc}}" type="text" class="champ form-control" id="RaisonSoc" name="_RaisonSoc" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Adresse">Adresse : </label>
                                <input type="text" value="{{etablissement.getAdresse}}" class="champ form-control" id="Adresse" name="_Adresse" maxlength="45" readonly>
                            </div>
                            <input type="hidden" class="form-control" id="Geocode" name="_Geocode" value="{{etablissement.getCodepostal}}">
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="CodeP">Code Postal : </label>
                                <input type="text" value="{{etablissement.getCodepostal}}" class="champ form-control" id="CodeP" name="_CodeP" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Ville">Ville : </label>
                                <input value="{{ etablissement.getVille }}" type="text" class="champ form-control" id="Ville" name="_Ville" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Tel">Téléphone : </label>
                                <input value="{{ etablissement.getTelephone }}" type="tel" class="champ form-control"  id="Tel" name="_Tel" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Fax">FAX : </label>
                                <input type="tel" value="{{ etablissement.getFax }}" class="champ form-control" id="Fax" name="_Fax" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Resp">Responsable établissement : </label>
                                <input type="text" value="{{ etablissement.getResponsable }}" class="champ form-control" id="Resp" name="_Resp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="TelResp">Téléphone responsable établissement : </label>
                                <input type="tel" value="{{ etablissement.getTelResponsable }}" class="champ form-control" id="TelResp" name="_TelResp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="MailResp">Email responsable établissement : </label>
                                <input value="{{ etablissement.getMailResponsable }}" type="email" class="champ form-control" id="MailResp" name="_MailResp" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Site">Site web : </label>
                                <input value="{{ etablissement.getSite }}" type="url" class="champ form-control" id="Site" name="_Site" maxlength="45" readonly>
                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 40px;" for="Logo">Logo : <img alt="Logo" style="height:40px" src="data:image/jpg;base64,{{ etablissement.getTier.getLogo }}"/> </label>

                                <input accept="image/*" type="file" class="champ form-control" id="Logo" name="_Logo" style="display: none !important;">

                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="image">image de fond : <img alt="Fond ecran" style="height:40px" src="data:image/jpg;base64,{{ etablissement.getTier.getFondecran }}"/> </label>

                                <input accept="image/*" type="file" class="champ form-control" id="image" name="_image" style="display: none !important">

                            </div>

                            <input id="formSubmit" type="submit" style="display: none;">
                        </form>
                    </div>
                    <div id="info_user" class="list-group affichage" style="display: none;">

                        {% if users is defined %}
                            {% for user in users %}
                                {% set iddiv = random()  %}
                                <div class="col-xs-12 Liste">
                                    <div class="row">
                                        <label class="cell">Email : <label>{{ user.getEmail }}</label></label>
                                        <label class="cell">Username : <label>{{ user.getUsername }}</label>
                                            <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#user{{ iddiv }}"></button>
                                        </label>

                                    </div>
                                    <div id="user{{ iddiv }}" class="collapse in" >
                                        <div class="row">
                                            <label class="cell">Nom : <label>{{ user.getNom }}</label></label>
                                            <label class="cell">Prénom  : <label>{{ user.getPrenom }}</label></label>
                                        </div>
                                        <div class="row">
                                            <label class="cell">Téléphone : <label>{{ user.getTelephone }}</label></label>
                                            <label class="cell">Dernière connexion : <label>
                                                    {% if user.getLastLogin %}{{ user.getLastLogin|date('d/m/Y') }}
                                                    {% else %}Jamais
                                                    {% endif %}</label></label>
                                        </div>
                                        <div class="row">
                                            <label class="cell" >Roles  :
                                                {% for role in user.getRoles %}
                                                    <label >{{role}}, </label>
                                                {% endfor %}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}


                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div id="info_licence" class="list-group"
                             style="display: none;">

                            {% if libs is defined %}
                                {% for lib in libs %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell" >Licence : <label>{{ lib.getId }}</label></label>
                                            <label class="cell">Libelle : <label>{{ lib.getLibelle }}</label>
                                                <img style="float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerligne('{{ path('supprimer_Licence',{'id': lib.getId}) }}',this)" />
                                                <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#licence{{ iddiv }}"></button></label>

                                        </div>
                                        <div id="licence{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Nombre max d'apprenants : <label>{{ lib.getMaxapp }}</label></label>
                                                <label class="cell">Nombre max de mission  : <label>{{ lib.getMaxmission }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Date de début : <label>{{ lib.getDatedebut|date('d/m/Y') }}</label></label>
                                                <label class="cell">Date de fin : <label>{{ lib.getDatefin|date('d/m/Y') }}</label></label>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endif %}
                    {% if etablissement.getTier.getEcole %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <div id="info_tier_tier" class="list-group affichage"
                                 style="display: none;">


                                {% set i = 0 %}

                                {% for ecoles in etablissement.getTier.getTier1 %}



                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Siren : <label>{{ ecoles.getSiren }}</label></label>
                                            <label class="cell">Raison sociale : <label>{{ ecoles.getRaisonSoc }}</label>
                                                <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#user{{ iddiv }}"></button>
                                            </label>
                                            <img alt="supprimer" title="supprimer" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerPartenariat('{{ path('supprimerAssociationEcole',{'id_ecole':etablissement.getTier.getId,'id_liee':ecoles.getId }) }}',this)" />

                                        </div>
                                        <div id="user{{ iddiv }}" class="collapse in" >
                                            {% for etab in etablissementslier[i] %}
                                                <div class="row">
                                                    <label class="cell">Adresse : <label>{{ etab.getAdresse }}</label></label>
                                                    <label class="cell">Code Postal  : <label>{{ etab.getCodepostal }}</label></label>
                                                </div>
                                                <div class="row">
                                                    <label class="cell">Ville : <label>{{ etab.getVille }}</label></label>
                                                    <label class="cell">Téléphone : <label>{{ etab.getAdresse }}</label></label>

                                                </div>
                                            {% endfor %}
                                            {% set i= i +1 %}


                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMINECOLE') %}
                            <div id="info_formation" class="list-group affichage"
                                 style="display: none;">

                                {% if formations is defined %}
                                    {% for formation in formations %}
                                        {% set iddiv = random()  %}
                                        <div class="col-xs-12 Liste">
                                            <div class="row">
                                                <label class="cell">Description : <label>{{ formation.getDescriptif }}</label></label>
                                                <label class="cell">Nom : <label>{{ formation.getNom }}</label>
                                                    <button class="button" style="float: right" type="button" data-toggle="collapse" data-target="#formation{{ iddiv }}"></button>
                                                </label>

                                            </div>
                                            <div id="formation{{ iddiv }}" class="collapse in" >
                                                <div class="row">
                                                    <label class="cell">Document :
                                                        <a target="_blank" href="{{ asset('formation_pdf/'~ formation.getId ~'.pdf') }}" >
                                                            <img src="{{ asset('image/PDF.jpg') }}"  style="width:40px; height:40px " alt="fichier de formation" >
                                                        </a>
                                                    </label>
                                                    <button  style="border: 0;font: 18px Roboto white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="supprimerformation('{{ path('supprimerFormation',{'id':formation.getId}) }}', this)">
                                                        <div   >Supprimer</div>

                                                    </button>&nbsp;&nbsp;
                                                    <button  style="border: 0;font: 18px Roboto white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="showqcm('addQCM',{{ formation.getId }})" >
                                                        <div   >Ajouter un test</div>

                                                    </button>


                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}


                            </div>
                        {% endif %}
                    {% else %}
                        <div id="info_mission" class="list-group affichage" style="display: none;">

                            {% if missions is defined %}
                                {% for mission in missions %}
                                    {% set iddiv = random()  %}

                                    <div class="col-xs-12 Liste">

                                        <div class="row">
                                            <label class="cell"  >CodeMission : <label style="font-size: medium">{{ mission.getCodemission }}</label></label>
                                            <label class="cell" >Date : <label style="font-size: medium" > {{ mission.getDatecreation|date('d/m/Y H:i')}}</label>

                                                <img   style="float:right;" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerligne('{{ path('supprimer_Mission',{'id': mission.getId}) }}',this)" />

                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#mission{{ iddiv }}"></button>
                                            </label>

                                        </div>
                                        <div id="mission{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">EmailContact  : <label style="font-size: medium">{{ mission.EmailContact }}</label></label>
                                                <label class="cell">Profil : <label style="font-size: medium">{{ mission.getProfil }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell" >Date Debut :<label style="font-size: medium"> {{ mission.getDatedebut|date('d/m/Y')}}</label></label>
                                                <label class="cell" >Date fin :<label style="font-size: medium" > {{mission.getDatefin|date('d/m/Y')}}</label></label>

                                            </div>
                                            <div class="row">
                                                <label class="cell">Typecontart  : <label style="font-size: medium">{{ mission.getTypecontrat }}</label></label>
                                                <label class="cell">NomContact  : <label style="font-size: medium">{{ mission.getNomContact }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Domaine  : <label style="font-size: medium">{{ mission.getDomaine }}</label></label>
                                                <label class="cell">Tuteur  : <label style="font-size: medium">{{ mission.getTuteur }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell" style="height: 280px;word-wrap: break-word;width: 150px;hyphens: auto;max-width: 100px;">Descriptif : <label style="font-size: medium" >{{ mission.getDescriptif }}</label></label>
                                            </div>

                                        </div>
                                    </div>

                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMINECOLE') or (is_granted('ROLE_ADMINSOC') and etablissement.getTier == app.user.getTier) %}
                <div class="col-xs-3" style="height: 100%;">
                    <div class="list-group"
                         style="margin: 15px 0 0 15px;height: 100%; background-color: white;">



                        {% if etablissement.getActive %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: #94C400">
                                <div class="col-xs-12" style="color: white;">ACTIVE</div>
                            </button>
                        {% else %}
                            <button onclick="active('{{ path('activate',{'id':etablissement.getId}) }}')" id="activate" type="button" class="list-group-item rightMenu" style="background-color: red">
                                <div class="col-xs-12" style="color: white;">DÉSACTIVE</div>
                            </button>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <button onclick="show('instanceLicence')" type="button" class="list-group-item rightMenu">
                                <div class="col-xs-12">Instancier une licence</div>

                            </button>
                        {% endif %}

                        {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
                            <button onclick="show('adduser')" type="button" class="list-group-item rightMenu">
                                <div class="col-xs-12">Ajouter un utilisateur</div>

                            </button>
                        {% endif %}

                        {% if not etablissement.getTier.getEcole %}
                            {% if is_granted('ROLE_ADMINECOLE') or is_granted('ROLE_ADMINSOC') %}
                                <button onclick="show('addmission')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter une mission</div>

                                </button>
                            {% endif %}
                        {% else %}
                            {% if is_granted('ROLE_ADMINECOLE') %}
                                <button onclick="show('apprenant')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter un apprenant</div>

                                </button>
                                <button onclick="show('ajouterformation')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter une formation</div>

                                </button>
                                <button onclick="show('addQCMAff',{{ etablissement.getId }})" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Ajouter un test d'affinité</div>

                                </button>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <button onclick="show('associerecole')" type="button" class="list-group-item rightMenu">
                                    <div class="col-xs-12">Liéé une ecole</div>
                                </button>
                            {% endif %}
                        {% endif %}
                        <button onclick="modifier('formEtab',this)"type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Modifier la fiche</div>
                        </button>
                        <button onclick="if(confirm('Voulez-vous Supprimer cet établissement?')){post('{{ path('supprimeretablissement',{'id': etablissement.getId }) }}');}" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Supprimer l'établissement</div>
                        </button>

                        <button onclick="alert('Ce button n\'est pas encore fonctionel!')" type="button" class="list-group-item rightMenu">
                            <div class="col-xs-12">Gérer les droits</div>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
</div>

{% block JS %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/PopUp.js') }}"></script>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
        webshims.polyfill('forms forms-ext');
    </script>
    <script language="JavaScript">
        document.getElementById("select_info").onchange = function(){
            var x = document.getElementById("select_info").value;
            document.getElementById('info_etab').style.display= 'none';
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            document.getElementById('info_licence').style.display= 'none';
            {% endif %}
            document.getElementById('info_user').style.display= 'none';

            {% if etablissement.getTier.getEcole %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            document.getElementById('info_tier_tier').style.display= 'none';
            {% endif %}

            {% if is_granted('ROLE_ADMINECOLE') %}
            document.getElementById('info_formation').style.display= 'none';
            {% endif %}
            {% else %}
            document.getElementById('info_mission').style.display= 'none';
            {% endif %}
            document.getElementById(x).style.display='block';
            sessionStorage.setItem('onglet_tier',x);
        };

        function loading(){
            var onglet = sessionStorage.getItem('onglet_tier');
            if(onglet)
            {
                $('#select_info option[value="' + onglet + '"]').prop('selected', true).change();
            }
        }

        function modifier(form,button){
            var formulaire =document.getElementById(form);
            for(var i=0; i< formulaire.getElementsByTagName("input").length ; i++)
            {
                formulaire.getElementsByTagName("input")[i].readOnly=false;
            }

            button.getElementsByTagName("div")[0].innerHTML="valider";
            button.setAttribute('onclick','envoyer()');
        }

        function show_formapprenant(div) {
            document.getElementById('infoapprenant').style.visibility= 'hidden';
            document.getElementById('apprenant_formation').style.visibility= 'hidden';
            document.getElementById('responsable_apprenant').style.visibility= 'hidden';
            document.getElementById('recommendation_apprenant').style.visibility= 'hidden';
            document.getElementById('diplome_apprenant').style.visibility= 'hidden';
            document.getElementById('langue_apprenant').style.visibility= 'hidden';
            document.getElementById('document_apprenant').style.visibility= 'hidden';
            document.getElementById('experience_apprenant').style.visibility= 'hidden';
            document.getElementById('hobbie_apprenant').style.visibility= 'hidden';
            document.getElementById('infoapprenant').style.position= 'absolute';
            document.getElementById('apprenant_formation').style.position= 'absolute';
            document.getElementById('responsable_apprenant').style.position= 'absolute';
            document.getElementById('recommendation_apprenant').style.position= 'absolute';
            document.getElementById('diplome_apprenant').style.position= 'absolute';
            document.getElementById('langue_apprenant').style.position= 'absolute';
            document.getElementById('document_apprenant').style.position= 'absolute';
            document.getElementById('experience_apprenant').style.position= 'absolute';
            document.getElementById('hobbie_apprenant').style.position= 'absolute';

            if (div == 'infoapprenant'){
                document.getElementById('65sd4f4').innerHTML = "DETAILS DE L'APPRENANT"
            }
            if (div == 'responsable_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "RESPONSABLE DE L'APPRENANT"
            }
            if (div == 'recommendation_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "RECOMMANDATION"
            }
            if (div == 'diplome_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "DIPLOMES"
            }
            if (div == 'langue_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "LANGUES"
            }

            if (div == 'document_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "DOCUMENTS"
            }

            if (div == 'experience_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "Expériences"
            }

            if (div == 'hobbie_apprenant'){
                document.getElementById('65sd4f4').innerHTML = "HOBBIES"
            }

            if (div == 'apprenant_formation'){
                document.getElementById('65sd4f4').innerHTML = "FORMATION"
            }
            document.getElementById(div).style.visibility= 'visible';
            document.getElementById(div).style.position= 'static';
        }

        function active(route) {
            document.getElementById("activate").disabled = true;
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function (data) {
                    console.log('etablissement{{ etablissement.getId }}');
                    if (data['succes'] == '0') {
                        document.getElementById("activate").style.backgroundColor = 'red';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Désactive';
                        document.getElementById("activate").disabled = false;
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = 'red';
                    }
                    else {
                        document.getElementById("activate").style.backgroundColor = '#94C400';
                        document.getElementById("activate").firstElementChild.innerHTML = 'Active';
                        window.parent.document.getElementById('active{{ etablissement.getId }}').style.backgroundColor = '#94C400';
                    }

                }
            });

        }

        function post(path) {
            window.location = path;
        }

        function submitform(form) {
            document.getElementById(form).submit();
        }

        function FermerPopup(div){
            var popup = document.getElementById(div);

            popup.style.display = 'none';

            document.getElementById("pdf").src="{{ asset('image/upload-arrow.png') }}"

        }

        function ConsultationQCMAff(divid){
            var div = document.getElementById(divid);

            while (div.firstChild) {

                div.removeChild(div.firstChild);

            }

            $("#rightValuesAff option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });


            $("#leftValuesAff option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });





        }

        function ConsultationQCM(divid){
            var div = document.getElementById(divid);

            while (div.firstChild) {

                div.removeChild(div.firstChild);

            }

            $("#rightValues option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });


            $("#leftValues option:selected").each(function(){
                route='{{ path('loadconsulterQCM',{'id':'_id'}) }}';
                route = route.replace('_id',$(this).val());
                var a = document.createElement("a");
                a.setAttribute("href",route);
                a.setAttribute("target","_blank");
                a.innerHTML = 'visualiser le QCM ' + $(this).text() + '<br>';
                div.appendChild(a);

            });





        }

        function supprimerformation(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

        }

        function readURLL(input,baliseimg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#'+ baliseimg)
                            .attr('src', e.target.result)
                            .width(140)
                            .height(90);
                };

                reader.readAsDataURL(input.files[0]);
            }
        };

        function readURL(input,baliseimg) {


            if (input.files && input.files[0]) {



                var reader = new FileReader();
                reader.onload = function () {
                    $('#'+ baliseimg)
                            .attr('src',"{{ asset('image/PDF.jpg') }}")
                            .width(100)
                            .height(100);


                };

                reader.readAsDataURL(input.files[0]);

                document.getElementById("NomPDF").innerText=input.files[0].name;




            }
            else
            {
                document.getElementById("pdf").src="{{ asset('image/upload-arrow.png') }}";
            }

        }

        $("#btnLeft").click(function () {
            var selectedItem = $("#rightValues option:selected");
            $("#leftValues").append(selectedItem);

            var route = '{{path('remove_formation_qcm',{'idformation':"_id",'idqcm':"_idqcmright"})}}';
            route = route.replace("_idqcmright", selectedItem.val());
            route = route.replace("_id",document.getElementById("idformation").innerHTML);
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        $("#btnRight").click(function () {
            var selectedItem = $("#leftValues option:selected");
            $("#rightValues").append(selectedItem);


            var route = '{{path('add_formation_qcm',{'idformation':"_id",'idqcm':"_idqcmleft"})}}';
            route = route.replace("_idqcmleft", selectedItem.val());
            route = route.replace("_id",document.getElementById("idformation").innerHTML);
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        function showqcm(div,id){
            var popup = document.getElementById(div);
            document.getElementById("idformation").innerHTML = id;

            popup.style.display = 'block';
            $("#rightValues > option").each(function(){
                $("#leftValues").append(this);
            });


            var route = '{{path('formation_qcm',{'id':"_id" })}}';
            route = route.replace("_id", id);

            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',

                success: function(data) {


                    var formation = JSON.parse(data.adresses);
                    for (var i = 0; i < formation.length; i++)
                    {
                        var selectedItem = $('#leftValues option[value="'+formation[i].id+'"]');
                        $("#rightValues").append(selectedItem);


                    }
                }
            });


        }

        $("#btnLeftaff").click(function () {
            var selectedItem = $("#rightValuesAff option:selected");
            $("#leftValuesAff").append(selectedItem);


            var route = '{{path('remove_etablissement_qcm',{'idetablissement':etablissement.getId,'idqcmaff':"_idqcmrightaff"})}}';
            route = route.replace("_idqcmrightaff", selectedItem.val());
            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        $("#btnRightaff").click(function () {
            var selectedItem = $("#leftValuesAff option:selected");
            $("#rightValuesAff").append(selectedItem);



            var route = '{{path('add_etablissement_qcm',{'idetablissement':etablissement.getId,'idqcmaff':"_idqcmleftaff"})}}';
            route = route.replace("_idqcmleftaff", selectedItem.val());

            $.ajax({
                type: 'get',
                url: route,
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                }
            });

        });

        function hideAjouterForm(champs) {
            champs.parentNode.style.display = 'none';
            document.getElementById("pdf").src = '{{ asset('image/upload-arrow.png') }}';
        }

        function supprimerligne(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);
        };

        function supprimerPartenariat(route, champs) {
            $.ajax({
                type: 'get',
                url: route,
                error: function (response) {
                    console.log(response);
                },
                success: function(data){console.log(data);}
            });
            champs.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode);


            window.location.reload();


        };

        var ResponsableCount = 1;
        function dupliquerResponsable() {
            var dup = document.getElementById("div_responsable");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#Responsable" + ResponsableCount);
            toggle.innerHTML="Responsable " + ResponsableCount;

            var div = clone.children[2];
            div.setAttribute("id","Responsable" + ResponsableCount);
            clone.style.display = 'block';

            document.getElementById("responsablecontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            ResponsableCount++;
        };

        var RecomCount = 1;
        function dupliquerRecommandation() {
            var dup = document.getElementById("div_recommandation");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#Recommandation" + RecomCount);
            toggle.innerHTML="Recommandation " + RecomCount;

            var div = clone.children[2];
            div.setAttribute("id","Recommandation" + RecomCount);
            clone.style.display = 'block';

            document.getElementById("recommandationcontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            RecomCount++;
        };

        var DiplomeCount = 1;
        function dupliquerDiplome() {
            var dup = document.getElementById("div_diplome");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#diplome" + DiplomeCount);
            toggle.innerHTML="diplome " + DiplomeCount;

            var div = clone.children[2];
            div.setAttribute("id","Diplome" + DiplomeCount);
            clone.style.display = 'block';

            document.getElementById("diplomecontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            DiplomeCount++;
        };

        var LangueCount = 1;
        function dupliquerLangue() {
            var dup = document.getElementById("div_langue");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#langue" + LangueCount);
            toggle.innerHTML="langue " + LangueCount;

            var div = clone.children[2];
            div.setAttribute("id","Langue" + LangueCount);
            clone.style.display = 'block';

            document.getElementById("languecontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            LangueCount++;
        };

        var DocumentCount = 1;
        function dupliquerDocument() {
            var dup = document.getElementById("div_document");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#document" + DocumentCount);
            toggle.innerHTML="document " + DocumentCount;

            var div = clone.children[2];
            div.setAttribute("id","Document" + DocumentCount);
            clone.style.display = 'block';

            document.getElementById("documentcontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            DocumentCount++;
        };

        var ExpCount = 1;
        function dupliquerExperience() {
            var dup = document.getElementById("div_experience");
            var clone = dup.cloneNode(true);
            var toggle = clone.children[0];
            toggle.setAttribute("data-target","#experience" + ExpCount);
            toggle.innerHTML="experience " + ExpCount;

            var div = clone.children[2];
            div.setAttribute("id","Experience" + ExpCount);
            clone.style.display = 'block';

            document.getElementById("experiencecontainer").appendChild(clone);
            var parentdiv = dup.parentNode;
            var close =dup.parentNode.parentNode;
            if(parentdiv.offsetHeight  > close.offsetHeight )
            {
                close.style.height = parentdiv.offsetHeight;
                clone.children[0].style.height = parentdiv.offsetHeight;
            }

            ExpCount++;
        };

        function supprimerResponsable(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function supprimerLangue(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function supprimerRecommandation(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function supprimerDiplome(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function supprimerDocument(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function supprimerExperience(div){
            div.parentNode.parentNode.removeChild(div.parentNode);
        }

        function envoyer(){

            var address = document.getElementById('Adresse').value +' ' +document.getElementById('Ville').value
                    + ' ' + document.getElementById('CodeP').value  ;
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    document.getElementById('Geocode').value = results[0].geometry.location ;
                    document.getElementById('formSubmit').click();///////////////
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
{% endblock %}
</body>
</html>

