<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body>

<div class="container" style="padding: 0;">
{% set siretsexistant =[14725836954949] %}
    <div class="col-xs-6" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">
        <div class="col-xs-12" style="margin-bottom: 50px;text-align:left;margin-left: 30px;">
            <img style=" width:100px; height:100px;background:white;" alt="Logo" src="data:image/jpg;base64,{{ etablissements[0].getTier.getLogo }}">
            <img style=" width:100px; height:100px;background:white;" alt="Logo" src="data:image/jpg;base64,{{ etablissements[0].getTier.getFondecran }}">
            <br/>
            <label class="list-group-item info"  >SIREN : <label style="color:black" > {{etablissements[0].getTier.getSIREN}}</label></label>
            <label  class="list-group-item info">Raison Sociale : <label style="color:black" > {{etablissements[0].getTier.getRaisonSoc}}</label></label>
            <br/>
            <label>Etablissements excistant</label>
            {% for etablissement in etablissements %}
                {% set siretsexistant = siretsexistant|merge([etablissement.getSiret] ) %}
                <label class="list-group-item info">Adresse :<label style="color:black" > {{etablissement.getSiret}}</label></label>
                <label class="list-group-item info">Adresse :<label style="color:black" > {{etablissement.getAdresse}}</label></label>

                <label class="list-group-item info" >Code Postal : <label style="color:black" >{{etablissement.getCodepostal}}</label></label>
                <label  class="list-group-item info">Ville : <label style="color:black" >{{etablissement.getVille}}</label></label>
                <label  class="list-group-item info">Téléphone :<label style="color:black" > {{etablissement.getTelephone}}</label></label>

                <label  class="list-group-item info">FAX : <label style="color:black" >{{etablissement.getFax}}</label></label>
                <label  class="list-group-item info">Responsable école :<label style="color:black" > {{etablissement.getResponsable}}</label></label>
                <label  class="list-group-item info">Téléphone responsable établissement :<label style="color:black" > {{etablissement.getTelResponsable}}</label></label>

                <label  class="list-group-item info">Email responsable établissement :<label style="color:black" > {{etablissement.getMailResponsable}}</label></label>
                <label  class="list-group-item info">Site web : <label style="color:black" >{{etablissement.getSite}}</label></label>
                <br/>

            {% endfor %}
        </div>

    </div>
    <div class="col-xs-6" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">
        <div class="col-xs-12" style="margin-bottom: 50px;text-align:left;margin-left: 30px;">

            <label>Etablissements que vous essayez d'ajouter</label>
            {% for key in sirets|keys  %}
            {% if sirets[key] in siretsexistant %}
            <div style="background-color: red">
                {% else %}
                <div style="background-color: green">
                    {% endif %}
                <label class="info">Siret :<label style="color:black" > {{sirets[key]}}</label></label>
                    <label class="info">Adresse :<label style="color:black" > {{adresses[key]}}</label></label>

                    <label class=" info" >Code Postal : <label style="color:black" >{{codeps[key]}}</label></label>
                    <label  class="info">Ville : <label style="color:black" >{{villes[key]}}</label></label>
                    <label  class="info">Téléphone :<label style="color:black" > {{tels[key]}}</label></label>

                    <label  class="info">FAX : <label style="color:black" >{{faxs[key]}}</label></label>
                    <label  class="info">Responsable école :<label style="color:black" > {{resps[key]}}</label></label>
                    <label  class="info">Téléphone responsable établissement :<label style="color:black" > {{telresps[key]}}</label></label>

                    <label  class="info">Email responsable établissement :<label style="color:black" > {{mailresps[key]}}</label></label>
                    <label  class="info">Site web : <label style="color:black" >{{sites[key]}}</label></label>
                </div>
                <br/>
                </div>
            {% endfor %}
            <div style="align: center;" >
                <button  style="border: 0;font-size: 18px;font-family: Roboto;color: white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="" >
                    <div>Confirmer</div>
                </button>
                <button  style="border: 0;font-size: 18px;font-family: Roboto;color: white;background-color: rgb(61, 138, 212);height: 40px; width: 150px;"  onclick="" >
                    <div>Annuler</div>
                </button>
            </div>
        </div>

    </div>
    {% block JS %}
    {% endblock %}
</div>
</body>
</html>