<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('image/Logo_Hub_3e.png') }}" />
        <title>{% block title %}{% endblock %} - Mon site</title>
    </head>
    <body>
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
