<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Apprenant.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onload="loading()" >

<div class="container" style="padding: 0;">
    {% block Content %}
        {% if User.hasRole('ROLE_APPRENANT') %}
            <div id="Hobby" style="display: none;" >
                <input type="hidden" id="inputHobbie" >

                <label class="champ form-control" style="width: 150px;" for="hobbie"></label>

                <img   onclick="supprimerHobbie(this.parentNode)" src="{{ asset('image/imgSupprimer.png') }}"/><br>


            </div>

            <div id="DivNewLangue" style="display: none;" >
                <input type="hidden" id="inputLangue" >
                <input type="hidden" id="inputNiveau" >
                <label class="champ form-control" style="width: 150px;" for="langue"></label>
                <label class="champ form-control"  for="Niveau"></label>
                <img   onclick="supprimerLangue(this.parentNode)" src="{{ asset('image/imgSupprimer.png') }}"/><br>


            </div>


            <div id="addparent" class="popup" >
                <div onclick="hide(this)" class="close" ></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display: block ;margin-top: 20px ">
                    <form id="formaddparent" class="formulaire" action="{{ path("parent_added") }}" onsubmit="document.getElementById('submitaddparent').disabled=true" method="post" enctype="multipart/form-data" method="post" >
                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal">Ajouter responsable</Label>
                        <div class="div_form" style="">

                            <div class="col-xs-10 input-colonne">
                                <label id="startTimeLabel" visible="false"></label>
                            </div>

                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Nom" class="input" type="text" id="Nomparent" name="_Nomparent" maxlength="45" required >
                                <select class="input "  title="" name="_Civiliteparent">
                                    <option value="Monsieur">Mr.</option>
                                    <option value="Madame">Mme.</option>
                                </select>

                            </div>
                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Prenom" class="input" type="text" id="Prenomparent" name="_Prenomparent" maxlength="45" required >
                                <input placeholder="Metier" class="input" type="text" id="Metierparent" name="_Metierparent" maxlength="45" required >


                            </div>

                            <div class="col-xs-6 input-colonne">
                                <input placeholder="Adresse postale" class="input" type="text" id="Adresseparent" name="_Adresseparent" maxlength="45" required >
                                <input placeholder="Adresse email" class="input" type="text" id="Emailparent" name="_Emailparent" maxlength="45" required >

                            </div>

                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Profession" class="input" type="text" id="Professionparent" name="_Professionparent" maxlength="45" required >
                            </div>

                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Téléphone " class="input" type="text" id="Telephoneparent" name="_Telephoneparent" maxlength="45" required >
                            </div>
                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Ville" class="input" type="text" id="Villeparent" name="_Villeparent" maxlength="45" required >
                            </div>

                            <div class="col-xs-3 input-colonne">
                                <input placeholder="Code postale" class="input" type="text" id="CodePostaleparent" name="_CodePostaleparent" maxlength="45" required >
                            </div>


                        </div>


                        <div class="div_button" style="background-color: white">

                            <input class="blue" onclick="showFermer()" style="float: left" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddparent" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>



                    </form>

                </div>
            </div>

            <div id="addExperience" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display:block;margin-top: 20px">
                    <form id="formaddExperience" class="formulaire" action="{{ path("experience_added") }}" onsubmit="document.getElementById('submitaddExperience').disabled=true"  method="post" enctype="multipart/form-data">
                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal">Expérience de l'apprenant</Label>
                        <div class="div_form" style="">
                            <div class="col-xs-10 input-colonne">
                                <label id="startTimeLabel" visible="false"></label>
                            </div>
                            <div class="col-xs-6 input-colonne">
                                <div class="col-xs-6 input-colonne">
                                    <input placeholder="Nom Société" class="input" type="text" id="Nomsociete" name="_Nomsociete" maxlength="45" required >
                                    <input placeholder="Activité" class="input" type="text" id="Activite" name="_Activite" maxlength="45" required >

                                </div>
                                <div class="col-xs-6 input-colonne" style="border-right: 0">
                                    <input placeholder="Lieu" class="input" type="text" id="Lieu" name="_Lieu" maxlength="45" required >
                                    <input placeholder="Poste" class="input"  type="text" id="Poste" name="_Poste" maxlength="45" required >
                                </div>
                                <input placeholder="Nombre d'années" class="input" type="number" id="Nbreannee" name="_Nbreannee" maxlength="11" required >
                            </div>


                            <div class="col-xs-6 input-colonne " style="height:150px">
                                <textarea placeholder="Description" class="input" type="text" id="Descriptionexp" name="_Descriptionexp"  required style="resize:none;height:calc( 100% - 13px)"></textarea>

                            </div>

                        </div>
                        <div class="div_button" style="background-color: white">

                            <input class="blue" onclick="showFermer()" style="float: left" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddExperience" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>

                    </form>
                </div>
            </div>

            <div id="addRecommandation" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display:block;margin-top: 20px">
                    <form id="formaddRecommandation" class="formulaire" action="{{ path("recommandation_added") }}" onsubmit="document.getElementById('submitaddRecommandation').disabled=true" method="post" enctype="multipart/form-data">

                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal">Recommandation</Label>
                        <div class="div_form" style="">

                            <div class="col-xs-6 input-colonne">
                                <div class="col-xs-6 input-colonne">
                                    <input placeholder="Nom" class="input" type="text" id="Nom" name="_Nomrec" maxlength="45" required >
                                    <input placeholder="Fonction" class="input" type="text" id="Fonctionrec" name="_Fonctionrec" maxlength="45" required >

                                </div>
                                <div class="col-xs-6 input-colonne" style="border-right: 0">
                                    <input placeholder="Prenom" class="input" type="text" id="Prenom" name="_Prenomrec" maxlength="45" required >
                                    <input placeholder="Téléphone fixe" class="input"  type="text" id="Telephonerec" name="_Telephonerec" maxlength="45" required >
                                </div>
                                <input placeholder="Adresse email" class="input" type="text" id="Emailrec" name="_Emailrec" maxlength="45" required >
                            </div>


                            <div class="col-xs-6 input-colonne " style="height:150px">
                                <textarea placeholder="Recommandation écrite" class="input" type="text" id="Text" name="_Text"  required style="resize:none;height:calc( 100% - 13px)"></textarea>
                            </div>
                        </div>

                        <div class="div_button" style="background-color: white">

                            <input class="blue"  style="float: left" onclick="showFermer()" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddRecommandation" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>


                    </form>
                </div>
            </div>

            <div id="addDiplome" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display:block;margin-top: 20px">
                    <form id="formaddDiplome" class="formulaire" action="{{ path("diplome_added") }}" onsubmit="document.getElementById('submitaddDiplome').disabled=true" method="post" enctype="multipart/form-data">

                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal">Diplome</Label>
                        <div class="div_form" style="">


                            <div class="col-xs-12 input-colonne">
                                <input placeholder="Libelle" class="input" type="text" id="Libelle" name="_Libelle" maxlength="45" required >

                            </div>

                            <div class="col-xs-12 input-colonne" >
                                <input placeholder="Obtention" class="input" type="text" id="Obtention" name="_Obtention" maxlength="45" required >
                            </div>

                            <div class="col-xs-12 input-colonne" >

                                <input placeholder="école" class="input"  type="text" id="Ecole" name="_Ecole" maxlength="45" required >
                            </div>

                        </div>

                        <div class="div_button" style="background-color: white">

                            <input class="blue" onclick="showFermer()"  style="float: left" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddDiplome" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>


                    </form>
                </div>
            </div>

            <div id="addDocument" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display:block;margin-top: 20px">
                    <form id="formaddDocument" class="formulaire" action="{{ path("Document_added") }}" onsubmit="document.getElementById('submitaddDocument').disabled=true" method="post" enctype="multipart/form-data">

                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal">Document</Label>
                        <div class="div_form" style="">


                            <div class="col-xs-12 input-colonne">

                                <select class="input "  title=""  name="_Type">
                                    <option value="lettre de motivation" >lettre de motivation</option>
                                    <option value="cv" >Cv</option>
                                    <option value="Autre" >Autre</option>
                                </select>
                            </div>
                            <input type="file" class="input" id="document" name="_Document" required>

                        </div>

                        <div class="div_button" style="background-color: white">

                            <input class="blue" onclick="showFermer()" style="float: left" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddDocument" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>


                    </form>
                </div>
            </div>

            <div id="addFormation" class="popup">
                <div onclick="hide(this)" class="close"></div>
                <div class="col-xs-offset-1 col-xs-7" style="padding:0; border:20px solid white;display:block;margin-top: 20px">
                    <form id="formaddFormation" class="formulaire" action="{{ path("Candidature_added") }}" onsubmit="document.getElementById('submitaddFormation').disabled=true" method="post" >

                        <input type="hidden" id="id" name="_idUser" value="{{ User.getId }}">

                        <Label   style="background-color: #2975cb;color:white;width:300px;height:40px;font:20px arial normal;"> Formation </Label>
                        <div class="div_form" style="">


                            <div class="col-xs-12 input-colonne " >
                                <select class="input" title="" style="height: 100px" name="formations[]" multiple>
                                    {% for formation in formations %}
                                        <option value="{{ formation.getId }}">{{ formation.getNom }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="div_button" style="background-color: white">

                            <input class="blue" onclick="showFermer()" style="float: left" name="submitApprenant" type="button" value="Annuler">
                            <input class="blue" id="submitaddFormation" type="submit" style="margin-left: 550px"  value="Enregistrer" >

                        </div>


                    </form>
                </div>
            </div>
        {% endif %}
        <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">

            <div class="col-xs-9" style="background: rgb(238, 241, 246); height: 100%;">
                <!-- **********************************tache des apprenants************************** -->
                <div class="col-xs-12" style="height: 46px;">
                    <div style="height: 35px; width: 100%; padding: 15px 0 0 15px;">

                        {% if User.hasRole('ROLE_APPRENANT') %}
                            <select title="" id="select_info"  style="color:white;">
                                <option value="info_user" style="color:black;">Données Utilisateur</option>
                                <option value="info_Apprenant" style="color:black;">Details de l'Apprenant</option>
                                <option value="info_candidature" style="color:black;">Formation de l'Apprenant </option>
                                <option value="info_parents" style="color:black;">Responsables </option>
                                <option value="info_Exp" style="color:black;">Expériences </option>
                                <option value="info_recom" style="color:black;">Recommandations </option>
                                <option value="info_diplome" style="color:black;">Diplomes </option>
                                <option value="info_doc" style="color:black;">Documents </option>
                                <option value="QCM_Affinite" style="color:black;">QCM Affinite </option>
                                <option value="QCM_Test" style="color:black;">QCM Test </option>
                            </select>

                        {% else  %}
                            <Label value="info_user" style="font:20px arial;width: 100%; height: 40px;line-height: 40px;border-radius: 0; background: #1C5AA5; border: 0; color: white;text-align:left;">Données Utilisateur</Label>
                        {% endif %}
                    </div>
                </div>

                <div class="col-xs-12" style="margin-bottom: 50px">
                    <form class="formulaire" id="formUser" action="{{ path('userModif') }}" method="post" enctype="multipart/form-data">
                        <div id="info_user" class="list-group affichage">
                            <input type="hidden" value="{{ User.getId }}" id="id" name="_ID">

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="civilite">Civilité :</label>

                                <select   class="List-invisible" width="50px" title="" id="civilite"  name="_Civilite" disabled>
                                    {% if User.getCivilite == 'Mr' %}
                                        <option selected="selected" value="Mr">Mr.</option>
                                    {% else %}
                                        <option value="Mr">Mr.</option>
                                    {% endif %}

                                    {% if User.getCivilite == 'Mme' %}
                                        <option selected="selected" value="Mme">Mme.</option>
                                    {% else %}
                                        <option value="Mme">Mme.</option>
                                    {% endif %}

                                    {% if User.getCivilite == 'Mlle' %}
                                        <option selected="selected" value="Mlle">Mlle.</option>
                                    {% else %}
                                        <option value="Mlle">Mlle.</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Nom">Nom :</label>
                                <input value="{{User.getNom}}" type="text" class="champ form-control" id="Nom" name="_Nom" maxlength="45" readonly>
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Prenom">Prénom :</label>
                                <input value="{{User.getPrenom}}" type="text" class="champ form-control" id="Prenom" name="_Prenom" maxlength="45" readonly>
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 40px;" for="Photos">Photo : <img id="Photosimg" alt="Photos" style="height:40px" src="data:image/jpg;base64,{{ User.getPhotos }}"/> </label>
                                <input onchange="readURL(this,'Photosimg');" accept="image/*" type="file" class="champ form-control" id="Photos" name="_Photos" style="display: none !important;">

                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Tel">Téléphone :</label>
                                <input value="{{User.getTelephone}}" type="text" class="champ form-control"id="Telephone" name="_Tel" maxlength="45" readonly>
                            </div>


                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="UserName">UserName :</label>
                                <input value="{{User.getUserName}}" type="text" class="champ form-control" id="UserName" name="_Username" maxlength="255" readonly>
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" for="Mail">E-mail :</label>
                                <input value="{{User.getEmail}}" type="text" class="champ form-control" id="Mail" name="_Mail" maxlength="255" readonly>
                            </div>

                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" >Dernière connexion :</label><label style="color:black" >{{User.getLastLogin|date('d/m/Y')}}</label>

                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;" >Expiré le : </label>
                                <label style="color:black" >

                                    {% if User.getExpiredAt is null %}
                                        &nbsp;
                                    {% else %}
                                        {{ User.getExpiredAt|date('d/m/Y H:i') }}
                                    {% endif %}


                                </label>


                            </div>
                            <div class="inputcontainer">
                                <label class="list-group-item" style="height: 60px;">Roles :
                                    {% for role in User.getRoles %}
                                        <label style="color:black">{{role}}, </label>
                                    {% endfor %}
                                </label>


                            </div>
                            <div class="inputcontainer">
                                {% if User.getEtablissement %}
                                    {% if User.getEtablissement.getTier.getEcole == 0 %}
                                        <label class="list-group-item info" >Société  : <label style="color:black" >{{User.getEtablissement.getTier.getRaisonSoc}}</label></label>

                                    {% elseif User.getEtablissement.getTier.getEcole == 1 %}
                                        <label class="list-group-item info" >Ecole  : <label style="color:black" >{{User.getEtablissement.getTier.getRaisonSoc}}</label></label>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <input id="formUserSubmit" type="submit" style="display: none;">
                        </div>
                        {% if User.hasRole('ROLE_APPRENANT') %}
                            <div id="info_Apprenant" class="col-xs-12 Liste" style="display:none;">
                                {% if User.GetInfo  %}
                                    <input type="hidden" value="{{ User.GetInfo.getId }}" id="id" name="_IdInfo">
                                    <div class="inputcontainer">
                                        <label class="list-group-item" style="height: 60px;" for="Datenaissance">Date naissance :</label>

                                        <input value="{{User.getInfo.getDatenaissance|date('Y-m-d') }}" type="date" class="champ form-control" id="Datenaissance" name="_Datenaissance" maxlength="45" readonly>

                                        <label class="list-group-item" style="height: 60px;" for="Cpnaissance">Cp naissance  :</label>
                                        <input value="{{User.getInfo.getCpnaissance}}" type="text" class="champ form-control" id="Cpnaissance" name="_Cpnaissance" maxlength="45" readonly>

                                    </div>

                                    <div class="inputcontainer">
                                        <label class="list-group-item" style="height: 60px;" for="Lieunaissance">Lieu naissance:</label>
                                        <input value="{{User.getInfo.getLieunaissance}}" type="text" class="champ form-control" id="Lieunaissance" name="_Lieunaissance" maxlength="45" readonly>
                                        <label class="list-group-item" style="height: 60px;" for="Adresse">Adresse       : </label>
                                        <input value="{{User.getInfo.getAdresse}}" type="text" class="champ form-control" id="Adresse" name="_Adresse" maxlength="45" readonly>

                                    </div>

                                    <div class="inputcontainer">
                                        <label class="list-group-item" style="height: 60px;" for="Datenaissance">Facebook      :</label>
                                        <input value="{{User.getInfo.getFacebook}}" type="text" class="champ form-control" id="Facebook" name="_Facebook" maxlength="45" readonly>
                                        <label class="list-group-item" style="height: 60px;" for="Cpnaissance">Linkedin      : </label>
                                        <input value="{{User.getInfo.getLinkedin}}" type="text" class="champ form-control" id="Linkedin" name="_Linkedin" maxlength="45" readonly>

                                    </div>

                                    <div class="inputcontainer">
                                        <label class="list-group-item" style="height: 60px;" for="Mobilite">Mobilite      :</label>
                                        <input value="{{User.getInfo.getMobilite}}" type="text" class="champ form-control" id="Mobilite" name="_Mobilite" maxlength="45" readonly>
                                        <label class="list-group-item" style="height: 60px;" for="Fratrie">Fratrie       : </label>
                                        <input value="{{User.getInfo.getFratrie}}" type="text" class="champ form-control" id="Fratrie" name="_Fratrie" maxlength="45" readonly>

                                    </div>

                                    <div class="inputcontainer">

                                        <label class="list-group-item" style="height: 60px;" for="Datenaissance">Hobbies :</label>

                                        {% set i = 0 %}
                                        {% for hobby in User.getHobbies %}
                                            <div id="hobbie{{ i }}" >
                                                <input type="hidden" name="hobbie[{{ i }}]" value="{{ hobby.getId }}" style="margin:10px 5px 10px 0" id="inputHobbie" >
                                                <label class="champ form-control" style="width: 150px;" for="hobbie">{{hobby.getHobbie}}</label>

                                                <img name="modification" style="display: none" onclick="supprimerHobbie(this.parentNode)" src="{{ asset('image/imgSupprimer.png') }}"/><br>


                                            </div>

                                            {% set i= i +1 %}
                                        {% endfor %}





                                    </div>

                                    <div class="inputcontainer" >
                                        <div id="ajout_hobbie" style="display: none;">
                                            {% if Hobbies is defined %}
                                                <select style=" width:150px;height: 40px" id="Newhobbie"  name="_Hobbie">
                                                    <option value="">--?-- </option>
                                                    {% for hobbie in Hobbies %}
                                                        <option value="{{ hobbie.getId }}">{{ hobbie.getHobbie }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                            <img  OnClick="ajouterHobbie(this.previousElementSibling)"  src="{{ asset('image/add_x30.png') }}"/><br>
                                        </div>
                                    </div>

                                    <div class="inputcontainer">
                                        <label class="list-group-item" style="height: 60px;" >Langues :</label><br>
                                        {% if Langue is defined %}
                                            {% set i = 0 %}
                                            {% for lang in User.getLangue %}
                                                <div id="langue{{ i }}" >
                                                    <input type="hidden" name="langue[{{ i }}]" value="{{ lang.getId }}" style="margin:10px 5px 10px 0" id="inputLangue" >
                                                    <label class="champ form-control" style="width: 150px;" for="langue">{{lang.getLangue}}</label>
                                                    <label class="champ form-control"  for="Niveau">{{lang.getNiveau}}</label>
                                                    <img name="modification"  style="display: none" onclick="supprimerLangue(this.parentNode)" src="{{ asset('image/imgSupprimer.png') }}"/><br>
                                                </div>
                                                {% set i= i +1 %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="inputcontainer" >
                                        <div id="ajout_langue" style="display: none;">
                                            <select style=" width:150px;height: 40px" id="NewLangue"  name="_Langue">
                                                <option value="">--?-- </option>
                                                <option value="Francais">Francais </option>
                                                <option value="Anglais">Anglais </option>
                                                <option value="Espagnol">Espagnol </option>
                                                <option value="Arabe">Arabe </option>
                                                <option value="Allemand">Allemand </option>

                                            </select>
                                            <select  style="height: 40px;width:250px;"  id="NewNiveau"  name="_Niveau">
                                                <option value="">--?-- </option>
                                                <option value="connaissance de base">connaissance de base </option>
                                                <option value="bonne connaissance">bonne connaissance</option>
                                                <option value="courant">courant </option>
                                                <option value="langue maternelle">langue maternelle </option>

                                            </select>
                                            <img onclick="ajouterLangue(this.previousElementSibling.previousElementSibling)"  src="{{ asset('image/add_x30.png') }}"/><br>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </form>
                    {% if User.hasRole('ROLE_APPRENANT') %}
                        <div id="info_parents" class="list-group affichage" style="display:none">

                            {% if Parents is defined %}
                                {% for parent in Parents %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Nom : <label>{{ parent.getNom }}</label></label>
                                            <label class="cell">Prénom : <label>{{parent.getPrenom }}</label>

                                                <img name="modification" style="display:none;float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerParent('{{ path('supprimer_Parent',{'id': parent.getId }) }}',this)" />
                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#parent{{ iddiv }}"></button></label>
                                        </div>
                                        <div id="parent{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Telephone : <label>{{ parent.getTelephone }}</label></label>
                                                <label class="cell">Adresse  : <label>{{ parent.getAdresse }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Email : <label>{{ parent.getEmail}}</label></label>
                                                {% if parent.getNomjeunefille  %}
                                                    <label class="cell">Nom jeune fille  : <label>{{ parent.getNomjeunefille }}</label></label>
                                                {% endif %}
                                            </div>

                                        </div>

                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div name="modification" style="display: none;">
                                <button type="button" class="col-xs-12 blue" style="margin-top:40px;"  onclick="show('addparent')">Ajouter un parent</button>
                            </div>

                        </div>

                        <div id="info_Exp" class="list-group affichage" style="display:none">
                            {% if Experience is defined %}
                                {% for Exp in Experience %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Nom societe : <label>{{ Exp.getNomsociete }}</label></label>
                                            <label class="cell">Activite : <label>{{Exp.getActivite }}</label>
                                                <img name="modification" style="display:none;;float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerExperience('{{ path('supprimer_Experience',{'id':Exp.getId}) }}',this)" />

                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#exper{{ iddiv }}"></button></label>

                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#exp{{ iddiv }}"></button></label>


                                        </div>
                                        <div id="exper{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Lieu  : <label>{{ Exp.getLieu }}</label></label>
                                                <label class="cell">Poste  : <label>{{ Exp.getPoste }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Nbreannee : <label>{{ Exp.getNbreannee}}</label></label>
                                                <label class="cell">Description : <label>{{ Exp.getDescription }}</label></label>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div name="modification" style="display: none;">
                                <button type="button" class="col-xs-12 blue" style="margin-top: 40px" onclick="show('addExperience')" >Ajouter une Expérience</button>
                            </div>

                        </div>
                        <div id="info_recom" class="list-group affichage" style="display:none">
                            {% if Recommandation is defined %}
                                {% for Recom in Recommandation %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Text  : <label>{{ Recom.getText }}</label></label>
                                            <label class="cell">Nom : <label>{{Recom.getNom }}</label>
                                                <img name="modification" style="display:none;float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerRecommandation('{{ path('supprimer_Recommandation',{'id':Recom.getId}) }}',this)" />
                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#recommandation{{ iddiv }}"></button></label>

                                        </div>
                                        <div id="recommandation{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Fonction  : <label>{{ Recom.getFonction }}</label></label>
                                                <label class="cell">Email  : <label>{{ Recom.getEmail }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Téléphone : <label>{{ Recom.getTelephone}}</label></label>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div name="modification" style="display: none;">
                                <button type="button" class="col-xs-12 blue" style="margin-top: 40px" onclick="show('addRecommandation')">Ajouter une Recommandation</button>
                            </div>

                        </div>
                        <div id="info_diplome" class="list-group affichage" style="display:none">
                            {% if Diplome is defined %}
                                {% for Dip in Diplome %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Text  : <label>{{ Dip.getLibelle }}</label></label>
                                            <label class="cell">Obtention : <label>{{Dip.getObtention }}</label>
                                                <img name="modification" style="display:none;float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerDiplome('{{ path('supprimer_Diplome',{'id':Dip.getId}) }}',this)" />
                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#diplome{{ iddiv }}"></button></label>

                                        </div>
                                        <div id="diplome{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Ecole  : <label>{{ Dip.getEcole}}</label></label>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div name="modification" style="display: none;">
                                <button type="button" class="col-xs-12 blue" style="margin-top:40px" onclick="show('addDiplome')">Ajouter un Diplome</button>
                            </div>
                        </div>
                        <div id="info_doc" class="list-group affichage" style="display:none">
                            {% if Document is defined %}
                                {% for Doc in Document %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Type   : <label>{{ Doc.getType }}</label></label>
                                            <label class="cell">Extention : <label>{{Doc.getExtension }}</label>
                                                <img name="modification" style="display:none;float:right" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerDocument('{{ path('supprimer_Document',{'id':Doc.getId}) }}',this)" />
                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#doc{{ iddiv }}"></button></label>

                                        </div>
                                        <div id="doc{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Taille  : <label>{{ Doc.getTaille}}</label></label>


                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div name="modification" style="display: none;">
                                <button type="button" class="col-xs-12 blue" style="margin-top:40px" onclick="show('addDocument')">Ajouter un Diplome</button>
                            </div>
                        </div>
                        <div id="info_candidature" class="list-group affichage" style="display:none">
                            {% if candidatures is defined %}
                                {% for candidature in candidatures %}
                                    {% set iddiv = random()  %}
                                    <div class="col-xs-12 Liste">
                                        <div class="row">
                                            <label class="cell">Id : <label>{{ candidature.id }}</label></label>

                                            <label class="cell"  >Statut : <label id="lblStatut" name="lblStatut">
                                                    {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_TUTEUR') %}
                                                        {% if candidature.statut == 1 %}
                                                            En attente compléments
                                                        {% elseif candidature.statut == 2 %}
                                                            En attente validation
                                                        {% elseif candidature.statut == 3 %}
                                                            Validé
                                                        {% elseif candidature.statut == 99 %}
                                                            Refusé
                                                        {% endif %}
                                                    {% elseif is_granted('ROLE_APPRENANT') %}
                                                        {% if candidature.statut == 1 %}
                                                            A compléter
                                                        {% elseif candidature.statut == 2 %}
                                                            En attente école
                                                        {% elseif candidature.statut == 3 %}
                                                            Admis
                                                        {% elseif candidature.statut == 99 %}
                                                            Ajourné
                                                        {% endif %}
                                                    {% endif %}
                                                </label>

                                                {% if is_granted('ROLE_RECRUTEUR') or is_granted('ROLE_TUTEUR') %}

                                                    {% if candidature.statut == 1 or candidature.statut == 2 %}

                                                        <img name="modification" style="width:25px;display: none"  alt="Refusé"  title="Refusé" onclick="modifierStatut(this,99,'{{ candidature.id }}')" src="{{ asset('image/stop_x18.png') }}">
                                                        <img name="modification"style="display:none" alt="Validé" title="Validé"  onclick="modifierStatut(this,3,'{{ candidature.id }}')" src="{{ asset('image/imgValide.png') }}">

                                                    {% endif %}

                                                {% endif %}


                                                <img name="modification"   style="float:right;display:none" alt="" src="{{ asset('image/imgSupprimer.png') }}" onclick="supprimerFormation('{{ path('supprimer_Candidature',{'id':candidature.getId}) }}',this)" />

                                                <button class="button" style="float: right;" type="button" data-toggle="collapse" data-target="#cand{{ iddiv }}"></button></label>
                                        </div>
                                        <div id="cand{{ iddiv }}" class="collapse in" >
                                            <div class="row">
                                                <label class="cell">Ecole  : <label>{{ candidature.formation.etablissement.tier.raisonsoc }}</label></label>
                                                <label class="cell">Adresse : <label>{{ candidature.formation.etablissement.adresse }}</label></label>
                                            </div>
                                            <div class="row">
                                                <label class="cell">Formation : <label>{{ candidature.formation.nom }}</label></label>
                                                <label class="cell">Date : <label>{{ candidature.datecandidature|date('d/m/Y') }}</label></label>
                                            </div>

                                        </div>

                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div name="modification" style="display: none;">
                                <button  type="button" class="col-xs-12 blue" style="margin-top:40px" onclick="show('addFormation')">Ajouter une Formation</button>
                            </div>
                        </div>
                        <div id="QCM_Affinite" class="list-group affichage" style="display:none">

                            <div class="col-xs-12">
                                <div class="list-group" style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">


                                    <form class="formulaire" id="formAffinite" action="{{ path('Add_QCM') }}" method="post">
                                        {% set i = 0 %}
                                        {% set reponsegroupe = 0 %}
                                        {% if QCMs is defined %}
                                            {% for QCM in QCMs %}
                                                <div class="inputcontainer" name="21456dddd">
                                                    <label class="list-group-item" style="height: 60px;" for="QCM">Nom du Questionnaire :</label>
                                                    <input type="text" class="champ " id="QCM" name="_Nom" value="{{ QCM.getNom }}" required maxlength="45" readonly><br>
                                                </div>
                                                {% set y = 0 %}
                                                {% for question in Questions[i] %}
                                                    <div class="inputcontainer" name="question">
                                                        <label class="list-group-item" style="height: 60px;" for="Question">Question :</label>
                                                        <input type="text" class="champ " id="Question" name="questions[]" value="{{question.getQuestion  }}" required maxlength="255" readonly>
                                                        {% for reponse in reponses[i][y] %}
                                                            <div>
                                                                {% if reponse in User.reponsedef %}
                                                                    <input type="radio" onclick="envoyerNouvelleReponse({{ reponse.getId }})" name="reponse[{{ reponse.questiondef.id }}]" value="{{ reponse.getId }}" checked disabled ><label style="font: 14px Roboto black; ">{{ reponse.getReponse }}</label>
                                                                {% else %}
                                                                    <input type="radio" onclick="envoyerNouvelleReponse({{ reponse.getId }})" name="reponse[{{ reponse.questiondef.id }}]" value="{{ reponse.getId }}" disabled ><label style="font: 14px Roboto black; ">{{ reponse.getReponse }}</label>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {% set y = y + 1 %}
                                                {% endfor %}
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        {% endif %}

                                    </form>
                                </div>
                            </div>

                        </div>
                        <div id="QCM_Test" class="list-group affichage" style="display:none">

                            <div class="col-xs-12">
                                <div class="list-group" style="background: #1B2024; margin: 30px 0 0 30px; padding: 0 0; border-left: 20px solid white; border-right: 20px solid white !important; text-align: left;">
                                    <form class="formulaire" id="formTest" action="{{ path('Add_QCM') }}" method="post">
                                        {% set i = 0 %}
                                        {% set reponsegroupe = 0 %}
                                        {% if QCMtest is defined %}
                                            {% for QCM in QCMtest %}

                                                <div class="inputcontainer" name="21456dddd">
                                                    <label class="list-group-item" style="height: 60px;" for="QCM">Nom du Questionnaire :</label>
                                                    <input type="text" class="champ " id="QCM" name="_Nom" value="{{ QCM.getNom }}" required maxlength="45" readonly><br>
                                                </div>
                                                {% set y = 0 %}

                                                {% for questionTest in QuestionsTest[i] %}
                                                    <div class="inputcontainer" name="question">
                                                        <label class="list-group-item" style="height: 60px;" for="Question">Question :</label>
                                                        <input type="text" class="champ " id="Question" name="questions[]" value="{{questionTest.getQuestion  }}" required maxlength="255" readonly>

                                                        {% for reponseTest in reponsesTest[i][y] %}
                                                            <div>
                                                                {% if reponseTest in User.reponsedef %}
                                                                    <input type="radio" onclick="envoyerNouvelleReponse({{ reponseTest.getId }})" name="reponse[{{ reponseTest.questiondef.id }}]" value="{{ reponseTest.getId }}" checked disabled ><label style="font: 14px Roboto black; ">{{ reponseTest.getReponse }}</label>
                                                                {% else %}
                                                                    <input type="radio" onclick="envoyerNouvelleReponse({{ reponseTest.getId }})" name="reponse[{{ reponseTest.questiondef.id }}]" value="{{ reponseTest.getId }}" disabled ><label style="font: 14px Roboto black; ">{{ reponseTest.getReponse }}</label>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                    {% set y = y + 1 %}
                                                {% endfor %}

                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        {% endif %}

                                    </form>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-3"
                 style="height: 100%;">
                <div class="list-group"
                     style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                    {% if not User.isExpired %}
                        <button onclick="expire('{{ path('expired',{'id':User.getId}) }}')" id="expired" type="button" class="list-group-item rightMenu" style="background-color: #94C400">
                            <div class="col-xs-12" style="display: inline-table;color: white;height: 46px;margin-top:10px;">Activer</div>
                        </button>
                    {% else %}
                        <button onclick="expire('{{ path('expired',{'id':User.getId}) }}')" id="expired" type="button" class="list-group-item rightMenu" style="background-color: red">
                            <div class="col-xs-12" style="display: inline-table;color: white;height: 46px;margin-top:10px;">Désactiver</div>
                        </button>
                    {% endif %}
                    <button onclick="modifier(this)" type="button" class="list-group-item rightMenu" >
                        <div class="col-xs-12"  >Modifier la fiche</div>

                    </button>

                    <button onclick="if(confirm('Voulez-vous Supprimer cette utilisateur ?')){post('{{ path('supprimerUtilisateur',{'id': User.getId }) }}',true)}" type="button" class="list-group-item rightMenu" >
                        <div class="col-xs-12" >Supprimer l'utilisateur</div>

                    </button>

                </div>
            </div>

        </div>
    {% endblock %}
</div>
<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script language="JavaScript">
    document.getElementById("select_info").onchange = function(){
        var x = document.getElementById("select_info").value;
        document.getElementById('info_user').style.display= 'none';
        document.getElementById('info_Apprenant').style.display= 'none';
        document.getElementById('info_parents').style.display= 'none';
        document.getElementById('info_Exp').style.display= 'none';
        document.getElementById('info_recom').style.display= 'none';
        document.getElementById('info_diplome').style.display= 'none';
        document.getElementById('info_doc').style.display= 'none';
        document.getElementById('info_candidature').style.display= 'none';
        document.getElementById('QCM_Affinite').style.display= 'none';
        document.getElementById('QCM_Test').style.display= 'none';


        document.getElementById(x).style.display='block';

        sessionStorage.setItem('onglet_tier',x);
    };
    function expire(route) {
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function (data) {
                if (data['succes'] == '0') {
                    document.getElementById("expired").style.backgroundColor = '#94C400';
                    document.getElementById("expired").firstElementChild.innerHTML = 'Activer';
                    window.parent.document.getElementById('active{{ User.getId }}').style.backgroundColor = '#94C400';
                }
                else {
                    document.getElementById("expired").style.backgroundColor = 'red';
                    document.getElementById("expired").firstElementChild.innerHTML = 'Désactiver';
                    window.parent.document.getElementById('active{{ User.getId }}').style.backgroundColor = 'red';
                }

            }
        });

    }
    function post(path,refresh) {
        if(refresh)
        {
            $.ajax({
                type: 'get',
                url: path,
                error: function () {
                    alert('Une erreur s\'est produite');
                },
                success: function () {
                    window.parent.location.reload();
                }
            });
        }
        else
        {
            window.location = path;
        }
    }
    function modifier(button){
        var formulaire =document.getElementById('formUser');
        for(var i=0; i< formulaire.getElementsByTagName("input").length ; i++)
        {
            formulaire.getElementsByTagName("input")[i].readOnly=false;
        }
        for(var i=0; i< formulaire.getElementsByTagName("select").length ; i++)
        {
            formulaire.getElementsByTagName("select")[i].className="champ form-control";
            formulaire.getElementsByTagName("select")[i].disabled=false;

        }
        {% if User.hasRole('ROLE_APPRENANT') %}
        $('input:radio').removeAttr('disabled');
        document.getElementById("ajout_langue").style.display="block";
        document.getElementById("ajout_hobbie").style.display="block";

        for( i = 0;i< document.getElementsByName('modification').length; i++)
        {
            document.getElementsByName('modification')[i].style.display = 'inline';
        }
        {% endif %}
        button.getElementsByTagName("div")[0].innerHTML="valider";
        button.setAttribute('onclick','document.getElementById(\'formUserSubmit\').click()');
    }
    function loading(){
        var onglet = sessionStorage.getItem('onglet_tier');
        if(onglet)
        {
            $('#select_info option[value="' + onglet + '"]').prop('selected', true).change();
        }
    }
    function readURL(input,baliseimg) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#'+ baliseimg)
                        .attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    };
    {% if User.hasRole('ROLE_APPRENANT') %}
    function modifierStatut(div,value,idcand){

        var route = '{{path('modifierStatut',{'id':"_idCandidature",'statut':"_value",'mail':"_mail",'formation':"_formation"})}}';
        route=route.replace('_idCandidature',idcand);
        route=route.replace('_value',value);

        $.ajax({
            type: 'get',
            url: route,
            success: function() {
                if(value === 3)
                {
                    div.parentNode.getElementsByTagName('label')[0].innerHTML = 'Validé';
                    for(var i = 0; i < div.parentNode.getElementsByTagName('img').length - 1;i++)
                    {
                        div.parentNode.getElementsByTagName('img')[i].style.display = 'none';
                    }
                }
                if(value === 99)
                {
                    div.parentNode.getElementsByTagName('label')[0].innerHTML = 'Refusé';
                    for(var i = 0; i < div.parentNode.getElementsByTagName('img').length - 1;i++)
                    {
                        div.parentNode.getElementsByTagName('img')[i].style.display = 'none';
                    }
                }
            }
        });
    }
    function supprimerLangue(div){

        var route = '{{path('supprimer_Langue',{'id':"_idLangue",'IdUser':"_IdUser"})}}';
        var input = div.getElementsByTagName("input")[0];
        div.parentNode.removeChild(div);
        route=route.replace('_idLangue',input.value);
        route=route.replace('_IdUser','{{ User.id}}');
        $.ajax({
            type: 'get',
            url: route,
            success: function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log(data);
            }
        });



    }
    function supprimerHobbie(div){

        var route = '{{path('supprimer_Hobbie',{'id':"_idHobbie",'IdUser':"_IdUser"})}}';
        var input = div.getElementsByTagName("input")[0];
        div.parentNode.removeChild(div);
        route=route.replace('_idHobbie',input.value);
        route=route.replace('_IdUser','{{ User.id}}');
        $.ajax({
            type: 'get',
            url: route,
            success: function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log(data);
            }
        });



    }
    function supprimerParent(route, champs) {
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);
    }
    function supprimerExperience(route, champs) {
        $.ajax({
            type: 'get',
            url: route,
            error: function (reponse) {
                console.log(reponse);
            },
            success:function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);
    }
    function supprimerRecommandation(route, champs){
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

    }
    function supprimerDiplome(route, champs){
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

    }
    function supprimerFormation(route, champs){
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

    }
    function supprimerDocument(route, champs){
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){console.log(data);}
        });
        champs.parentNode.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode.parentNode);

    }
    function ajouterHobbie(me){

        var dup = document.getElementById('Hobby');
        var clone = dup.cloneNode(true);

        var route = '{{path('ajouter_Hobbie',{'id':"_idHobbie",'IdUser':"_IdUser"})}}';
        var select = document.getElementById("Newhobbie");
        var choice = select.selectedIndex  // Récupération de l'index du <option> choisi
        var idhobbie = select.options[choice].value; // Récupération du texte du <option> d'index "choice"

        if(me.value.trim() =='')
        {
            alert('choisissez une hobbie');
            me.value='';
            return;
        }


        route=route.replace('_idHobbie',idhobbie);
        route=route.replace('_IdUser','{{ User.id}}');
        $.ajax({
            type: 'get',
            url: route,
            success: function(data) {
                //me.parentNode.getAttribute('id')
                clone.style.display = 'block';
                clone.getElementsByTagName("label")[0].innerHTML = select.options[choice].innerHTML;
                clone.getElementsByTagName("input")[0].setAttribute("name","hobbie"+me.parentNode.parentNode.getAttribute('id'));
                clone.getElementsByTagName("input")[0].value = me.value.trim();

                // me.parentNode.parentNode.parentNode.previousSibling.appendChild(clone);

                me.parentNode.parentNode.previousElementSibling.appendChild(clone);

            }
        });


    }
    function ajouterLangue(me){

        var dup = document.getElementById('DivNewLangue');
        var clone = dup.cloneNode(true);

        var route = '{{path('ajouter_Langue',{'id':"_idLangue",'IdNiveau':"_idNiveau",'IdUser': User.id})}}';
        var select = document.getElementById("NewLangue");
        var choice = select.selectedIndex;  // Récupération de l'index du <option> choisi
        var idLangue = select.options[choice].value.trim(); // Récupération du texte du <option> d'index "choice"

        var select2 = document.getElementById("NewNiveau");
        var choice2 = select2.selectedIndex;  // Récupération de l'index du <option> choisi
        var idNiveau = select2.options[choice2].value.trim(); // Récupération du texte du <option> d'index "choice"

        if(me.value.trim() =='')
        {
            alert('choisissez une langue');
            me.value='';
            return;
        }

        if(me.nextElementSibling.value.trim() =='')
        {
            alert('choisissez une niveau');
            me.value='';
            return;
        }

        route=route.replace('_idLangue',idLangue);
        route=route.replace('_idNiveau',idNiveau);
        $.ajax({
            type: 'get',
            url: route,
            success: function(data) {
                if(data['success']==1)
                {
                    //me.parentNode.getAttribute('id')
                    clone.style.display = 'block';

                    clone.getElementsByTagName("label")[0].innerHTML = select.options[choice].innerHTML;
                    clone.getElementsByTagName("input")[0].setAttribute("name","langue"+me.parentNode.parentNode.getAttribute('id'));
                    clone.getElementsByTagName("input")[0].value = me.value.trim();
                    clone.getElementsByTagName("label")[1].innerHTML = select2.options[choice2].innerHTML;
                    clone.getElementsByTagName("input")[1].setAttribute("name","niveau["+me.parentNode.parentNode.getAttribute('id')+"][]");
                    clone.getElementsByTagName("input")[1].value = me.nextElementSibling.value.trim();

                    me.parentNode.parentNode.previousElementSibling.appendChild(clone);
                }
                else if(data['success']==0)
                {
                    alert('Cette langue est déjà présente');
                }

            }
        });


    }


    function showFermer(){
        document.getElementById('addExperience').style.display="none";
        document.getElementById('addparent').style.display="none";
        document.getElementById('addRecommandation').style.display="none";
        document.getElementById('addDiplome').style.display="none";
        document.getElementById('addDocument').style.display="none";
        document.getElementById('addFormation').style.display="none";
    }
    function envoyerNouvelleReponse(idrep) {
        var route = '{{ path('reponseQCM',{'iduser':User.id,'idreponse':'_IDREP'}) }}';
        route = route.replace('_IDREP',idrep);
        $.ajax({
            type: 'get',
            url: route
        });
    }
    {% endif %}
</script>
</body>
</html>