<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body>

<div class="container" style="padding: 0;">
    {% block Content %}
        {% if User is defined %}
            <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">

                <div class="col-xs-9"
                     style="background: rgb(238, 241, 246); height: 100%;">



                    <div class="col-xs-12" style="margin-bottom: 50px">
                        <div id="info_etab" class="list-group affichage">


                            <label class="list-group-item info" >Civilité : <label style="color:black" >{{User.getCivilite}}</label></label>
                            <label class="list-group-item info" >Nom : <label style="color:black" >{{User.getNom}}</label></label>
                            <label class="list-group-item info" >Prénom : <label style="color:black" >{{User.getPrenom}}</label></label>
                            <label class="list-group-item info" >Téléphone : <label style="color:black" >{{User.getTelephone}}</label></label>
                            <label class="list-group-item info" >UserName : <label style="color:black" >{{User.getUsername}}</label></label>
                            <label class="list-group-item info" >E-mail : <label style="color:black" >{{User.getEmail}}</label></label>
                            <label class="list-group-item info" >Dérnière connexion : <label style="color:black" >{{User.getLastLogin|date('d/m/Y à H:i') }}</label></label>
                            <label class="list-group-item info" >Expiré le : <label style="color:black" >{{User.getExpiredAt|date('d/m/Y à H:i') }}</label></label>

                        </div>

                        <div id="info_licence" class="list-group affichage"
                             style="display: none;">

                            <table id="tableLibs">
                                <tr>
                                    <td>Id</td>
                                    <td>Libelle</td>
                                    <td>Decription</td>
                                    <td>Nbre max d'apprenants</td>
                                    <td>Nbre max de missions</td>
                                    <td>Date début</td>
                                    <td>Date Fin</td>
                                    <td style="border: none"><button onclick="show('instanceLicence')"
                                                                     type="button" style="border: none">+</button></td>
                                </tr>
                                {% if libs is defined %}
                                    {% for lib in libs %}
                                        <tr>
                                            <td>{{ lib.getId }}</td>
                                            <td>{{ lib.getLibelle }}</td>
                                            <td>{{ lib.getDescription }}</td>
                                            <td>{{ lib.getMaxapp }}</td>
                                            <td>{{ lib.getMaxmission }}</td>
                                            <td>{{ lib.getDatedebut }}</td>
                                            <td>{{ lib.getDatefin }}</td>
                                            <td style="border: none"><button onclick="supprimerligne('{{ path('supprimer_Licence',{'id': lib.getId}) }}',this)"
                                                                             type="button" style="border: none">x</button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>

                        </div>

                        <div id="info_user" class="list-group affichage"
                             style="display: none;">

                            <table>
                                <tr>
                                    <td>Id</td>
                                    <td>Username</td>
                                    <td>Email</td>
                                    <td>Dernière Connexion</td>
                                    <td style="border: none"><button onclick="show('adduser')" type="button" style="border: none">+</button></td>
                                </tr>
                                {% if users is defined %}
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.getId }}</td>
                                            <td>{{ user.getUsername }}</td>
                                            <td>{{ user.getEmail }}</td>
                                            <td>{{ user.getLastLogin|date('d/m/Y') }}</td>
                                            <td style="border: none"><button type="button" style="border: none">x</button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>

                        </div>

                    </div>
                </div>

                <div class="col-xs-3"
                     style="height: 100%;">
                    <div class="list-group"
                         style="margin: 15px 0 0 15px;height: 100%; background-color: white;">
                        {% if User.isExpired %}
                            <button onclick="expire('{{ path('expired',{'id':User.getId}) }}')" id="expired" type="button" class="list-group-item rightMenu" style="background-color: #94C400">
                                <div class="col-xs-12" style="display: inline-table;color: white;height: 46px;margin-top:10px;">ACTIVE</div>
                            </button>
                        {% else %}
                            <button onclick="expire('{{ path('expired',{'id':User.getId}) }}')" id="expired" type="button" class="list-group-item rightMenu" style="background-color: red">
                                <div class="col-xs-12" style="display: inline-table;color: white;height: 46px;margin-top:10px;">DÉSACTIVE</div>
                            </button>
                        {% endif %}
                        <button onclick="post('{{ path('modifierUser',{'id': User.getId }) }}',false)" type="button" class="list-group-item rightMenu" >
                            <div class="col-xs-12"  >Modifier la fiche</div>

                        </button>

                        <button onclick="post('{{ path('supprimereUtilisateur',{'id': User.getId }) }}',true)" type="button" class="list-group-item rightMenu" >
                            <div class="col-xs-12" >Supprimer l'utilisateur</div>

                        </button>

                    </div>
                </div>



            </div>
        {% endif %}
    {% endblock %}
</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script language="JavaScript">

    function expire(route) {
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function (data) {
                if (data['succes'] == '0') {
                    document.getElementById("expired").style.backgroundColor = 'red';
                    document.getElementById("expired").firstElementChild.innerHTML = 'Désactive';
                    window.parent.document.getElementById('active{{ User.getId }}').style.backgroundColor = 'red';
                }
                else {
                    document.getElementById("expired").style.backgroundColor = '#94C400';
                    document.getElementById("expired").firstElementChild.innerHTML = 'Active';
                    window.parent.document.getElementById('active{{ User.getId }}').style.backgroundColor = '#94C400';
                }

            }
        });

    };
    function post(path,refresh) {
        if(refresh)
        {
            $.ajax({
                type: 'get',
                url: path,
                error: function () {
                    alert('Une erreur s\'est produite');
                },
                success: function () {
                        window.parent.location.reload();
                }
            });
        }
        else
        {
            window.location = path;
        }
    };
</script>
{% block JS %}
    <script src="http://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
</body>
</html>