<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/SuperUser.css') }}" />
    <title>Title</title>
</head>
<body style="display: flex;">
<table style="border-collapse: collapse;width: 50%;max-height: 100%">
    <tr>
        <td>Id</td>
        <td>Civilite</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>téléphone</td>
        <td>Email</td>
        <td>Erreur</td>
        <td style="border: none"></td>
    </tr>
    {% for import in imports %}
        <tr>
            <td>{{ import.getId }}</td>
            <td>{{ import.getCivilite }}</td>
            <td>{{ import.getNom }}</td>
            <td>{{ import.getPrenom }}</td>
            <td>{{ import.getTelephone }}</td>
            <td>{{ import.getEmail }}</td>
            <td>{{ import.getErreur }}</td>
            <td style="border: none">
                <button onclick="supprimerLigne('{{ path('supprimer_import',{'id': import.getId}) }}',this)" type="button" style="border: none">x</button>
                {% if not import.getErreur == null %}
                    <button  type="button" style="border: none" disabled>+</button>
                    {% else %}
                        <button onclick="supprimerLigne('{{ path('importer_candidat',{'id': import.getId}) }}',this)" type="button" style="border: none">+</button>
                {% endif %}
                <button onclick="voirduplica({{ import.getId }})" type="button" style="border: none">voir</button>
            </td>
        </tr>
    {% endfor %}
</table>
<iframe id="iframe" src="" style="width: 50%;height: 100%;max-height: 100%;position: fixed;right: 0"></iframe>
<script src="//code.jquery.com/jquery.min.js"></script>
<script language="javascript">
    function supprimerLigne(route,champs) {
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(data){
                if(data['Delete']=='1')
                {
                    champs.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode);
                    alert('Suppression correctement effectuer');
                }
                if(data['Delete']=='0')
                {
                    alert('Suppression à rencontrer une erreur en cours d\'excecution');
                }
                if(data['Ajout']=='1')
                {
                    champs.parentNode.parentNode.parentNode.removeChild(champs.parentNode.parentNode);
                    alert('Ajout correctement effectuer');
                }
                if(data['Ajout']=='0')
                {
                    champs.disabled = true;
                    alert('Ajout à rencontrer une erreur en cours d\'excecution, cet utilisateur existe déjà, Vérifiez ces duplicats puis essayez de le fusionner');
                }
            }
        });

    };
    function voirduplica(id)
    {
        var route = '{{ path("afficher_duplica",{'id':"_id"}) }}';
        route = route.replace('_id',id);
        document.getElementById('iframe').src = route;
    }
</script>
</body>
</html>