<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Bonjour {{ tuteur.civilite }} {{ tuteur.nom }} {{ tuteur.prenom }},
    Veuillez compléter le processus de la mise en relation de la mission  " {{ mission.Intitule }} - {{ mission.CodeMission }} "
    avec l'apprenant {{ apprenant.civilite }} {{ apprenant.nom }} {{ apprenant.prenom }}
    sur <a href="http://hub3e.atpmg.com" target="_blank">HUB3E</a>.
<p>
    Vous en souhaitant bonne réception, <br/> Cordialement.
</p>
</body>
</html>