<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    Bonjour,
    l'apprenant {{ apprenant.nom }} {{ apprenant.prenom }} souhaite postuler pour la mission proposée par {{ mission.etablissement.tier.raisonsoc }} à l'adresse : {{ mission.etablissement.adresse }}, <br>
intitulée : {{ mission.intitule }}
<p>
    Vous en souhaitant bonne réception, <br/> Cordialement.
</p>
</body>
</html>