<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    {{ message }}<br>
    La mission se situe à l'adresse {{ mission.etablissement.adresse }} - {{ mission.etablissement.ville }} {{ mission.etablissement.codepostal }}, intulutée {{ mission.intitule }} dans le domaine de {{ mission.domaine }}<br>
    chez la société {{ mission.etablissement.tier.raisonsoc }}.<br>
    Il vous est possible de choisir entre : {{ rdv.date1|date('d/m/Y à H:i') }} {{ rdv.date2|date('d/m/Y à H:i') }} {{ rdv.date1|date('d/m/Y à H:i') }} pour établir un rendez-vous avec le responsable.
<p>
    Vous en souhaitant bonne réception, <br/> Cordialement.
</p>
</body>
</html>