<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mission.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/PopUp.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/paginate.css') }}" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    {% block CSS %}{% endblock %}

    <style>

        .hidden{
            display: none !important;
        }

        .ui-widget-header{
            color:black;
        }

        .col-md-2, .col-md-10{
            padding:0;
        }
        .panel{
            margin-bottom: 0px;
            background-color: #E6E6E6;
        }
        .chat-window{
            bottom:0;
            margin-left:0px;
        }
        .chat-window > div > .panel{
            border-radius: 5px 5px 0 0;
        }
        .icon_minim{
            padding:2px 10px;
        }
        .msg_container_base{
            background: #e5e5e5;

            margin: 0;
            padding: 0 10px 10px;
            max-height:300px;
            overflow-x:hidden;
        }
        .top-bar {
            background: #666;
            color: white;
            padding: 10px;
            position: relative;
            overflow: hidden;
        }
        .msg_receive{

            padding-bottom:20px !important;
            margin-right:0;

        }
        .msg_receive > time{
            float: left;
        }
        .msg_sent{
            padding-bottom:20px !important;
            margin-right:0;
        }
        .messages {
            background: lightgoldenrodyellow;

            padding: 10px;
            border-radius: 2px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            max-width:100%;
        }

        .messages > p {
            font-size: 13px;
            margin: 0 0 0.2rem 0;
        }
        .messages > time {
            font-size: 11px;
            color: grey;
        }
        .msg_container {
            padding: 10px;

            display: flex;
        }
        img {
            display: block;
            width: 100%;
        }
        .avatar {
            position: relative;
        }

        .base_sent {
            justify-content: flex-end;
            align-items: flex-end;
        }

        .msg_sent > time{
            float: right;
        }

        .msg_container_base::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .msg_container_base::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        .msg_container_base::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }

        .btn-group.dropup{
            position:fixed;
            left:0px;
            bottom:0;
        }

    </style>

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body onunload="window.parent.document.getElementById('iframe').style.position ='static';window.parent.document.getElementById('iframe').style.height ='calc(100% - 72px)';">


<div id="CompteRendu" class="popup" >
    <div onclick="fermeture();hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;{# border:20px solid white; #}display: block; margin-left: 20%; ">

        <form id="PopUpCompteRendu" class="formulaire" method="post">


            <div class="div_form" id="Assister" style="display: none">
                <div class="row" style=" margin-bottom: 20px;">

                    <div class="col-xs-12" >
                        <textarea style="height: 200px;resize: none;" class="input" name="CompteRendu" placeholder="Compte rendu" required ></textarea>
                    </div>
                </div>
            </div>

            <div class="div_form" id="Absence" style="display: none" >

                <div class="row" style=" margin-bottom: 20px;">
                    <textarea name="CompteRenduAbsent" style="height: 200px;resize: none;" class="input"  placeholder="Quelles en sont les raisons?" required ></textarea>
                </div>

            </div>


            <div id="OUI_NON_button" class="div_button">
                <label class="col-xs-12">Avez-vous pu assister au rendez-vous?</label>
                <input class="blue col-xs-3 col-xs-offset-3" style="right: 10px;text-align: center"
                       onclick="document.getElementById('Assister').style.display = 'block';document.getElementById('Assister_button').style.display = 'block';this.parentElement.style.display = 'none'"
                       type="button" value="OUI">
                <input class="blue col-xs-3" style="left: 10px;text-align: center"
                       onclick="document.getElementById('Absence').style.display = 'block';document.getElementById('Absence_button').style.display = 'block';this.parentElement.style.display = 'none'"
                       type="button"   value="NON">
            </div>
            <div id="Absence_button" class="div_button" style="display: none">
                <input onclick="fermeture()" class="blue" style="background:white;color:#666666;border:1px solid #ccc;float: left" type="button" value="Annuler">
                <input class="blue" type="button" onclick="EnvoyerCompteRendu('Absence')"  style="margin-left: 390px" value="Envoyer">
            </div>
            <div id="Assister_button" class="div_button" style="display: none">
                <input class="blue" onclick="fermeture()" style="background:white;color:#666666;border:1px solid #ccc;float: left;text-align: center ;width: 120px;height:50px" type="button" value="Annuler">
                <input class="blue" type="button" onclick="EnvoyerCompteRendu('Assister')" style="margin-left: 300px;text-align:center;width: 120px;height:50px"  value="Envoyer">
            </div>

        </form>

    </div>


</div>
<div id="ConsultationCompteRendu" class="popup" >
    <div onclick="hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;{# border:20px solid white; #}display: block; margin-left: 20%; ">
        <div id="ComptesRenduContainer"></div>
    </div>
</div>
<div id="ajounerPopUp" class="popup" >
    <div onclick="fermeture();hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;{# border:20px solid white; #}display: block; margin-left: 20%; ">

        <form id="PopUpAjournement" class="formulaire" method="post">


            <div class="div_form" id="Assister">
                <button type="button" onclick="AddDateTimeDiv(this)">+</button>
                <div class="col-xs-4 col-xs-offset-4">
                    <label class="col-xs-1">Le : </label><input title="Date du rendez-vous" name="dateRDV[]" type="text" class="col-xs-4" required>
                    <label class="col-xs-1"> à </label><input title="Heure du rendez-vous" name="timeRDV[]" class="col-xs-4" type="text" required>
                    <button type="button" class="col-xs-offset-1 col-xs-1" onclick="if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}">-</button>
                </div>
            </div>

            <div id="Assister_button" class="div_button">
                <input class="blue" onclick="fermeture()" style="background:white;color:#666666;border:1px solid #ccc;float: left;text-align: center ;width: 120px;height:50px" type="button" value="Annuler">
                <input class="blue" type="button" onclick="Ajournement()" style="margin-left: 300px;text-align:center;width: 120px;height:50px"  value="Envoyer">
            </div>

        </form>

    </div>


</div>

<div id="MiseEnRelationPopup" class="popup" >

    <div onclick="fermeture();hide(this)" class="close"></div>
    <div class="col-xs-offset-1 col-xs-7" style="background-color: #E6E6E6;padding: 0;{# border:20px solid white; #}display: block; margin-left: 20%; ">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; padding-top:5px; margin-right:5px; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>

            <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="width:100%;background-color: #2975cb">
                <div style="height: 80px ">
                    <img id="imgSociete" style="margin-top:10px;float:left;margin-left: 20px;height:50px;width:50px;margin:15px 5px;border-radius: 100%" src="{{ asset('image/entreprise.jpg') }}">
                    <label id="lblSociete" style="margin-top:20px;float:left;margin-left: 20px; font-size:17px"></label>

                    <img id="imgApp" style="margin-top:10px;float:right;margin-right: 20px;height:50px;width:50px;margin:15px 5px;border-radius: 100%" src="">
                    <label id="lblApp"style="margin-top:20px;float:right;font-size:17px" ></label>
                </div>
                <div class="col-xs-12 col-md-12">

                    <div class="panel panel-default" style="padding-top:10px">

        {% if AllMiseEnRelation is defined %}
            {% set i=0 %}

            {#{% set LastMise="" %}#}
            {% for mise in AllMiseEnRelation %}
            {% if mise.expediteur.hasrole('ROLE_APPRENANT') %}

                <div id="Msg{{ i }}" class="row msg_container base_receive" style="margin-right: 5px;margin-left: 5px" name="App{{ mise.expediteur.getId() }}_Mission{{mise.mission.getId()}}">
                    <div class="col-md-11 col-xs-11">
                        <div class="messages msg_sent" style="background: #CED8F6";>

                            <p style="width: 70%">{{ mise.getMessage }}</p>

                            <time style="margin-top: -20px;" ><label style="text-transform :uppercase;color:{{ mise.couleur }};font-size:15px">{{ mise.getAction }}</label><br>{{ mise.getDate|date('d-m-Y à H:i') }}</time>

                        </div>
                    </div>
                    <div class="col-md-1 col-xs-1 avatar">
                        {% if mise.expediteur.getPhotos %}
                            <img style="height:50px;width:50px;border-radius: 100%; float:right" src="data:image/jpg;base64,{{GetMyPhoto(mise.expediteur.getId())}}">
                        {% elseif mise.expediteur.getCivilite == 'Mme' or mise.expediteur.getCivilite == 'Madame' or mise.expediteur.getCivilite == 'Mademoiselle' %}
                            <img style="height:50px;width:50px;border-radius: 100%; float:right" src="{{ asset('image/femme.jpg') }}">
                        {% else %}
                            <img style="height:50px;width:50px;border-radius: 100%; float:right" src="{{ asset('image/homme.jpg') }}">
                        {% endif %}


                    </div>
                </div>
            {% else %}



                <div id="Msg{{ i }}" class="row msg_container base_sent"  style="margin-right: 5px;margin-left:5px; text-align:center;"  name="App{{ mise.destinataire.getId() }}_Mission{{mise.mission.getId()}}">
                    <div class="col-md-1 col-xs-2 avatar">
                        <img style="height:50px;width:50px;border-radius: 100%" src="{{ asset('image/Entreprise.jpg') }}">
                    </div>
                    <div class="col-md-11 col-xs-11" style="text-align:center">
                        <div class="messages msg_receive" style="background: #D8D8D8; text-align:center">
                            <p style="width: 70%;margin-left: 30%;text-align:center">{{ mise.getMessage }}

                            {% if mise.getAction=='Propose rdv' %}
                                <br/>
                                {{ GetDateRDV(mise.destinataire.getId(),mise.mission.getId()) }}

                            {% endif %}
                            </p>

                            <time style="margin-top: -20px;" ><label style="text-transform :uppercase;color:{{ mise.couleur }};font-size:15px ">{{ mise.getAction }}</label><br>{{ mise.getDate|date('d-m-Y à H:i') }}</time>
                        </div>
                    </div>
                </div>
            {% endif %}
           {#{% set LastMise=mise %}#}



            {% set i = i + 1 %}
        {% endfor %}

                        {% if MiseEnRelation is defined %}
                            {% for miseEn in MiseEnRelation %}
                            {% set LastMise=GetLastMise(miseEn.destinataire.getId()) %}

                        {% if miseEn.expediteur.hasrole('ROLE_APPRENANT') %}
                            <div class="row msg_container base_receive"  style="display:none;" id="Absence_button_APP_{{ miseEn.destinataire.getId() }}_Mission{{miseEn.mission.getId()}}" name="App{{ miseEn.destinataire.getId() }}_Mission{{miseEn.mission.getId()}}" >
                                {% if LastMise.destinataire is defined %}
                                    {% if   GetStatut(LastMise.destinataire.getId()) =='0'  %}

                                        {% if LastMise.action=='Retour RDV' %}

                                            {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                                {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                                {#  relancer l'apprenanat
                                                <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR APP">
                                            #}
                                            {% else %}

                                                {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}
                                                {#  relancer l'apprenanat
                                                <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR APP">
                                            #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}


                                        {% else %}

                                            {% if LastMise.statut=='2'  %}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerApp({{ LastMise.expediteur.getId()}},{{ LastMise.mission.getId() }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% else %}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerApp({{ LastMise.destinataire.getId()}},{{ LastMise.mission.getId() }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}
                                        {% endif %}



                                    {% elseif GetStatut(LastMise.destinataire.getId()) =='1' %}
                                        {% if LastMise.action=='Retour RDV' %}
                                            {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                                {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                                {#  relancer TUTEUR
                                             <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR TUTEUR">
                                             #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% else %}

                                                {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}

                                                {#  relancer TUTEUR
                                           <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR TUTEUR">
                                           #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}

                                        {% else %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerTuteur({{ LastMise.destinataire.getId()}},{{ LastMise.mission.getId() }},{{ LastMise.expediteur.getId()}} )"  style="margin-left: 390px" value="RELANCER">
                                        {% endif %}
                                    {% elseif GetStatut(LastMise.destinataire.getId()) =='2'  %}

                                        {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                            {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                        {% else %}

                                            {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}
                                        {% endif %}
                                        {#  relancer LES DEUX
                                             <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCR({{ LastMise.expediteur.getId()}},{{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR 2">
                                    #}

                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCR({{ LastMise.expediteur.getId()}},{{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                    {% endif %}

                                    {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}
                                        {% if LastMise.expediteur.getPlace()!='1' %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-success" onclick="AccepterApp({{ LastMise.expediteur.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="ACCEPTER">

                                        {% endif %}
                                        {#refusé#}
                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-danger"onclick="RefuserApp({{ LastMise.expediteur.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="REFUSER"><br/>
                                    {% else %}
                                        {% if LastMise.destinataire.getPlace()!='1' %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-success" onclick="AccepterApp({{ LastMise.destinataire.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="ACCEPTER">
                                        {% endif %}

                                        {#refusé#}
                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-danger" onclick="RefuserApp({{ LastMise.destinataire.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="REFUSER"><br/>

                                    {% endif %}
                                {% endif %}

                            </div>

                        {% else %}
                            <div class="row msg_container base_sent"  style="display:none;" id="Absence_button_APP_{{ miseEn.destinataire.getId() }}_Mission{{miseEn.mission.getId()}}" name="App{{ miseEn.destinataire.getId() }}_Mission{{miseEn.mission.getId()}}" >
                                {% if LastMise.destinataire is defined %}
                                    {% if   GetStatut(LastMise.destinataire.getId()) =='0'  %}

                                        {% if LastMise.action=='Retour RDV' %}

                                            {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                                {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                                {#  relancer l'apprenanat
                                                <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR APP">
                                            #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% else %}

                                                {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}
                                                {#  relancer l'apprenanat
                                                <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR APP">
                                            #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}


                                        {% else %}

                                            {% if LastMise.statut=='2'  %}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerApp({{ LastMise.expediteur.getId()}},{{ LastMise.mission.getId() }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% else %}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerApp({{ LastMise.destinataire.getId()}},{{ LastMise.mission.getId() }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}
                                        {% endif %}



                                    {% elseif GetStatut(LastMise.destinataire.getId()) =='1' %}
                                        {% if LastMise.action=='Retour RDV' %}
                                            {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                                {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                                {#  relancer TUTEUR
                                           <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR TUTEUR">
                                           #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% else %}

                                                {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}
                                                {#  relancer TUTEUR
                                           <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCRUser({{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR TUTEUR">
                                           #}
                                                <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCRUser({{ LastMise.expediteur.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                            {% endif %}

                                        {% else %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RelancerTuteur({{ LastMise.destinataire.getId()}},{{ LastMise.mission.getId() }},{{ LastMise.expediteur.getId()}} )"  style="margin-left: 390px" value="RELANCER">
                                        {% endif %}
                                    {% elseif GetStatut(LastMise.destinataire.getId()) =='2'  %}

                                        {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}

                                            {% set idRdv=GetIdRDV(LastMise.expediteur,LastMise.destinataire,LastMise.mission) %}
                                        {% else %}

                                            {% set idRdv=GetIdRDV(LastMise.destinataire,LastMise.expediteur,LastMise.mission) %}
                                        {% endif %}
                                        {#  relancer LES DEUX
                                                                                    <input style="border: 0;font: 18px Roboto;color: darkorange;text-align: left;background-color: white;height: 40px" type="button" onclick="RemplirCR({{ LastMise.expediteur.getId()}},{{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="REMPLIR CR 2">
                                                                           #}
                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-warning" onclick="RemplirCR({{ LastMise.expediteur.getId()}},{{ LastMise.destinataire.getId()}},{{ idRdv }} )"  style="margin-left: 390px" value="RELANCER">
                                    {% endif %}

                                    {% if LastMise.expediteur.hasrole('ROLE_APPRENANT') %}
                                        {% if LastMise.expediteur.getPlace()!='1' %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-success" onclick="AccepterApp({{ LastMise.expediteur.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="ACCEPTER">

                                        {% endif %}
                                        {#refusé#}
                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-danger" onclick="RefuserApp({{ LastMise.expediteur.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="REFUSER"><br/>
                                    {% else %}
                                        {% if LastMise.destinataire.getPlace()!='1' %}
                                            <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-success" onclick="AccepterApp({{ LastMise.destinataire.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="ACCEPTER">
                                        {% endif %}

                                        {#refusé#}
                                        <input style="border: 0;font: 18px Roboto;text-align: left;height: 40px" type="button" class= "btn btn-danger" onclick="RefuserApp({{ LastMise.destinataire.getId() }},{{ LastMise.mission.getId() }})"  style="margin-left: 390px" value="REFUSER"><br/>

                                    {% endif %}
                                {% endif %}

                            </div>

                        {% endif %}
                            {% endfor %}
                        {% endif %}


            <br/>
        {% endif %}

                    </div>
                </div>
            </div>



    </div>




</div>
<div style="border-top: 1px solid #B0B0B0;background-color:  rgb(238, 241, 246);margin: 0;height: 100%;padding-bottom: 40px;overflow: hidden;">

    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 10px;">
       {# <select class="input col-xs-2" title="messages" style="height:40px;">
            <option value="les messages">Tous les rendez-vous</option>
        </select>#}
        <div class="col-xs-2" style="margin-left: 20px;height:40px;display: flex;">
            <span class="glyphicon glyphicon-search col-xs-2" id="basic-addon1" style="height: 30px;padding: 7px;float: left;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;"></span>
            <input class="col-xs-10" type="text" onkeyup="search(this.value)" aria-describedby="basic-addon1" style="height: 31px;border: none;border-bottom: 1px solid #CCCCCC;margin: auto 0;background-color: transparent;" placeholder="Recherche ...">
        </div>
        <div id="paginationContainer" class="customepaginate" style="max-width: 240px;float: right;display: flex;">
            <button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        </div>

    </div>

    <div id="ListeMiseEnRelation"  class="col-xs-10 col-xs-offset-1">
        {% if MiseEnRelation is defined %}
            {% set i = 0 %}
            {% set nbreNull = 0 %}
            {% for mise in MiseEnRelation %}

                <div id="{{ mise.id }}" class="Liste" style="border: 1px solid #ddd;margin: 0;height:100px;width: 100%;" >
                   {# <div name="Recherche" style="display: none;">{{ rdv.destinataire.nom }},{{ rdv.destinataire.prenom }},{{ rdv.destinataire.email }},{{ rdv.tuteur.nom }},{{ rdv.tuteur.prenom }},{{ rdv.tuteur.email }},{% if rdv.mission %}{{ rdv.mission.intitule }},{{ rdv.mission.codemission }},{{ rdv.mission.descriptif }},{{ rdv.mission.domaine }},{% if rdv.mission.etablissement %}{{ rdv.mission.etablissement.siret }},{{ rdv.mission.etablissement.adresse }},{{ rdv.mission.etablissement.secteur }},{{ rdv.mission.etablissement.tier.raisonsoc }}{% endif %}{% endif %}</div>#}

                        <div class="col-xs-2" style="width:10%;" >
                            <div style="border: 15px solid transparent">
                                {% if mise.destinataire.getPhotos  %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="data:image/jpg;base64,{{GetMyPhoto(mise.destinataire.getId())}}">


                                {% elseif mise.destinataire.getCivilite == 'Mme' or mise.destinataire.getCivilite == 'Madame' or mise.destinataire.getCivilite == 'Mademoiselle' %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/femme.jpg') }}">
                                {% else %}
                                    <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%" src="{{ asset('image/homme.jpg') }}">
                                {% endif %}
                            </div>
                        </div>

                    <div id="date{{ mise.id }}" class="col-xs-2" style="width:20%;-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">

                        <label style="font:18px Roboto;margin: auto;" > {{ mise.destinataire.getNom }}<br/>{{ mise.destinataire.getPrenom }}</label><br/>


                        <img  style="height:30px;width:30px;float:right;margin: auto;cursor:pointer"

                                {% set scores=GetScoresApp(mise.destinataire) %}
                              onclick="informationApprenant('{{mise.destinataire.getPhotos|escape('js')}}','{{ mise.destinataire.getCivilite|escape('js') }}','{{ mise.destinataire.getNom|escape('js') }}','{{ mise.destinataire.getPrenom|escape('js') }}',
                                      '{{ mise.destinataire.getEmail|escape('js') }}','{{ mise.destinataire.getTelephone|escape('js') }}','{{ mise.destinataire.getInfo.getDateNaissance|date("d/m/Y") }}',
                                      '{{ mise.destinataire.getInfo.getCpNaissance|escape('js') }}','{{ mise.destinataire.getInfo.getLieunaissance|escape('js') }}','{{ mise.destinataire.getInfo.getAdresse|escape('js') }}','{{ mise.message|escape('js') }}',
                                      '{{ mise.statut|escape('js') }}','{{ scores[i-nbreNull] }}');
                                      show('FicheApprenant');idMessage={{ mise.id|e('js') }};"
                              title="Localiser l'apprenant"
                              src="{{ asset('image/geolocalisation.jpg') }}">




                    </div>

                    <div id="date{{ mise.id }}" class="col-xs-2" style="width:35%;-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">

                        <label style="font:18px Roboto;margin: auto;" > {{ mise.mission.getEtablissement.getTier.getRaisonsoc }}<br/>{{ mise.mission.intitule }}<br/></label><br/>
                        <img  style="height:30px;width:30px;float:right;margin: auto;cursor:pointer"




                              onclick="informationMission('{{ mise.mission.etablissement.tier.logo|escape('js') }}','{{ mise.mission.intitule|escape('js') }}','{{ mise.mission.etablissement.tier.raisonsoc|escape('js') }}','{{ mise.mission.descriptif|escape('js') }}',
                                      '{{ mise.mission.codemission|escape('js') }}','{{ mise.mission.etablissement.adresse|escape('js') }}','{{ mise.mission.etablissement.ville|escape('js')  }}','{{ mise.mission.etablissement.codepostal|escape('js') }}','{{ mise.message|escape('js') }}','{{ mise.statut|escape('js') }}');
                                      show('FicheMission');idMessage={{ mise.id|e('js') }}"

                              title="Localiser la mission"
                              src="{{ asset('image/geolocalisation.jpg') }}">

                    </div>

                    <div id="date{{ mise.id }}" class="col-xs-2" style="width:15%;-webkit-flex-wrap: wrap;flex-wrap: wrap;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;;display:flex;height: 100px;text-align: left; ">

                        <label style="font:18px Roboto;margin: auto;" > {{ mise.getDate|date('d-m-Y à H:i') }}</label>

                    </div>

                    <div class="col-xs-2" style="width:20%;">
                        <div style="border: 15px solid transparent">

                            {% if mise.destinataire.getPhotos %}

                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%; cursor:pointer" onmouseover=""onclick="AfficherChat('{{ mise.destinataire.getId()}}','{{ mise.mission.getId() }}','{{ mise.mission.getEtablissement.getTier.getRaisonsoc|replace({"'": "\\'"}) }}<br/>{{ mise.mission.intitule|replace({"'": "\\'"}) }}','{{ mise.destinataire.getNom|replace({"'": "\\'"}) }}<br/>{{ mise.destinataire.getPrenom|replace({"'": "\\'"}) }}','data:image/jpg;base64,{{ mise.destinataire.getPhotos }}');show('MiseEnRelationPopup');" src="{{ asset('image/MiseEnRelation.png') }}">

                            {% elseif mise.destinataire.getCivilite == 'Mme' or mise.destinataire.getCivilite == 'Madame' or mise.destinataire.getCivilite == 'Mademoiselle' %}


                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%;cursor:pointer" onclick="AfficherChat('{{ mise.destinataire.getId()}}','{{ mise.mission.getId() }}','{{ mise.mission.getEtablissement.getTier.getRaisonsoc|replace({"'": "\\'"}) }}<br/>{{ mise.mission.intitule|replace({"'": "\\'"}) }}','{{ mise.destinataire.getNom|replace({"'": "\\'"}) }}<br/>{{ mise.destinataire.getPrenom|replace({"'": "\\'"}) }}','{{ asset('image/femme.jpg') }}');show('MiseEnRelationPopup');" src="{{ asset('image/MiseEnRelation.png') }}">
                            {% else %}

                                <img style="height:70px;width:70px;margin:0 40px;border-radius: 100%;cursor:pointer" onclick="AfficherChat('{{ mise.destinataire.getId()}}','{{ mise.mission.getId() }}','{{ mise.mission.getEtablissement.getTier.getRaisonsoc|replace({"'": "\\'"}) }}<br/>{{ mise.mission.intitule|replace({"'": "\\'"}) }}','{{ mise.destinataire.getNom|replace({"'": "\\'"}) }}<br/>{{ mise.destinataire.getPrenom|replace({"'": "\\'"}) }}','{{ asset('image/homme.jpg') }}');show('MiseEnRelationPopup');" src="{{ asset('image/MiseEnRelation.png') }}">
                            {% endif %}





                        </div>
                    </div>




                </div>

            {% endfor %}
        {% endif %}
    </div>
    <div id="FicheApprenant" class="popup" >
        <div onclick="hide(this)" class="close"></div>
        <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>

            <form id="formFicheApprenant" class="formulaire"   method="post">
                <div>
                    <div class="col-lg-12" >
                        <img src="" style="border-radius:50%; width:50px; height:50px" >
                    </div>
                    <div class="col-lg-12">
                        <label id="Information_Apprenant_titre" style="color:black" ></label>
                    </div>
                    <div id="Information_Apprenant_titre_adresse" class="col-xs-12" style="height: 20px;color: #666666;font:medium Roboto;margin-bottom: 40px"></div>
                </div>



                <div class="div_form"  id="information_apprenant" >
                    <div class="row" style=" margin-bottom: 20px">



                        <div class="row" >
                            <button onclick="document.getElementById('info_apprenant').style.display ='block';document.getElementById('Localisation').style.display ='none';"
                                    class="col-xs-4 onglet"  type="button" style="margin-left: 20px;width: 50%"> FICHE APPRENANT</button>
                            <button onclick="document.getElementById('Localisation').style.display ='block';document.getElementById('info_apprenant').style.display ='none';
                        var center = map_localisation.getCenter();
                        google.maps.event.trigger(map_localisation, 'resize');
                        map_localisation.setCenter(center);"
                                    class="col-xs-4 onglet"  type="button" style="width: calc(50% - 50px)" >LOCALISATION</button>

                        </div>

                        <div id="info_apprenant" style="height: 281px;border-top: 1px solid #B0B0B0;margin: 0;overflow-y: auto;width: 100%;">
                            <div class="col-xs-12" >

                                <div class="col-xs-12" >
                                    <label class="cell"  style="float:left;">Civilité : <label id="Information_Apprenant_Civilite"></label></label>
                                </div>
                                <div class="col-xs-10 ">
                                    <label class="cell" style="float:left;">Nom : <label id="Information_Apprenant_Nom"></label> </label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Prenom : <label id="Information_Apprenant_Prenom"></label></label>

                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Email  : <label id="Information_Apprenant_Email"></label></label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Téléphone : <label id="Information_Apprenant_Telephone"></label></label>

                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Date naissance : <label id="Information_Apprenant_DateNaissance"  ></label></label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Cp naissance  : <label id="Information_Apprenant_CpNaissance" ></label></label>

                                </div>

                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Lieu naissance: <label id="Information_Apprenant_LieuNaissance" ></label></label>
                                </div>
                                <div class="col-xs-10">
                                    <label class="cell" style="float:left;">Adresse       : <label id="Information_Apprenant_Adresse" ></label></label>
                                </div>
                            </div>
                        </div>
                        <div id="Localisation"  style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;display:none;">

                        </div>
                    </div>



                </div>









            </form>

        </div>


    </div>
    <div id="FicheMission" class="popup">
        <div onclick="hide(this)" class="close"></div>
        <div class="col-xs-offset-1 col-xs-7" style="background-color: white;padding: 0;border:20px solid white;display: block; margin-left: 20%; ">
            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right; height:40px; font-size:20px"onclick="this.parentElement.previousElementSibling.click();"> </span>

            <form id="formFicheMission" class="formulaire" method="post">

                <div class="div_form" style="border-bottom:1px solid #adadad;display: block;">

                    <div>
                        <div class="col-xs-12" >
                            <img  src="" style="padding: 10px; height: 80px;">
                        </div>
                        <div class="col-xs-12"  style="height: 30px;  padding: 10px;">
                            <label id="Information_Mission_Intitule" style="font:large Roboto;color:black" ></label> -
                            <label id="Information_Mission_titre_raisonsoc" style="font:large Roboto;color:#2A76CC" > </label>
                        </div>
                        <div class="col-xs-12" style="height: 20px; font:small Roboto;margin-bottom:30px">
                            <label id="Information_Mission_titre_adresse"></label>
                        </div>


                    </div>

                    <div  id="information_mission" >
                        <div class="row" style=" margin: 0;">
                            <div class="col-xs-12">



                                <label style="float: right" id="Information_Mission_code"></label>
                            </div>
                            <div class="row" >
                                <button onclick="document.getElementById('info_mission').style.display ='block';document.getElementById('Localisationmission').style.display ='none'"  class="col-xs-4 onglet"  type="button" style="margin-left: 20px;width: 50%"> FICHE MISSION</button>
                                <button onclick="document.getElementById('Localisationmission').style.display ='block';document.getElementById('info_mission').style.display ='none';
                        var center = map_mission.getCenter();
                        google.maps.event.trigger(map_mission, 'resize');
                        map_mission.setCenter(center);" class="col-xs-4 onglet"  type="button" style="width: calc(50% - 50px)" >LOCALISATION</button>
                            </div>
                            <div id="info_mission" style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;">

                                <div class="col-xs-12" >
                                    <div class="list-group affichage">

                                        <label class="list-group-item mission" >LA MISSION : <br/>
                                            <label id="Information_Mission_Descriptif"  style="color:black; font-weight: lighter" ></label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="Localisationmission"  style="border-top: 1px solid #B0B0B0;margin: 0;height: 281px;width: 100%;display:none;">

                            </div>
                        </div>
                    </div>






                </div>






            </form>
        </div>

    </div>
</div>



<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>

<script src="{{ asset('js/OverlappingMarkerSpiderfier.min.js') }}"></script>
<script src="{{ asset('js/infobox.js') }}"></script>



<script src="{{ asset('js/jquery-1.11.3.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/PopUp.js') }}"></script>
<script src="{{ asset('js/paginate.js') }}"></script>
<script language="JavaScript">
    var rendezvousSelectionne;
    var marker,map_localisation,map_mission,marker_societe,idMessage;
    function AddDateTimeDiv(button){
        if(button.parentElement.children.length < 4) {
            var divContainer = document.createElement('div');
            divContainer.className = 'col-xs-4 col-xs-offset-4';
            //label DATE
            var LabelDate = document.createElement('label');
            LabelDate.className = 'col-xs-1';
            LabelDate.innerHTML = 'Le : ';
            //INPUT DATE
            var inputDate = document.createElement('input');
            inputDate.setAttribute('name','dateRDV[]');
            inputDate.setAttribute('id',button.nextElementSibling.firstElementChild.id +'_'+button.parentElement.children.length);
            inputDate.setAttribute('type','text');
            inputDate.className = "col-xs-4";
            //label DATE
            var LabelTime = document.createElement('label');
            LabelTime.className = 'col-xs-1';
            LabelTime.innerHTML = ' à ';
            //INPUT TIME
            var inputTime = document.createElement('input');
            inputTime.setAttribute('name','timeRDV[]');
            inputTime.setAttribute('id',button.nextElementSibling.children[1].id +'_'+button.parentElement.children.length);
            inputTime.setAttribute('type','text');
            inputTime.className = "col-xs-4";
            //delete button
            var deleteButton = document.createElement('button');
            deleteButton.setAttribute('onclick','if(this.parentElement.parentElement.children.length > 2){this.parentNode.parentNode.removeChild(this.parentNode);}');
            deleteButton.setAttribute('type','button');
            deleteButton.className = "col-xs-offset-1 col-xs-1";
            deleteButton.innerHTML = '-';

            //append
            divContainer.appendChild(LabelDate);
            divContainer.appendChild(inputDate);
            divContainer.appendChild(LabelTime);
            divContainer.appendChild(inputTime);
            divContainer.appendChild(deleteButton);

            button.parentNode.appendChild(divContainer);
        }
    }
    $(document).on( "focus", "input[name='dateRDV[]']:not(.hasDatepicker)", function() {
        //toastr.info( "Initializing " + this.id );

        $( this ).datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            monthNames: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            monthNamesShort: ["01","02","03","04","05","06","07","08","09","10","11","12"],
            onClose: function(dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay));
            }
        });
    });

    $(document).ready(function(){
        window.parent.document.getElementById('iframe').style.left ='0';
        window.parent.document.getElementById('iframe').style.top ='32px';
        window.parent.document.getElementById('iframe').style.height ='calc(100% - 32px)';
        window.parent.document.getElementById('iframe').style.position ='fixed';
        window.parent.document.getElementById('iframe').style.visibility ='visible';
        $("#paginationContainer").customPaginate({
            itemsToPaginate : ".Liste",
            activeClass : "active-class"
        });

    });

    function AfficherChat(idApp,idMission,Societe,Appre,ImgApp){

        //alert(idApp+' / '+idMission);

      document.getElementById('lblSociete').innerHTML=Societe;
        document.getElementById('lblApp').innerHTML=Appre;
        document.getElementById('imgApp').src=ImgApp;

        var NameDivMsg = 'App'+idApp+'_Mission'+idMission;

        var i=0;
        var IdDivMsg=''
        var ClassDivSent='row msg_container base_sent';
        var ClassDivReceive='row msg_container base_receive';
       //class="row msg_container base_receive
        //class="row msg_container base_sent
        for(i=0 ; i < document.getElementsByName(NameDivMsg).length;i++)
        {

            IdDivMsg=IdDivMsg+"|;|"+document.getElementsByName(NameDivMsg)[i].id+"|;|"

        };


        for(i=0 ; i < document.getElementsByClassName(ClassDivSent).length;i++)
        {
            if ( !(IdDivMsg.includes('|;|'+document.getElementsByClassName(ClassDivSent)[i].id+'|;|'))){

                document.getElementById(document.getElementsByClassName(ClassDivSent)[i].id).style.display='none';
            }else{
                document.getElementById(document.getElementsByClassName(ClassDivSent)[i].id).style.display='block';

            }

        };

        for(i=0 ; i < document.getElementsByClassName(ClassDivReceive).length;i++)
        {
            if ( !(IdDivMsg.includes('|;|'+document.getElementsByClassName(ClassDivReceive)[i].id+'|;|'))){

                document.getElementById(document.getElementsByClassName(ClassDivReceive)[i].id).style.display='none';
            }else{
                document.getElementById(document.getElementsByClassName(ClassDivReceive)[i].id).style.display='block';

            }

        };
        // mon javascript ici

    }




    function fermeture(){
        var form = document.getElementById('PopUpCompteRendu');
        for(var i = 0; i< form.childElementCount; i++){
            form.children[i].style.display = 'none';
        }
        document.getElementById('OUI_NON_button').style.display = 'block';
    }


    function OrdreDeRemplirCR(id,rdv){
        ShowWaiter();
        var route = '{{ path('OrdreCompleterCR',{'idUser':'_IDUSER','idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDUSER',id);
        route = route.replace('_IDRDV',rdv);
        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){
                    alert('le message a été envoyé correctement!')
                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })
    }
    function ConsulterCR(id){
        ShowWaiter();
        var route = '{{ path('ConsulterCR',{'idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDRDV',id);
        $.ajax({
            type: 'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                var container = document.getElementById('ComptesRenduContainer');
                container.innerHTML = '';

                for(var i = 0; i < data.length; i++){
                    var label = document.createElement('label');
                    label.style.color = '#2A76CC';
                    label.style.textTransform = 'uppercase';
                    label.style.float = 'left';
                    label.innerHTML = data[i][0] + ' - ' + data[i][2];

                    var textarea = document.createElement('textarea');
                    textarea.style.backgroundColor = '#e4b9b9';
                    textarea.innerHTML = data[i][1];

                    var divCompteRendu = document.createElement('div');
                    divCompteRendu.style.marginBottom = "20px";
                    divCompteRendu.appendChild(label);
                    divCompteRendu.appendChild(textarea);

                    container.appendChild(divCompteRendu);
                }
                show('ConsultationCompteRendu');
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
            }
        })
    }
    function search(mot){
        var mots = mot.toUpperCase().trim().split(/ +/g);
        var Recherches = document.getElementsByName('Recherche');
        for(var i = 0; i < Recherches.length; i++)
        {
            var score = 0;
            Recherches[i].parentNode.classList.remove('hidden');
            var recherchermot = Recherches[i].innerHTML.toUpperCase().trim().split(/,+/g);
            for(var k = 0; k< recherchermot.length; k++)
            {
                for(var j = 0; j< mots.length;j++)
                {
                    if (stringWith(recherchermot[k], mots[j])) {
                        score++;
                    }
                }
            }
            if(score === 0 ){
                Recherches[i].parentNode.classList.add('hidden');
            }
        }
        $(".Liste").show();
        $("#paginationContainer").html('<button  class="blue" style="background:white;color:#257ef0;border:1px solid #ccc;height:40px;width: 40px;float: right;" type="button" ><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>').customPaginate({
            itemsToPaginate : ".Liste:not(.hidden)",
            activeClass : "active-class"
        });

        var locations =[];
        var loc, map, map_localisation, marker, infobox;
        var idMRDestinataire;

        $(".slide").click(function(){
            document.getElementById('info_mission').style.visibility= 'hidden';
            {% if is_granted('ROLE_CONTACT_MISSION') or is_granted('ROLE_RECRUTEUR') %}
            document.getElementById('apprenants_mission').style.visibility= 'hidden';
            {% endif %}
            document.getElementById('map').style.visibility= 'hidden';
            document.getElementById($(this).attr("data-show")).style.visibility= 'visible';

            for(var i = 0; i < infoWindows.length ; i++){
                infoWindows[i].close();
            }
            var target = $(this).offset();

            $("#baronglet").animate({left: "+="+(target.left - $("#baronglet").offset().left)},500)
            sessionStorage.setItem('OngletMission',$(this).attr('id'));

        });


        google.maps.event.addDomListener(window, 'load', initialize);

    }
    function RelancerApp(idApp,idMission){



        var route= '{{ path('RelancerApp',{'idApp':'_idApp','idMission':'_idMission'}) }}';
        route=route.replace('_idApp',idApp);

        route=route.replace('_idMission',idMission);
        ShowWaiter();
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },
            success: function(){alert("le message a été envoyé à l'apprenant.");DeleteWaiter();}
        });


    }
    function RelancerTuteur (idTuteur,idMission,idApp){

        var route= '{{ path('Relancer_Tuteur',{'idTuteur':'_idTuteur','idMission':'_idMission','idApp':'_idApp'}) }}';
        route=route.replace('_idApp',idApp);
        route=route.replace('_idTuteur',idTuteur);

        route=route.replace('_idMission',idMission);
        ShowWaiter();
        $.ajax({
            type: 'get',
            url: route,
            error: function (response) {
                console.log(response);
            },

            success: function(){alert('le message a été envoyé au tuteur.');DeleteWaiter();}

        });


    }

    function RemplirCR(idUser1,idUser2,idRdv){



        ShowWaiter();
        var route = '{{ path('OrdreCompleterCR',{'idUser':'_IDUSER','idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDUSER',idUser1);
        route = route.replace('_IDRDV',idRdv);
        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){

                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })

        var route2 = '{{ path('OrdreCompleterCR',{'idUser':'_IDUSER','idRDV':'_IDRDV'}) }}';
        route2 = route2.replace('_IDUSER',idUser2);
        route2 = route2.replace('_IDRDV',idRdv);
        $.ajax({
            type:'post',
            url: route2,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){

                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })


    }

    function RemplirCRUser(idUser,idRdv){

        ShowWaiter();
        var route = '{{ path('OrdreCompleterCR',{'idUser':'_IDUSER','idRDV':'_IDRDV'}) }}';
        route = route.replace('_IDUSER',idUser);
        route = route.replace('_IDRDV',idRdv);
        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){
                    alert('le message a été envoyé correctement!');
                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })

    }
    function AccepterApp(idApp,idMission){


        ShowWaiter();
        var route = '{{ path('AccepterApp',{'idApp':'_IDAPP','idMission':'_IDMISSION'}) }}';
        route = route.replace('_IDAPP',idApp);
        route = route.replace('_IDMISSION',idMission);
        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){
                    alert('Traitement effecuté !');
                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })

    }

    function RefuserApp(idApp,idMission){

        ShowWaiter();
        var route = '{{ path('RefuserApp',{'idApp':'_IDAPP','idMission':'_IDMISSION'}) }}';
        route = route.replace('_IDAPP',idApp);
        route = route.replace('_IDMISSION',idMission);

        $.ajax({
            type:'post',
            url: route,
            error: function(){
                DeleteWaiter();
                alert('une erreur s\'est produite, veuillez réessayer plus tard!');
            },
            success:function(data){
                if(data==1){
                    alert('Traitement effecuté !');
                }
                else{
                    console.log(data);
                }
                DeleteWaiter();
            },
            error:function(){
                alert('Une erreur s\'est produite sur le serveur');
                DeleteWaiter();
            }
        })

    }

    function informationApprenant(image,civilite,nom,prenom,email,telephone,Datenaissance,cpnaissance,lieuNaissance,adresse,message,Msgstatut,score) {

        if(image != ''){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        }
        else if( civilite == 'Mme' || civilite =='Madame' || civilite == 'Mademoiselle'){
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/femme.jpg') }}';
        }
        else{
            document.getElementById('formFicheApprenant').getElementsByTagName('img')[0].src ='{{ asset('image/homme.jpg') }}';
        }


        document.getElementById('Information_Apprenant_Civilite').innerHTML = civilite;
        document.getElementById('Information_Apprenant_Nom').innerHTML = nom;
        document.getElementById('Information_Apprenant_Prenom').innerHTML= prenom;
        document.getElementById('Information_Apprenant_Email').innerHTML = email;
        document.getElementById('Information_Apprenant_Telephone').innerHTML =telephone;
        document.getElementById('Information_Apprenant_DateNaissance').innerHTML =Datenaissance;
        document.getElementById('Information_Apprenant_CpNaissance').innerHTML =cpnaissance;
        document.getElementById('Information_Apprenant_LieuNaissance').innerHTML =lieuNaissance;
        document.getElementById('Information_Apprenant_Adresse').innerHTML =adresse;
        document.getElementById('Information_Apprenant_titre').innerHTML= nom +' '+ prenom;
        document.getElementById('Information_Apprenant_titre_adresse').innerHTML = adresse;






        if(marker)
        {
            marker.setMap(null);
        }

        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': adresse }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                marker = new google.maps.Marker({
                    map: map_localisation,
                    position: results[0].geometry.location,
                    visible: true,
                    //icon: '{{ asset('image/highscore_marker.png') }}'
                    icon: '{{ asset('image/') }}scores/'+score+'.png'
                });
                map_localisation.setCenter(results[0].geometry.location);
            }
            else {

                alert('Nous n\'avons pas réussi à localiser l\'adresse l\'apprenant qui est : ' + adresse);
            }
        });
        google.maps.event.addDomListener(window, 'load', initialize);
    }
    function informationMission(image,intitule,raisonsoc,descriptif,codemission,adresse,ville,cp,message,Msgstatut) {
        document.getElementById('FicheMission').getElementsByTagName('img')[0].src ='data:image/jpg;base64,' + image;
        document.getElementById('Information_Mission_Descriptif').innerHTML = descriptif;
        document.getElementById('Information_Mission_Intitule').innerHTML= intitule;
        document.getElementById('Information_Mission_titre_raisonsoc').innerHTML= raisonsoc;
        document.getElementById('Information_Mission_code').innerHTML= codemission;
        document.getElementById('Information_Mission_titre_adresse').innerHTML = adresse +', '+ cp +' '+ ville;

        if(marker_societe)
        {
            marker_societe.setMap(null);
        }
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({'address': adresse }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                marker_societe = new google.maps.Marker({
                    map: map_mission,
                    position: results[0].geometry.location,
                    visible: true,
                    icon: '{{ asset('image/societe.png') }}'
                });
                map_mission.setCenter(results[0].geometry.location);
            }
            else {
                alert('Nous n\'avons pas réussi à localiser l\'adresse l\'apprenant qui est : ' + adresse);
            }
        });
    }
    function initialize() {
        map_localisation = new google.maps.Map(document.getElementById("Localisation"), {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        map_mission = new google.maps.Map(document.getElementById("Localisationmission"), {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>