<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminecole.css') }}" />
    {% block CSS %}{% endblock %}

    <title>HUB3E - {% block title %}Home{% endblock %}</title>

</head>
<body>

<div class="container" style="padding: 0;">
    <div class="row" style="background-color:  rgb(238, 241, 246);margin: 0;overflow-y: auto;height: 100%">

        <div class="col-xs-12 Liste">
            <div class="row">
                <label class="cell" >Licence : <label>{{ licence.getId }}</label></label>
                <label class="cell">Libelle : <label>{{ licence.getLibelle }}</label> <button style="float: right" type="button" data-toggle="collapse" data-target="#licence"></button></label>

            </div>
            <div id="licence" class="collapse in" >
                <div class="row">
                    <label class="cell">Nombre max d'apprenants : <label>{{ licence.getMaxapp }}</label></label>
                    <label class="cell">Nombre max de mission  : <label>{{ licence.getMaxmission }}</label></label>
                </div>
                <div class="row">
                    <label class="cell">Date de début : <label>{{ licence.getDatedebut }}</label></label>
                    <label class="cell">Date de fin : <label>{{ licence.getDatefin }}</label></label>
                </div>
            </div>
        </div>



    </div>

</div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>